[2022-04-27 20:18] PeculiarE commented on #406
Thank you @on2onyekachi 😄 ❤️. Your message is timely, encouraging, and very much appreciated 🎉 . Thank you for the mention, I had fun contributing and helping out (and being helped as well 😆 ). Truly, 'what we learn with pleasure, we never forget' 👍

[2022-04-28 10:41] shubhangi013 opened #407 "enhance the encouraging message"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-04-28 15:08] TildaDares commented on #405
Hi @Deepthi562, go ahead but take note that indentation should be two spaces deep. Thanks!

[2022-04-28 15:11] #362 closed

[2022-04-28 22:42] Dustpie commented on #225
Hello, can I work on this project?

[2022-04-29 06:11] TildaDares commented on #225
Hi @hvdoshi, are you still interested in working on this?

Hi @Dustpie, while we wait for @hvdoshi’s response you can request for an issue in https://github.com/publiclab/plots2/issues/11105 and we’ll look for one for you. Thanks!

[2022-04-29 11:25] Somya-Singhal commented on #406
Thank you @on2onyekachi , for encouraging all of us through your amazing thought. You said it right that we should never stop and keep learning from our failures.

[2022-04-29 14:21] jywarren commented on #406
So true, and thank you for this!!!

It's been a busy few weeks and thank you all so much for all the hard work that's gone into these weeks. We're very grateful for your time and perseverance!

[2022-04-29 16:04] Somya-Singhal commented on #39
I have gone through the [link](https://developer.mozilla.org/en-US/docs/Web/API/MediaDevices/getUserMedia#Parameters) you provided above and found that we could some more features like:
1) implement it in a way that it could also be used in old browsers also.

2) In some cases, lower frame rates may be desirable, so we could add bandwidth restrictions.
`var constraints = { video: { frameRate: { id

[2022-04-30 05:47] shubhangi013 commented on #407
Right, I was hoping the message could be more clear or bolder somehow.

[2022-04-30 09:03] TildaDares commented on #407
Hi @shubhangi013, we could make the text bold by adding two asterisks before and after it.

[2022-05-01 11:15] shubhangi013 commented on #407
Oh right! yes. I'll edit this

[2022-05-01 17:59] cesswairimu commented on #406
Hi @Somya-Singhal, sure thing, feel free to open one today or tomorrow. Thanks all

[2022-05-02 03:00] Somya-Singhal opened #409 "Weekly Community Check-In #140 - Persistence and Patience"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2022-05-02 03:03] Somya-Singhal commented on #406
Thank you @cesswairimu, for giving me this opportunity. I have opened weekly community check-in [here](https://github.com/publiclab/infragram/issues/409)

[2022-05-02 07:50] TildaDares commented on #407
Thanks @shubhangi013. Great work!!

[2022-05-02 07:51] TildaDares commented on #407
Reserved for @danjkim21 for 24 hours!

[2022-05-02 13:08] danjkim21 commented on #407
Hi all, I've submitted my pull request for this issue. Please let me know if this looks ok or if you would like me to make any changes. Thank you!

[2022-05-02 13:42] SHIVANGISINGH1 commented on #409
Very inspiring thought @Somya-Singhal ❤😊, I remember one great saying which fits in perfectly "All great achievements require time". If we believe in something we should not give up but try harder and someday we will see the result of our hard work. ✌

Thank you so much for sharing 🙇‍♀️❤

[2022-05-02 14:43] Somya-Singhal commented on #409
Thank you @SHIVANGISINGH1😃😃

[2022-05-02 15:54] #407 closed

[2022-05-03 09:52] cesswairimu commented on #406
Great :tada: , thanks @Somya-Singhal.  Moved to https://github.com/publiclab/infragram/issues/409.  Thanks all

[2022-05-03 09:52] #406 closed

[2022-05-04 01:17] PeculiarE commented on #409
Thank you @Somya-Singhal for sharing these pearls of wisdom ❤️ . Persistence and patience have paid off in more ways than one for me, especially during the past few days 😄 😄

[2022-05-04 20:23] on2onyekachi commented on #409
Awesome!, Thanks @Somya-Singhal

[2022-05-05 15:31] mittal-parth commented on #409
Beautifully written! Thank you @Somya-Singhal! ✨

[2022-05-06 11:31] Somya-Singhal commented on #409
Thank you @on2onyekachi @mittal-parth @PeculiarE. I am glad that you all liked it.

[2022-05-07 15:00] cesswairimu commented on #409
Hi all, great theme @Somya-Singhal, the two are really crucial esp in this career path,  thanks.
Would anyone like to open next week's check-in?

[2022-05-07 15:08] shefali12-ab commented on #409
Hey, @cesswairimu I would like to open next week's check-in.

[2022-05-09 07:24] cesswairimu commented on #409
Awesome :tada: @shefali12-ab please feel free to open any time today, Thanks

[2022-05-09 19:06] cesswairimu commented on #409
Moved to https://github.com/publiclab/plots2/issues/11122. Thanks all

[2022-05-09 19:06] #409 closed

[2022-05-17 05:38] simransia opened #412 "Weekly Community Check-In #142 : Teamwork"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2022-05-17 06:38] on2onyekachi commented on #412
@simransia  Thank you for this.

Really, engaging in teamwork activities helps to overcome doubts and insecurities about working with others. The understanding I have gained while working with others has provided me with increased confidence and inclination to undertake teamwork in my future career, allowing me to attain the benefits of teamwork in it.

[2022-05-17 09:37] simransia commented on #412
You're very welcome @on2onyekachi, and yes teamwork teaches us a lot!
It's my pleasure @akanbifatimah , thank you  for the appreciation!

[2022-05-17 09:53] kunmi02 commented on #412
Thank you @simransia. I am glad our path crossed during this phase.
This contribution period actually made me fall in love with open source and I am already thinking of following this path. I love the collaborative and bonding part cause I actually made a new friend.... shout to @akanbifatimah  🥳 🎉 🥂 🍾 🎊 .. Great lady on and off the screen... Hoping to connect with the other guys outside the commu

[2022-05-17 15:47] PeculiarE commented on #412
Thank you @simransia for this very important message and the mention ❤️

During and even after the contribution period, I did indeed reap the benefits of teamwork. Seeking clarifications and also offering help to fellow contributors helped hasten my understanding of the Ruby language and the projects in general, gave me ideas on how to fix a problem, and helped me make new friends 🥳 🥳

I personall

[2022-05-18 15:44] SHIVANGISINGH1 commented on #412
A very inspiring message on teamwork @simransia 😊👌

While contributing to open source, I have realized the importance of teamwork even more🙇‍♀️
Working with very helpful, kind, and supportive people is what makes open-source unique 😎💖. I can say that I have felt the strength of teamwork here so much more than at any other places I have worked before because at times I have felt left out in teams a

[2022-05-19 08:51] RaviAnand111 commented on #412
Very good topic @simransia, I agree with you totally, working in a team teaches you alot, conversation, how to move across ideas, etc.  I have learned alot in this community because of caring and supportive people here.

[2022-05-20 04:29] simransia commented on #412
Thankyou so much❤️ @kunmi02 , @Ishhha ,@PeculiarE, @illyShelly , @SHIVANGISINGH1 and @RaviAnand111 for sharing your own experiences and thoughts about teamwork. It was so good to read all of your comments! Also thanks for all the appreciation you gave to this community check-in message.😊
Let's stay together and rise together! 🌈🤜🤛✨

Cheers!!😍

[2022-05-20 17:10] cesswairimu commented on #412
Hi all and great check-in @simransia :heart: , thanks. I agree with everyone :100:  : I learn a lot from this community each week  and the teamwork and collaboration is so powerful.
Hi @Ishhha awesome :tada:,  you can find the template that we use to create [here](https://github.com/publiclab/plots2/issues/new/choose)(select the **Weekly Check-in** one ). You can open on Sunday evening or anytime

[2022-05-23 14:13] cesswairimu commented on #412
Hi @Ishhha , please feel free to open the check-in anytime today or let us know if you need any help. Thanks

[2022-05-24 18:31] jywarren commented on #412
Thank you so much for this check-in theme @simransia -- also agreed 💯 !!!! ⭐ ⭐ ⭐

[2022-05-29 22:49] cesswairimu commented on #412
Moved to https://github.com/publiclab/PublicLab.Editor/issues/863. Thanks all

[2022-05-29 22:49] #412 closed

[2022-06-02 15:52] stephaniequintana opened #415 "Infragram: Implement Full-Screen User Interface, Planning and Discussion"
Hi, everyone! 👋 😄  This is the Planning Issue for the [Outreachy Full-Screen UI Design](https://www.outreachy.org/outreachy-may-2022-internship-round/communities/public-lab/#design-a-new-full-screen-user-interface-for-infrag) for [infragram.org](https://infragram.org/). The project is in collaboration with the [GSOC Full-Screen UI and Video Upload](https://summerofcode.withgoogle.com/programs/2022

[2022-06-02 17:19] stephaniequintana commented on #415
@jywarren, @TildaDares, @cesswairimu - Please review and advise.
Also, I have written out a few [questions here](https://gist.github.com/stephaniequintana/dcdc084324f2fca79d3bd08ec288b4b4) - please let me know if there is a more convenient medium to communicate on. Thanks & I hope everyone is having a great day! 😄

[2022-06-02 20:54] jywarren commented on #415
Hi @stephaniequintana, this is looking really great. I like how you've noted parts of the project which may be part of the GSoC side of things. I think we should look to set up a meeting between you and @Forchapeatl to work out where the overlaps are, or which parts may be dependent on which other parts. My hope is that we can develop a working plan where different systems are well separated (the

[2022-06-02 21:24] jywarren opened #416 "Project Q&A"
Here are @stephaniequintana's questions from #415; I'll try answering them inline here!

## General

You're free to, however many may be old/outdated, irrelevant, etc. -- many were opened during the application phase and we could try to look through them so that ideas don't get totally lost, but generally I think we should Outreachy and GSoC application-related issues.

If you spend some time look

[2022-06-02 23:37] stephaniequintana commented on #416
Thank you, @jywarren (@TildaDares & @cesswairimu), I especially appreciate how positive and thorough your responses are, it makes a huge difference in our confidence and overall approach 🌟 💞 💥

Moving forward, I am going to postpone adding milestones to my planning issue until @Forchapeatl and I touch base and develop a more thorough plan, leading with and incorporating UI and Function separation

[2022-06-03 00:39] jywarren commented on #416
Hello! For now, you can just create a second index2.html file and don't
worry about connecting any of the functions yet. Using a second file will
mean you won't change anything that's already working... You'll have time
to get it working at least as well as the older version before thinking
about replacing it.

My approach is usually to wait a bit to have time to refine designs before
doing ui tes

[2022-06-03 01:32] stephaniequintana commented on #416
Sounds great! Thanks, Jeff, have safe and happy travels.

[2022-06-03 05:28] Forchapeatl commented on #415
Great work @stephaniequintana

[2022-06-03 06:03] Forchapeatl commented on #416
Please are we talking about writing tests for each functionality of the [Infragram/src/ui ](https://github.com/publiclab/infragram/tree/main/src/ui) directory ?

![image](https://user-images.githubusercontent.com/24577149/171795079-c4074b82-6ee9-4933-b9f0-a02b2e4a148d.png)

 Or testing for the expected output of each HTML element ?

[2022-06-03 06:28] stephaniequintana commented on #416
@Forchapeatl, both. I was concerned that my lack of experience w/testing would slow down the progression of the project. As a side goal, I'm very much aiming to to improve in this area.

I believe Jeff was just asking what your level of experience is (w/testing as a whole) and if this might be a side learning/improvement goal of your own.

Thank you for looking over my draft. I know you have one o

[2022-06-03 07:43] Forchapeatl commented on #416
Okay @stephaniequintana , I am familiar with the logic of  writing unit tests. I did it a while back with Golang for [Amass](https://github.com/owasp/amass/pulls?q=is%3Apr+author%3AForchapeatl+is%3Aclosed+sort%3Acreated-asc)  , using Javascript Jest would be quite similar.

[2022-06-04 22:58] jywarren commented on #416
Hi all! Yes, just getting an idea of what kind of testing you're interested
in, or experienced with. For some excellent examples of jest tests of UI,
you can take a look at the Editor project, at http://github.com/public
lab/PublicLab.Editor, which @narudesigns worked on recently! It walks
through steps like pressing buttons, etc. And you can also unit test the
functions in the ui folder, both are

[2022-06-05 07:56] Forchapeatl commented on #416
@jywarren  Thanks for the helpful resources. [https://github.com/publiclab/PublicLab.Editor](https://github.com/publiclab/PublicLab.Editor)

[2022-06-08 23:45] stephaniequintana commented on #416
@jywarren, @TildaDares, @cesswairimu, @Forchapeatl - Hi, all 👋

I need to know the best way to submit what I've done so far  - my branch is [sandbox-grid](https://github.com/stephaniequintana/infragram/tree/sandbox-grid). I connected Bootstrap through a CDN and wrote internal CSS...just not clear if I should open a PR or get feedback and make changes first. I'm not able to open it in a browser fro

[2022-06-09 09:50] Forchapeatl commented on #416
**Nicely done** @stephaniequintana . Here are some kind remarks.

- Please include screenshots/videoa of the UI  whenever possible. So that we can better understand your queries with  visual representations.

- Here is a [transparent bg](https://www.remove.bg/) of the Infragram logo
![infragram-logo-removebg-preview (1)](https://user-images.githubusercontent.com/24577149/172818602-70c487e0-8ce0-4e

[2022-06-09 19:48] cesswairimu commented on #416
Hi @stephaniequintana,
 on how to get feedback  - you could create an issue for the sandbox ui and post screenshots there or you could open a PR and mark it "[draft]" or "[wip]" and you can build on that, i think either would be okay.
on PL favorites icons  - I don't think we have those, maybe we could start collecting? on perfect icons, I wouldn't worry too much now about those now, you could use

[2022-06-09 20:23] stephaniequintana commented on #416
Thank you, @cesswairimu. I'll open a PR and we'll continue from there 😉

[2022-06-10 06:58] jywarren commented on #416
Hi, @stephaniequintana - lots of great questions and forgive me if I don't get to them all at once, but we can circle back and pick them up as we resolve them, i hope?

Regarding login flow, SWB is really nice. The issue is that IG is a static app, with no database, so it's hard to have stateful resources that make the SWB flow smoother (also, what's happening behind the scenes in SWB to make that

[2022-06-10 08:28] NARUDESIGNS commented on #416
@jywarren I think you can consider [Github Icons](https://primer.github.io/octicons/) or [Feather Icons](https://feathericons.com/).
They are both open source.

[2022-06-14 10:51] Forchapeatl opened #418 "GSoC Infragram.org full-screen UI and video upload Discussion and Planning"
Hi, everyone! This is the Planning Issue for the [Infragram.org: full-screen UI and video upload](https://summerofcode.withgoogle.com/programs/2022/projects/rP8hthBg) for [infragram.org](https://infragram.org/). The project is in collaboration with the [Outreachy proposal: Design a new full-screen user interface for Infragram.org](https://publiclab.org/notes/stefq1111/04-08-2022/outreachy-proposal

[2022-06-19 21:22] Forchapeatl opened #420 "Process Video Locally Infragram.org"
**Process Video Locally**
found at [https://forchapeatl.github.io/infragram/index2.html](https://forchapeatl.github.io/infragram/index2.html)

https://user-images.githubusercontent.com/24577149/174498132-3f0b65a8-a498-40e8-8fd3-6c8f0295fa56.mp4

- [x] Allow conversion of entire video.
- [x] Implement video controls on canvas.

**TEST RESULTS**

**Passed Test cases**
- video can be sleeked through

[2022-06-19 21:39] #420 closed

[2022-06-23 16:03] stephaniequintana commented on #415
@jywarren, @cesswairimu, @TildaDares -
Now that we've merged a working UI to build upon, I'd like to give more detail to this planning issue and be able to connect it to milestones. I'm not currently able to (the milestone link is disabled and I'm unable to open it). Do I need a specific permission?

[2022-07-02 09:00] jywarren opened #429 "Publishing to gh-pages"
Hi @stephaniequintana i'm documenting my steps here. I started in my own fork, https://github.com/jywarren/infragram/, and aiming to publish the latest https://github.com/publiclab/infragram/ main branch, and i'll comment the lines below to explain as I go.

[code]

OK, so now I think i'm in the same position you were -- https://jywarren.github.io/infragram/index2.html doesn't load any of the `nod

[2022-07-02 09:21] jywarren commented on #429
OK, wait... this is a mystery... so first i noticed that right now, neither https://github.com/stefq2/infragram/tree/gh-pages and https://github.com/stephaniequintana/infragram/tree/gh-pages have the latest commits (like json changes). So I'm just referencing my own published gh-pages at https://jywarren.github.io/infragram/

So the mystery is - https://jywarren.github.io/infragram/index2.html doe

[2022-07-02 09:28] jywarren commented on #429
OK, now watching https://github.com/jywarren/infragram/settings/pages and it's blue... and on refresh it's green and all published.

And it works!!! https://jywarren.github.io/infragram/index2.html

![image](https://user-images.githubusercontent.com/24359/176994711-2209f4b3-ec68-4273-a2f6-8905e4242e09.png)

OK, so you can follow the steps above if you like, OR you can just `git pull https://github

[2022-07-02 12:43] stephaniequintana commented on #429
Thank you, @jywarren

I took the shortcut you offered above and reset then pulled from your gh-pages branch.
My own gh-pages branch now points to the same commit as yours and bootstrap 5 is listed in the node modules folder, but the neither the main nor the v2_functions_connect branch are loading the modules for
[https://stephaniequintana.github.io/infragram/](https://stephaniequintana.github.io/i

[2022-07-02 12:47] jywarren commented on #429
Hmm, are you building it from the gh-pages branch? That's the branch with
the modules, so it should be the root.

On Sat, Jul 2, 2022, 3:43 PM Stephanie Quintana ***@***.***>
wrote:

[2022-07-02 12:54] stephaniequintana commented on #429
By :root, I'm referring to:

![Screen Shot 2022-07-02 at 7 49 50 AM](https://user-images.githubusercontent.com/81270711/177001528-03ab8e6b-6904-46ed-8858-85cdf5587fc3.png)

Here, I've always selected the branch I want published and assumed that the gh-pages branch was reference for the build.

Is this what you mean, that I need to change this :root to the gh-pages branch? Curious.

[2022-07-02 13:01] jywarren commented on #429
Yes that's right! GitHub pages is weird but the trigger to build is
supposed to be pushing to the selected branch; the ability to choose the
root is supposed to be just a configuration you do once and leave as is.
Choose gh-pages as the source!

On Sat, Jul 2, 2022, 3:54 PM Stephanie Quintana ***@***.***>
wrote:

[2022-07-02 13:02] jywarren commented on #429
Then, what is built and served is the gh-pages branch itself.

On Sat, Jul 2, 2022, 4:01 PM Jeffrey Yoo Warren ***@***.***> wrote:

[2022-07-02 13:06] stephaniequintana commented on #429
Ok. WOW! That worked... odd.

Now I'm just confused about how I show/build/display a specific branch. RN it's building the main branch, but how do I share the changes from another branch, like my v2_functions_connect branch? Again, in the past this is where I referenced the branch I wanted built...

[2022-07-02 13:10] jywarren commented on #429
Wait, why is it building the main branch?

Well, you can push new commits on top of the gh-pages branch, and sometimes
you need to rewind it first if there are conflicts. I think maybe it'll be
useful to try to talk through the mental model for how this works, maybe on
our Tuesday call? It's a weird system so seeing what it does step by step
from what your branches look like will help!

On Sat, Ju

[2022-07-02 13:16] stephaniequintana commented on #429
I haven't done that in the past, but it makes perfect sense. Again: curious.
I've definitely learned something today - so THANK YOU for that and I very much appreciate the time you spent on this. Have a great weekend and safe travels 🛸

[2022-07-10 12:12] bad-atnames0 commented on #225
Hi @TildaDares can i work on this issue ?

[2022-07-19 06:57] cesswairimu opened #433 "Weekly Community Check-In #148 - Coding Playlist"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2022-07-25 16:03] cesswairimu commented on #433
I listen [to this  a lot when coding](https://www.youtube.com/watch?v=Nllc4nwJZk8) It also have beautiful sceneries that I sometime watch on breaks.

Lets keep this check-in for another week. Thanks all

[2022-07-28 16:56] jywarren commented on #418
Hi @Forchapeatl - this is looking great. I wanted to ask for some clarification on the video portion - are we equally supporting uploaded video (through drag and drop) and live recorded video? Do they use almost all the same functions? If you can just give me a quick summary of this I'd love that!

Also I wanted to say, i know the panning has been challenging. If you want to take a break from it t

[2022-07-28 18:51] Forchapeatl commented on #418
Hello @jywarren . Thank you . Yes it works on recorded videos and live videos.
Please have a look at it here [https://forchapeatl.github.io/infragram/index3.html#](https://forchapeatl.github.io/infragram/index3.html#)

Okay . I will commence with Temasys immediately . Thank you.

[2022-07-29 06:53] RaviAnand111 commented on #418
Hey @Forchapeatl @jywarren , If there is anything can I help you too ?

[2022-07-29 13:28] jywarren commented on #418
Sounds great thank you Forcha!

@RaviAnand111 so helpful, thanks! Would you like to test out the version Forcha linked w both uploaded and live videos and let us know how it works?

[2022-07-29 13:35] jywarren commented on #93
Just updating that pixel 4xl cameras are now often under $200 used on Ebay. Also: it's a selfie cam, not a forward facing cam! And it looks like the camera is not exactly aligned with the visible light camera, so there would need to be significant software alignment to make this work:

https://www.forbes.com/sites/paulmonckton/2019/11/07/googles-pixel-4-has-a-secret-camera-mode/?sh=654808df303b

!

[2022-07-29 17:42] Forchapeatl commented on #418
Friday 29th July  2022.
Hi @jywarren.
Please here are a few of my worries
1.    I tested  the Publiclab [Spectral Workbench](https://spectralworkbench.org/capture/v2) on  an Apple phone (IOS 11). (chrome ans safari). but all I got was a blank webcam stream. Please am I missing something ?

![IMG-20220729-WA0046](https://user-images.githubusercontent.com/24577149/181814885-88ac96a3-8254-4241-b123-8

[2022-07-31 15:07] RaviAnand111 commented on #418
hey @Forchapeatl @jywarren , I tried to open the link @Forchapeatl gave https://forchapeatl.github.io/infragram/index3.html# , but I am unable to get any video, on uploading I am neither able to see an image nor video. In live video function as well, there is no video on screen just black screen.
I am using firefrox and Manjaro Arch Linux OS.
Thanks

[2022-07-31 15:12] Forchapeatl commented on #418
hello @RaviAnand111 you are off to a great start. It should work fine on Chrome.

[2022-07-31 23:44] Forchapeatl commented on #39
The integration of Temasys on infragram has been a success . Now iOs users can perform vegetation analysis over Webcam stream.

**Problem: only The first input frame is captured for both live stream and Prerecorded video on Safari (iOS)**

Hello @jywarren , @TildaDares  @cesswairimu  and @stephaniequintana  please help me test the webcam and local video behavior at your end [https://forchapeatl.gi

[2022-07-31 23:55] jywarren commented on #418
Oh hmm, @Forchapeatl is this possibly the error you're seeing on Safari? (BTW we may want to move to a different more specifically named issue for this?) https://github.com/publiclab/spectral-workbench.js/issues/266

I believe it had been working in Safari as of https://github.com/publiclab/spectral-workbench.js/pull/172#pullrequestreview-490769230, so I hope we can figure out what happened if it

[2022-07-31 23:56] jywarren commented on #418
@RaviAnand111 can you confirm that basic webcam access is working on your system with https://webrtc.github.io/samples/src/content/getusermedia/gum/ ? Thank you!

[2022-08-01 00:06] Forchapeatl commented on #418
@jywarren . Please have a look at this comment  [https://github.com/publiclab/infragram/issues/39#issuecomment-1200529321](https://github.com/publiclab/infragram/issues/39#issuecomment-1200529321) .

[2022-08-02 11:14] RaviAnand111 commented on #418
hey @jywarren, I tried to open this link https://webrtc.github.io/samples/src/content/getusermedia/gum/ and it seems to work neither on chrome nor on firefox. I tried to experiment with dev tools but got confused myself.

Hey @Forchapeatl, I tried this link  https://forchapeatl.github.io/infragram/index3.html# to run on chrome and it is working fine n chrome, the webcam is visible there, but I gue

[2022-08-02 11:18] RaviAnand111 commented on #39
Hey @Forchapeatl , I tried the link and its working great on chrome in Manjaro OS, both the image and live video.
Thanks

[2022-08-02 11:26] cesswairimu commented on #433
MOved to https://github.com/publiclab/plots2/issues/11315. Thanks all

[2022-08-02 11:26] #433 closed

[2022-08-02 12:24] stephaniequintana commented on #39
@Forchapeatl - I'm on a MacBook Air (macOS Catalina) and both uploading a video and connecting to the webcam are working great on Chrome and Firefox, but neither work on Safari.

For the webcam on Safari, I get a black screen after clicking the webcam button and when I try to upload a video (mp4) the selection is disabled in the file list and thus I am unable to select it. Perhaps this is a simple

[2022-08-02 17:50] jywarren commented on #418
Hmm, its strange that the webrtc demo/example isn't running -- but if https://forchapeatl.github.io/infragram/index3.html is working then your webcam drivers are probably OK. But the webrtc.github.io implementation should be the canonical/official correct usage, so that's concerning. I wonder if we should hold off for now on testing on Arch Linux, as it's not as common a platform? The original que

[2022-08-02 20:20] jywarren commented on #39
Hi @stephaniequintana if you don't first try to connect to a webcam, does video upload work normally in Safari? That is, is the attempt to connect to a webcam interfering with video upload, or does it not work at all in Safari? Thank you!

[2022-08-02 20:48] stephaniequintana commented on #39
@jywarren, I believe it's due to a bug in Safari that hasn't been addressed. I found [a short discussion on stack overflow](https://stackoverflow.com/questions/25385047/file-name-grayed-out-in-browse-window-when-try-to-upload-video-file-to-my-websit) (from 2014!!) about it - the suggested "solution" does not work for me - and am hoping it's isolated to macOS Catalina. I didn't dive deeper than thi

[2022-08-03 06:28] RaviAnand111 commented on #418
Hey @jywarren, I tried https://p5js.org/examples/dom-video-capture.html and it is working fine on firefox but not on chrome and chromium browser. I don't know what to conclude from this.

I guess I should try to find some official library which can be used for firefox and chrome on Arch Linux.
I think you are right, Arch Linux (Manjaro) is not a common OS and is used by very few so we can hold off

[2022-08-04 03:00] Forchapeatl commented on #39
@jywarren , @stephaniequintana  and @RaviAnand111 , I appreciate the feedbacks. Thank you!

[2022-08-04 03:20] Forchapeatl commented on #418
Hello  @RaviAnand111 . No worries. This  [ https://p5js.org/examples/dom-video-capture.html]( https://p5js.org/examples/dom-video-capture.html) example uses `invert` filters. It appears the filter intensity styles differently on various browsers. I send gratitude.

[2022-08-04 18:43] Forchapeatl opened #441 "**Image files are unable to load after camera stream.**"
**Image files are unable to load after camera stream.**

@jywarren , please i can't seem to diagnose the source of this unexpected behavior. Could you help me please?

https://user-images.githubusercontent.com/24577149/181921156-3801abe2-c445-4903-855a-f1611257ceef.mp4

_Originally posted by @Forchapeatl in https://github.com/publiclab/infragram/pull/439#discussion_r933833059_

[2022-08-04 20:47] Forchapeatl commented on #39
Hello @jywarren .
This is the implementation of P5.js  [https://forchapeatl.github.io/infragram/indexP.html](https://forchapeatl.github.io/infragram/indexP.html)

**Existing Limitations**

- `CreateCaputure( )` gets called only within the `setup( )` function.
- The `setup()` gets called once.
- Hence we can stream  once.
- We won't be able to toggle between camera  and video streams.

**References

[2022-08-04 22:24] jywarren commented on #39
I think this sounds great and if it works in safari iOS I'm super happy. I don't think it has to toggle back and forth. People can reload. Let's do this! Is it ready to merge?

I think it's interesting to know if it works on Firefox in Arch Linux but if it doesn't, let's try thinking on that in a separate issue/pr. Thanks all!

[2022-08-04 22:32] Forchapeatl commented on #39
@jywarren  Please I am abit confused.
P5.js or getUserMedia ? They both work on Safari

[2022-08-04 23:52] jywarren commented on #39
Regarding this shall we open it in a new issue? Thank you?

[2022-08-05 00:15] jywarren commented on #39
Oh I'm sorry, I thought p5.js uses getusermedia doesn't it? If you can do
it using getusermedia just like p5js implements it I think it will work
well, p5js is more an example of how to use it!

On Thu, Aug 4, 2022, 6:32 PM FORCHA ***@***.***> wrote:

[2022-08-05 00:15] Forchapeatl commented on #39
@jywarren It seems all libraries (Temasys, P5.js and getUserMedia) work fine on safari problem is
https://github.com/publiclab/infragram/blob/main/src/Infragram.js#L41

[2022-08-05 00:15] Forchapeatl commented on #39
Safari doesn't recognize `setInterval`

[2022-08-05 00:27] jywarren commented on #39
Oh whoa, really! Wild. It's listed ok here, it's a pretty fundamental JavaScript feature...

https://caniuse.com/?search=setinterval

[2022-08-05 00:29] jywarren commented on #39
But is it only safari iOS 6 then? Does that happen to be the version you're testing with?

[2022-08-05 00:29] jywarren commented on #39
Maybe if it's just the one ios version that's older, we can live with it?

[2022-08-05 00:31] Forchapeatl commented on #39
Yes. I works on chrome IOS smoothly. But on safari nothing happens after capturing the first frame. Please have a look here  [https://forchapeatl.github.io/infragram/indexs.html](https://forchapeatl.github.io/infragram/indexs.html)

[2022-08-05 00:31] stephaniequintana commented on #39
@jywarren

I don’t know how we could address it, but opening an issue is a good place to document that Safari on MacOS Catalina does not support video upload. We can also use it as a place to collect info on other Mac operating systems…(although my limited research leads me to believe it is isolated to Catalina)

[2022-08-05 00:32] Forchapeatl commented on #39
@stephaniequintana Please could you test this [https://forchapeatl.github.io/infragram/indexs.html](https://forchapeatl.github.io/infragram/indexs.html) . Just the webcam feature on your MacOS . please

[2022-08-05 00:36] stephaniequintana commented on #39
@Forchapeatl, it works like a charm 🚀

[2022-08-05 00:36] Forchapeatl commented on #39
@stephaniequintana , Please,please test  on all browsers currently existing on your MacOS. Please

[2022-08-05 00:39] Forchapeatl commented on #39
It doesn't work on my Phone Safari version 15.5. PLease could you try it on your phone. Sorry for the trouble.

[2022-08-05 00:46] stephaniequintana commented on #39
@Forchapeatl - No trouble at all, I'm glad I can help...
On my Mac, it works on Chrome and Firefox - but i'm still getting a black screen on Safari.
On my iPhone, it works with the Google Chrome app but it is just picking up the first frame on Safari.

[2022-08-05 00:47] Forchapeatl commented on #39
Thank you so much @stephaniequintana

[2022-08-05 00:48] stephaniequintana commented on #39
Is Safari the new Internet Explorer? 😆

[2022-08-05 01:17] Forchapeatl commented on #39
**Steaming works fine on Safari**

https://user-images.githubusercontent.com/24577149/182980699-7fe82a6d-c329-49d8-aa05-ea502a805e42.mp4

We have an issue with the `setInterval()` function. may be it doesn't update large buffers

[2022-08-05 22:49] jywarren commented on #39
Yes, let's just move ahead and open a separate issue for the Safari iOS thing. @Forchapeatl would you mind opening it? We may also be able to put a notice that it works in iOS Chrome, so people can still use it.

I think we'd better open a separate issue for this since it's not iOS, just so the two don't get confused with one another. @stephaniequintana would you mind?

Thanks, both of you!

[2022-08-05 22:50] jywarren commented on #441
OK, so i think when we start video mode, we begin a loop to fetch images from the video element. When we try to go back to upload mode, we need to find and halt that loop. Let me look...

Yes, we do it in this function:

https://github.com/publiclab/infragram/blob/f15add6ae6057bd99b4b1b930449f75ca974270e/src/Infragram.js#L34-L45

And that function is called from here:

https://github.com/publiclab

[2022-08-05 23:46] stephaniequintana opened #443 "Version 2 - video upload feature not supported on MacOS Catalina - Safari Browser"
Currently on Safari browser of MacOS Catalina:

When the upload button is clicked, all video selections listed in the file list are disabled (greyed out) and thus are not available for selection.

We would like to use this space to collect information on the video upload functionality of other Mac operating systems.

This issue will soon be updated with the interface link and instructions on how t

[2022-08-08 08:24] Forchapeatl opened #444 "**Steaming works fine on Safari** but **setInterval() is problematic**"
**Steaming works fine on Safari**  but **setInterval() is problematic**

https://user-images.githubusercontent.com/24577149/182980699-7fe82a6d-c329-49d8-aa05-ea502a805e42.mp4

We have an issue with the `setInterval()` function. may be it doesn't update large buffers

@jywarren  should I prepare a PR for  the good steaming functionality on safari but open an issue on `setInterval( )` malfunction on

[2022-08-10 21:52] PeculiarE commented on #433
I know I'm a bit late to the party on this one but I just wanted to say that I love listening to music and coding, but only as two separate endeavours 😆 😆

I can never seem to effectively do both at the same time. Probably because I'm more of a rap and hip-hop gal, and so most times I find myself singing and dancing to the songs rather than actually coding 🤣

But a must-have when I'm coding is a b

[2022-08-10 22:43] udyanojha commented on #433
I agree I used to play Snoop while doing DSA questions. Not suggested while coding 😂.
Then switched to no music mode it was effective.
Today after being stuck for too long, I switched genre to low-fi something, and it did the trick, head nodding and problem-solving.
Sometimes I take a brisk walk to clear my mind and let my subconscious do the job.

[2022-08-12 16:39] jywarren commented on #433
So true, lyrics especially are tough to have as background!!!

[2022-08-18 22:44] Forchapeatl opened #448 "Discuss write test on new Infragram UI"
Hello @jywarren . I needed your consultatation on a few request.

1. I have gained familiarity with the [src/ui](https://github.com/publiclab/infragram/tree/main/src/ui) directory, as a result I wish to plead that during this period I conduct jestjs on the files of that directory as I don't fully understand how to stimulate file uploads and camera feeds as per the [src/io](https://github.com/publi

[2022-08-18 22:53] jywarren commented on #448
Yes, i think testing the UI sounds great -- it's actually far more prone to
bugs and errors anyways. There are ways to simulate uploads and canvas, but
it's quite complex. You can see some of this at
https://github.com/publiclab/image-sequencer if you're interested, but it's
a lot of work to do!

On Thu, Aug 18, 2022 at 6:44 PM FORCHA ***@***.***> wrote:

[2022-08-18 22:55] Forchapeatl commented on #448
Thank you

[2022-09-02 17:47] #418 closed

[2022-09-08 08:49] ojninja16 commented on #310
I would like to work on it if no else is... @jywarren

[2022-09-08 21:05] jywarren commented on #310
Hi, thank you -- actually we have a new design already now, and perhaps you'd have some feedback on the design? https://publiclab.github.io/infragram/index2.html

![image](https://user-images.githubusercontent.com/24359/189225655-5871dda0-9668-45c5-8619-86569f17001d.png)

[2022-09-08 22:26] Forchapeatl commented on #416
Hello @jywarren , I need to delete all branches of my closed PRs so as to keep the code structure organized. Is that okay with you ?

[2022-09-08 22:41] jywarren commented on #416
Sure that sounds okay! Your local ones or your remote ones? If you're not
going to use any of the code anymore, or if it's already merged, then
that's fine!

On Thu, Sep 8, 2022, 6:26 PM FORCHA ***@***.***> wrote:

[2022-09-08 23:00] Forchapeatl commented on #416
These ones
![image](https://user-images.githubusercontent.com/24577149/189240355-5a8bb082-3db9-4f1a-a0e2-d58cdffedb78.png)

[2022-09-08 23:03] jywarren commented on #416
Those are your remote branches, yes it's ok to delete them!

On Thu, Sep 8, 2022, 7:00 PM FORCHA ***@***.***> wrote:

[2022-09-12 13:51] ojninja16 commented on #441
HI @Forchapeatl I would like to try ...if no one else is

[2022-10-02 16:08] Codebat-man commented on #225
Hey there! Thanks for supporting first-timers. Please invite me to contribute as well.

[2022-10-02 16:44] TildaDares commented on #225
Hi @Codebat-man, please request for an issue here https://github.com/publiclab/plots2/issues/11105. Thank you!

[2022-10-02 19:01] M1racle04 commented on #225
Hi  @TildaDares Please add my name to this list. Thank You

[2022-10-02 20:32] TildaDares commented on #225
Hi @Codebat-man, there’s an issue reserved for you in https://github.com/publiclab/Leaflet.DistortableImage/issues/1040 for 24 hours!

[2022-10-02 20:34] TildaDares commented on #225
Hi @M1racle04, there’s an issue reserved for you in https://github.com/publiclab/Leaflet.DistortableImage/issues/1041 for 24 hours!

[2022-10-10 09:12] THEDARKMAN007 commented on #225
Hi @TildaDares may I work on this issue

[2022-10-10 14:08] Jennifer-tech commented on #225
Hi @ TildaDares, may I work on this issue

[2022-10-10 15:39] Favour-Cay commented on #225
Can my name be added to the list? @TildaDares and can i work on this issue

[2022-10-11 09:09] jywarren commented on #39
But is it ios 6 only? Thanks for looking into it so carefully!!

On Thu, Aug 4, 2022, 8:33 PM FORCHA ***@***.***> wrote:

[2022-10-11 09:13] jywarren commented on #283
Sure please go ahead, thank you!

On Wed, Mar 30, 2022, 6:25 PM Victoria Ajala ***@***.***>
wrote:

[2022-10-11 09:21] jywarren commented on #429
In general I leave the root pointed at gh-pages, the default, and to
republish I just push new commits to gh-pages, which triggers republishing.

On Sat, Jul 2, 2022, 3:46 PM Jeffrey Yoo Warren ***@***.***> wrote:

[2022-10-11 14:27] sainamercy commented on #314
@TildaDares I've checked the file regarding this issue and there's one empty "p" tag. Can I create a first-timer-issue out of this

[2022-10-11 15:08] TildaDares commented on #314
Hi @sainamercy, yes you can. Thank you!

[2022-10-12 00:10] olamideazeez commented on #225
Hello @TildaDares can i work on this issue

[2022-10-12 06:19] sainamercy opened #474 "Remove empty paragraph tags"
### 💡First Timers Issue Only

****

Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out a

[2022-10-12 06:20] sainamercy commented on #474
@TildaDares please review if this will do

[2022-10-12 06:43] TildaDares commented on #474
Hi @sainamercy, this looks great. Can you specify what line the change will be made? Thank you!

[2022-10-12 06:57] sainamercy commented on #474
@TildaDares  done

[2022-10-12 06:58] TildaDares commented on #474
Amazing. Thank you @sainamercy!

[2022-10-12 06:59] TildaDares commented on #474
Reserved for @Julietadeboye for 24 hours.

[2022-10-12 07:00] TildaDares commented on #474
@sainamercy Would you like to inform @Julietadeboye in this issue https://github.com/publiclab/plots2/issues/11105 that they have an issue reserved for them?

[2022-10-12 07:01] sainamercy commented on #474
@TildaDares sure. thank you

[2022-10-12 07:29] Alwoch commented on #474
@TildaDares I would like to claim this issue please

[2022-10-12 08:44] Julietadeboye commented on #474
@TildaDares I will like to claim this issue

[2022-10-12 08:48] xiaodaiweiwei commented on #474
@TildaDares Can I also claim this issue? Thank you!

[2022-10-12 09:07] sainamercy commented on #474
@Julietadeboye  you should go ahead since this was reserved for you. For @xiaodaiweiwei  @onujoy14  @Alwoch  unfortunately you will have to wait to be assigned an issue

[2022-10-12 09:37] onujoy14 commented on #474
@sainamercy Okay, noted

[2022-10-12 10:38] Julietadeboye commented on #474
pull request created https://github.com/publiclab/infragram/pull/476
@TildaDares

[2022-10-12 13:31] Alwoch commented on #474
hi @sainamercy, I'm trying to find my way around the project and I'm requesting to send you an email with my questions iif you dont mind

[2022-10-12 13:39] sainamercy commented on #474
@Alwoch please do sainamercy@gmail.com

[2022-10-12 14:34] AminMusah commented on #415
@jywarren @stephaniequintana @Forchapeatl im an outreachy applicant and i would like to improve the Header and footer based on the recent trend of UI and UX in regard to the Homepage Design and Implementation.

[2022-10-12 15:11] Julietadeboye commented on #474
Hi @sainamercy  i made another pull request at https://github.com/publiclab/infragram/pull/477

[2022-10-12 15:31] sainamercy commented on #474
Seen it that's great

On Wed, 12 Oct 2022, 18:11 Juliet Adeboye, ***@***.***> wrote:

[2022-10-12 18:54] #474 closed

[2022-10-13 00:29] jywarren commented on #415
Hello @AminMusah thank you -- what specific suggestions do you have for the header and footer?

[2022-10-13 22:31] 7malikk commented on #264
Hello, @TildaDares Can i handle this as it is still open?

[2022-10-14 06:46] TildaDares commented on #264
Hi @7malikk, the README has been updated and no longer uses the formatting in the screenshot above. I think we can close this now as it has been resolved. Thank you!

[2022-10-14 06:46] #264 closed

[2022-10-15 18:07] lizwe-mac commented on #225
Hi,
May I please work on this issue?

[2022-10-25 17:03] sam2611 commented on #225
Hello @TildaDares , may I work on this issue?

[2022-10-28 10:42] AhVir commented on #225
hi @jywarren @TildaDares, I am interested in working on this issue!