[2018-04-24 13:50] jywarren opened #3 "URL.createObjectURL with media streams is deprecated and will be removed around July 2018"
infragram.js? [sm]:831 [Deprecation] URL.createObjectURL with media streams is deprecated and will be removed in M68, around July 2018. Please use HTMLMediaElement.srcObject instead. See https://www.chromestatus.com/features/5618491470118912 for more details.

https://www.chromestatus.com/features/5618491470118912

[2018-04-24 14:14] jywarren opened #4 "colormaps in WebGL are in shader.frag, not unified with JS colormaps"
https://github.com/publiclab/infragram/blob/d999550dc49569a5fd7189cdda0989aa61c7819b/dist/shader.frag#L12

We should figure out if this can be unified...

[2018-04-24 19:11] jywarren opened #5 "Connect up download() method to "Save" button"
OR just say right click the image to save!

[2018-05-05 03:12] jywarren opened #6 "optimization of webgl framerate"
Hi @pfoltyn ! Long time no see, I've done a very deep refactor of the original infragram code to be a node module and far more modular and I think more maintainable.

I wonder if you have any ideas about this -- the framerate seems lower than on infragram.org, and I wonder if I'm generating new contexts or something else redundant that's slowing things down.  I'd be grateful for a look through if

[2018-05-06 23:43] jywarren commented on #6
Ah, that makes sense! This is really helpful, thanks! And good luck w your
work!

On Sun, May 6, 2018, 7:20 PM pfoltyn <notifications@github.com> wrote:

[2018-10-01 06:52] avsingh999 opened #7 "Not mobile short window resolution responsive"
Improve this page
![infragram](https://user-images.githubusercontent.com/25536022/46273770-8e5ae580-c574-11e8-8a4f-f0b5b94ba18d.png)

[2018-10-02 06:36] avsingh999 opened #8 "Open link new Tab"
In this page there are some link's but they are only open same page it must be open new tab

https://github.com/publiclab/infragram/blob/eb9fc19f993616caf9aa0311f7468d33c4529253/index.html#L93

https://github.com/publiclab/infragram/blob/eb9fc19f993616caf9aa0311f7468d33c4529253/index.html#L208

https://github.com/publiclab/infragram/blob/eb9fc19f993616caf9aa0311f7468d33c4529253/index.html#L209

[2018-10-02 06:40] avsingh999 commented on #8
@jywarren  If it's valid please add label

[2018-10-03 17:46] vikul1234 commented on #8
@jywarren @avsingh999 can i work on this issue?

[2018-10-03 18:49] jywarren commented on #8
Sure, go ahead!

On Wed, Oct 3, 2018 at 1:47 PM vikul1234 <notifications@github.com> wrote:

[2018-10-03 18:53] #8 closed

[2018-10-06 15:46] DakshGondaliya opened #82 "Begin now and Get help & learn more buttons are collapse"
### Please describe the problem (or idea)
Begin now and Get help & learn more buttons are collapse to each other and also not responsive

### Screenshot 1
![collapse3](https://user-images.githubusercontent.com/25260367/46573000-a08db700-c9ac-11e8-9661-4472acb7bb93.PNG)
### Screenshot 2
![collapse2](https://user-images.githubusercontent.com/25260367/46573002-a71c2e80-c9ac-11e8-9dc3-1534d9038e66.PNG

[2018-10-08 19:25] ebarry opened #10 "not recognizing webcam from microscope"
Hi all,
I'm writing in to report some steps that i followed on https://infragram.org/sandbox/?webgl=true while attempting to view the webcam feed from the #communitymicroscope via infragram.org while on my Chromebook:

* I clicked the camera button on the webpage and chose "Raw" and clicked `Begin` button.
* The screen remained black, showing no variation from turning a bright light on and off dir

[2018-10-08 19:40] jywarren commented on #10
Hi, Liz - please try the non-webgl versino at https://infragram.org/sandbox

However, for basic microscope usage, this really is just a webcam viewer --
any standard webcam software will work, online or off. So if Infragram
doesn't work for you, you can go ahead and use whatever webcam software is
built in on your computer, or another online webcam site!

On Mon, Oct 8, 2018 at 3:26 PM Liz Barry <

[2018-10-08 20:08] ebarry commented on #10
Thanks! I can use the "camera" app on this Chromebook just fine, and i was surprised to discover that i also had Zoom somehow, and i could also select the camera using Zoom. Had to login with our account though.

[2018-11-07 19:07] jywarren opened #14 "Add a toggle-able grid overlay to the video feed"
On the demo, we should add a button with a "ruler" icon -- that turns on a grid overlay:

https://publiclab.github.io/infragram/

![screenshot 2018-11-07 at 2 06 26 pm](https://user-images.githubusercontent.com/24359/48154358-6dce2b80-e296-11e8-93da-e5debee47915.png)

Here's the code to do this:

[code]

We'll have to make it 'unclickable' too - there's a CSS property for that... to let clicks pas

[2018-11-07 19:11] jywarren commented on #14
Above this line!

https://github.com/publiclab/infragram/blob/7b0567b46b0a80f41e962bb1b5a78cc9d0b4853a/index.html#L162

Let's use the fontawesome icon class `fa fa-grid` for now!

[2018-11-08 08:06] mrtmrtmlck commented on #14
Hi! I would like to pick this issue 😊

[2018-11-08 14:14] jywarren commented on #14
Oh wow, that would be great!

On Thu, Nov 8, 2018, 3:06 AM mrtmrtmlck <notifications@github.com wrote:

[2018-11-08 17:54] #5 closed

[2018-11-08 17:54] jywarren commented on #6
This is fixed!!! It's quite fast now.

[2018-11-08 17:54] #6 closed

[2018-11-08 17:54] jywarren commented on #10
Closing this as it's for a different version of the software!

[2018-11-08 17:54] #10 closed

[2018-11-08 18:09] jywarren opened #15 "Add "click to adjust" for use with color calibration paper"
Planning this out...

1. clicking on a region (maybe later selecting a region by dragging...) and
2. filling out two coefficients for the reflectivity of the a. `visible` and b. `infrared` channels as [described in this post](https://publiclab.org/notes/nedhorning/07-22-2015/introducing-the-calibration-plugin-for-imagej-fiji)

An image might look like this:

![calibration image](https://publiclab.

[2018-11-08 19:14] jywarren commented on #14
Follow-up ideas:

* [ ] add a slider which changes the size of the grid by changing the `<img>` tag's width parameter.
* [ ] have a button which lets you "save" the size using `localStorage`.
* [ ] have it include metadata when it exports the image into Image Sequencer!

[2018-11-08 20:57] mrtmrtmlck commented on #14
Thanks for your guidance! I will work on this asap.

[2018-11-08 21:16] jywarren commented on #14
ah, you don't have to do all these at once -- sorry! i'm just excited about
next steps after this first one. Let's do it one at a time! Thank you!

On Thu, Nov 8, 2018 at 3:57 PM mrtmrtmlck <notifications@github.com> wrote:

[2018-11-11 16:55] mrtmrtmlck commented on #14
@jywarren Hi! I could find time yet for this issue. Could you please help me about how to run the application ? I cloned the repo and npm install but npm start or node Infragram.js commands do not work.

[2018-11-11 19:37] jywarren commented on #14
ah, ok -- what is your output from the commands? Can you paste it into a
https://gist.github.com?

On Sun, Nov 11, 2018 at 11:56 AM mrtmrtmlck <notifications@github.com>
wrote:

[2018-11-11 19:45] mrtmrtmlck commented on #14
sure, here it is:
https://gist.github.com/mrtmrtmlck/3c70d199f473f5ed964e159d13ce7d1c

[2018-11-12 20:03] gptshubham595 opened #16 "see here"
https://github.com/publiclab/infragram/blob/7b0567b46b0a80f41e962bb1b5a78cc9d0b4853a/index.html#L162

[2018-11-13 15:17] jywarren commented on #14
Oh, interesting... i see! You can actually run this only in the browser at the moment; perhaps the package.json file is misconfigured for `npm start` -- let me see.

can you try running it with `grunt serve`?

I'll try to set up a better `npm start` script, though. Good call.

[2018-11-16 21:05] mrtmrtmlck commented on #14
Thanks a lot! You may review my pull request

[2018-11-21 04:06] jywarren commented on #14
The initial step is now live! https://publiclab.github.io/infragram/

[2018-11-21 04:07] jywarren commented on #14
@MargaretAN9 - based on your work, take a look! A few steps to go to make it fully functional for scaling 👍 🎉

[2018-11-26 19:08] jywarren commented on #14
Oh awesome. the last one will be a follow-up issue we could break out.

I don't see all of them at https://github.com/publiclab/infragram/pull/19 -- did you push up additional commits somewhere else? Thanks so much!!!

[2018-11-26 19:10] jywarren opened #20 "include scale metadata when exporting image into Image Sequencer"
Based on the scale data for #14, we should add a "metadata" module and some scale info when exporting, so on this line:

https://github.com/publiclab/infragram/blob/ba9f1a80686df826cce9ac426c821a999b00deda/index.html#L210

We also add something like:

`,metadata{scale: '...'}`

but we should think about how to express scale... is there some conventional formatting for scale data? Microns per pixel

[2018-11-26 19:12] mrtmrtmlck commented on #14
It was a pleasure! Actually, they're all in that commit. Which one don't you see ?

[2019-01-03 18:28] jywarren opened #39 "Integrate latest camera selection API from getUserMedia"
Potentially using a new getUserMedia shim library?

https://developer.mozilla.org/en-US/docs/Web/API/MediaDevices/getUserMedia#Parameters

Maybe using https://developer.mozilla.org/en-US/docs/Web/API/MediaDevices/enumerateDevices

Code for this is here:

https://github.com/publiclab/infragram/blob/f6f7919493b5ab9e7cc8fc873f8bddf3ff5f4599/src/io/camera.js#L30-L41

We can apparently also specify dif

[2019-01-03 19:43] gauravano commented on #16
@gptshubham595 please update the issue. Thanks!

[2019-01-05 10:09] gauravano commented on #7
Hi @avsingh999, would you like to work on this one? Thanks!

[2019-01-05 10:12] gauravano opened #40 "Add more information in the Readme to make contributions easy"
Currently. readme contains only little information which makes it difficult to new contributors to get clarrity of the project.

Inspiration for Readme can be taken from - https://github.com/publiclab/plots2/blob/master/README.md

Any help will be appreciated. Thanks!

[2019-01-06 10:06] avsingh999 commented on #7
@gauravano  I will send pr soon

[2019-01-06 11:39] gauravano commented on #7
Great!

[2019-01-09 21:28] jywarren opened #43 "Prototype a split-screen "VR" variant for Google Cardboard (fun)"
I've been wanting to run this in Google Cardboard, so you can view real-time as a kind of immersive experience. This would not be too complex, in theory; we could just put 2 canvases next to each other for a basic version.

![image](https://user-images.githubusercontent.com/24359/50929217-b33fde00-142a-11e9-956d-47be5038e859.png)

I've attempted this very roughly in this PR: https://github.com/pub

[2019-01-09 21:35] jywarren commented on #43
Notes on more complex ways to do this, which might be more optimized (for follow-up work):

* https://www.sitepoint.com/filtering-reality-with-javascript-google-cardboard/
* https://github.com/sitepoint-editors/RealityFilter

[2019-01-09 22:39] jywarren commented on #14
Hi, just checking on this - i don't see that the cells of the grid are square in the latest version. Is there a fix we might need to make?

![image](https://user-images.githubusercontent.com/24359/50934072-76c5af80-1435-11e9-9371-f188289ddd9c.png)

[2019-01-09 22:43] jywarren opened #45 "Error in video streaming"
I'm seeing an error when clicking the Webcam button:

[code]

On this line:

https://github.com/publiclab/infragram/blob/bfbae009cc01ca5eef4a7d2cb715324bbb06ae8d/src/io/camera.js#L88

I haven't changed anything so I wonder if part of the API for getUserMedia camera access has changed. Maybe we need to look at #39 to fix this?

[2019-01-09 23:46] #45 closed

[2019-01-09 23:56] jywarren commented on #14
I also noticed that the grid is expanding/contracting in only one dimension. Can we update it to adjust in 2 dimensions? Thank you!!

![infragram](https://user-images.githubusercontent.com/24359/50937079-4a636080-1440-11e9-98b7-9092d0fa44dd.gif)

[2019-01-10 06:56] mrtmrtmlck commented on #14
@jywarren I will check and inform you 👍

[2019-01-10 23:01] jywarren commented on #14
amazing. Many thanks.

On Thu, Jan 10, 2019 at 1:56 AM mrtmrtmlck <notifications@github.com> wrote:

[2019-01-12 15:08] avsingh999 opened #47 "Click on camera icon nothing happen in local machine"
![infa1](https://user-images.githubusercontent.com/25536022/51074844-083d5780-16aa-11e9-8e2a-14106934ec84.gif)

[2019-01-12 15:09] avsingh999 commented on #47
@jywarren  @SidharthBansal  I think there is an issue in local machine please check it.
Thank you : )

[2019-01-12 16:43] jywarren commented on #47
Ah, actually for security restrictions reasons it won't run locally via
file:/// - you have to run it with a web service like the http-server node
module. We should change that in the docs!!!

On Sat, Jan 12, 2019, 10:10 AM Avkaran Singh <notifications@github.com
wrote:

[2019-01-12 18:20] avsingh999 opened #48 "Failed to execute 'getAttribLocation' error in local machine"
When I was opening https://github.com/publiclab/infragram/blob/main/index.html this file in my browser and inspect this page, then this showing this error
![infa2](https://user-images.githubusercontent.com/25536022/51076879-7db62180-16c4-11e9-8058-03df9ab373a0.gif)

[2019-01-13 13:13] grvsachdeva opened #49 "Add Code_of_conduct to this repository"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-01-13 13:15] gauravano commented on #47
Hi @avsingh999, please close the issue if your doubt is clarified. Thanks!

[2019-01-14 17:30] jywarren commented on #48
Agreed!

On Mon, Jan 14, 2019 at 8:26 AM Avkaran Singh <notifications@github.com>
wrote:

[2019-01-14 21:00] gauravano commented on #48
Let's close this one then :sweat_smile:. Thanks all!

[2019-01-14 21:00] #48 closed

[2019-01-14 21:02] gauravano commented on #16
Hi @gptshubham595 I have to close this one due to inactivity from long duration and incomplete details. If you want to reopen this and add more details, feel free to do so. Thanks!

[2019-01-14 21:02] #16 closed

[2019-02-10 09:20] RizwanSyed357 commented on #49
Hi, I'd like to work on this issue please, if no one else is? I have never contributed to open source and think this would an amazing place to start :-)

[2019-02-10 11:30] gauravano commented on #49
Welcome to Public Lab @RizwanSyed357! We will try to make your first Open Source contribution as awesome as possible. Thanks!

[2019-02-10 16:06] RizwanSyed357 commented on #49
Cheers @gauravano , I appreciate it :)

[2019-03-09 17:04] jywarren commented on #14
I've started an attempted fix here but didn't make a lot of progress. But I hope this is helpful! https://github.com/publiclab/infragram/pull/56

[2019-03-26 15:36] jywarren opened #58 "Can't select a camera in Safari"
Could need to refactor which getUserMedia shim we're using!

https://github.com/addyosmani/getUserMedia.js/ is what it was built on, but can check package.json to see the current version we're using!

https://github.com/publiclab/infragram/blob/bbbe71d1c890702d8cb6a082c2e023c7752a6b55/package.json#L29

https://www.npmjs.com/package/getusermedia-js

[2019-05-05 17:13] jywarren opened #67 "Add wake lock for some browsers in VR mode"
https://whatwebcando.today/wake-lock.html

https://github.com/Fyrd/caniuse/issues/2623

https://developer.mozilla.org/en-US/docs/Archive/B2G_OS/API/Wake_Lock_API

[2019-05-05 17:15] jywarren commented on #67
https://stackoverflow.com/questions/41810241/how-to-use-the-experimental-wake-lock-api-on-chrome-browser#42032512

[2019-05-05 17:16] jywarren commented on #67
And ooooo a shim using a video... https://davidwalsh.name/wake-lock-shim

[2019-05-05 17:17] jywarren commented on #67
https://developers.google.com/web/updates/2018/12/wakelock

[2019-05-05 18:05] jywarren commented on #67
Oops looks like a new version was released and broke this again?

[code]

[2019-08-01 11:15] jywarren commented on #14
OK, I think I got this working here: https://github.com/publiclab/infragram/pull/76

[2019-08-01 11:18] #14 closed

[2019-08-01 11:32] jywarren commented on #14
And updated at https://publiclab.org/notes/MaggPi/06-23-2018/microscope-calibration-overlays-what-s-the-best-approach

[2019-08-03 21:21] MargaretAN9 opened #77 "cannot run later version of infragram?"
Hi, I cloned infragram but see a different version of the server page than
https://publiclab.github.io/infragram/.   The version I see looks like the picture below  and the grid feature doesn't work.
![image](https://user-images.githubusercontent.com/37722313/62416984-aa0a9e80-b612-11e9-80ed-dcb53e58d1dd.png)
Is there a differnet verion yet to be posted?

Thx

[2019-08-09 07:24] jywarren commented on #77
Ah hm, did you run "npm install" to get all the Bootstrap styles? It looks
like those may be missing, and if so, perhaps other dependencies are not in
your local copy? Sorry for slow reply as I'm traveling!

On Sun, Aug 4, 2019 at 3:22 AM MargaretAN9 <notifications@github.com> wrote:

[2019-09-06 15:18] debck commented on #40
@gauravano  I would like to work on this. Please assign this to me.

[2019-09-07 21:10] gauravano commented on #82
Let's keep it here in infragram. Anyone who wants to solve this one, please leave a comment below and go ahead. Thanks!!

Thanks @DakshGondaliya for updating.

[2019-09-13 16:24] #40 closed

[2019-11-11 06:49] pydevsg commented on #82
I would like to work on this @DakshGondaliya , @gauravano .
Can I work on this?

[2019-11-11 07:37] pydevsg commented on #82
@DakshGondaliya I went through this and I think this issue is fixed now.
![_20191111_130222](https://user-images.githubusercontent.com/40278255/68569401-fff9a880-0483-11ea-857a-6f50ed9e07b4.jpg)

[2019-11-11 08:21] pydevsg opened #86 "Add Installation in README file"
The current README file doesn't have a procedure for Installation of this project to run it locally.An installation setup should be written for helping the beginners run it locally.

[2019-11-11 08:22] pydevsg commented on #86
cc @jywarren
I would like to work on this.

[2019-11-11 08:41] pydevsg opened #87 "Upload an image button not working"
I ran  https://publiclab.github.io/infragram/ and was trying to see the working on this project by uploading an image in the `upload an image` button. But on clicking the button it isn't working.
I am using Google Chrome Browser and tried this on Opera as well but it seemed not to be working.

![Infragram_upload_button](https://user-images.githubusercontent.com/40278255/68572988-c4171100-048c-11ea

[2019-11-11 08:41] pydevsg commented on #87
@jywarren  what do you think ?

[2019-11-11 20:14] pydevsg commented on #20
@jywarren I can work on this , will it be okay to add a `initial-scale=0.86` , `maximum-scale=1` and `minimum-scale=0.86`. This will lead to horizontal scroll which will suppress in any orientation and the user can zoom in if they want to.

[2019-11-25 19:14] jywarren commented on #87
Ah sorry for slow response -- I think you're right, and we should fix this
-- i think currently it may only work if you drag an image onto it? Let's
try to highlight the section of code that's responsible for this!

On Mon, Nov 11, 2019 at 3:42 AM Sudipto Ghosh <notifications@github.com>
wrote:

[2019-11-25 19:17] jywarren commented on #86
That would be super!

On Mon, Nov 11, 2019 at 3:22 AM Sudipto Ghosh <notifications@github.com>
wrote:

[2019-11-26 04:47] pydevsg commented on #87
Okay will try to find out the code and refer here. Thanks for your response.

[2019-11-26 04:48] pydevsg commented on #86
You can see my PR - #88 which have resolved the same.
Thanks @jywarren .

[2019-11-26 15:56] #86 closed

[2019-12-01 22:54] govindgoel commented on #87
@pydevsg  Hi There I tried to found out the code for this issue and I have refrenced it here.
The link to the file: |https://github.com/publiclab/infragram/blob/main/index.html#L87-L98|
I will try my best If I would be able to help in this.
Happy Coding!

[2019-12-02 16:01] jywarren commented on #87
Oh, that would be great! We'd love a fix for this. Thank you!

On Sun, Dec 1, 2019 at 5:54 PM Govind Goel <notifications@github.com> wrote:

[2019-12-02 16:04] rexagod opened #89 ""Start by uploading an image source" popover on false localStorage flag"
Self-explanatory. Picked from https://github.com/p-v-o-s/infragram-js/blob/a4a2bacff7202342a68909d58dffbba3f5711515/todo.txt#L9

[2019-12-02 16:04] rexagod commented on #89
Uploaded to GCI dashboard.

[2019-12-02 16:09] rexagod opened #90 "Auto-stretch for webcam NDVI"
We'd like to propose an enhancement that allows infragram to initially spin up a full-width video section that resizes itself depending on the video resolution (should change to lesser widths if resolutions are unclear).

Picked from https://github.com/p-v-o-s/infragram-js/blob/a4a2bacff7202342a68909d58dffbba3f5711515/todo.txt#L10

[2019-12-02 16:09] rexagod commented on #90
Uploaded to GCI dashboard.

[2019-12-02 16:15] rexagod opened #91 "Eliminate Bootstrap to increase load times (and redesign landing page in plain HTML)"
A simple lighthouse audit will show that the current bootstrap framework does indeed:

- Use 99KBs than it should.
![image](https://user-images.githubusercontent.com/33557095/69975352-0ba13200-154d-11ea-9477-1a8f614acec1.png)

- Increases complete page load time by 4s.
![image](https://user-images.githubusercontent.com/33557095/69975334-02b06080-154d-11ea-9656-54c5def88af7.png)

[2019-12-02 16:21] rexagod opened #92 "Pivot to a "full-height/width mode" (all devices)"
In concurrence to #91, it would be a good approach to recognize the fact that the video output is at the center of the infragram and stripping away all the unnecessary CSS/JS from around that should affect load times only positively. One way of doing the same is starting the landing page in 100% vh vw output (image/video) with infragram's default control panel fixed to the bottom of the page.

The

[2019-12-02 16:21] rexagod commented on #92
Uploaded to GCI dashboard.

[2019-12-02 16:26] rexagod commented on #91
Uploaded to GCI dashboard.

[2019-12-02 16:45] jywarren commented on #91
a good example of a fast-loading page may be this one!
https://webjack.io/examples/

On Mon, Dec 2, 2019 at 11:27 AM Pranshu Srivastava <notifications@github.com>
wrote:

[2019-12-03 16:28] SidharthBansal commented on #92
Please make sure that the tasks follow the guidelines. Thanks for creating a lot of tasks @rexagod but I think many of them don't follow all the guidelines which we posted.
Like the labels are missing here, code links are missing, reserved for gci header text is missing etc.
Thanks
Sidharth

[2019-12-11 21:05] jywarren opened #93 "Integrate with pixel 4XL infrared camera!"
https://paul.kinlan.me/pixel-4xl-infrared-sensor-via-getusermedia/

[2019-12-12 23:19] jywarren commented on #93
![image](https://user-images.githubusercontent.com/24359/70751861-6120d000-1cff-11ea-800e-92c330fa76d8.png)

[2019-12-12 23:21] jywarren commented on #58
Also see this issue for related upgrades! https://github.com/publiclab/spectral-workbench.js/issues/87

[2019-12-26 20:13] VladimirMikulic opened #94 "Homepage is not responsive"
[Demo](https://streamable.com/8qkae)

User has to zoom in/out and scroll in order to see what the site is about.
Let's not forget that more than 50% of global traffic is from smartphones.

A responsive website is mandatory, not optional anymore :)

[2020-01-03 20:19] jywarren commented on #94
This is great, however we are making that page static so it has to work from a saved HTML copy of that page. This repository is for just the contents of https://infragram.org/sandbox but we can still manage this issue here. Thanks!

I want to open another one that may be more challenging - making the https://infragram.org/sandbox interface responsive too!

[2020-01-03 20:22] VladimirMikulic commented on #94
Alright, thanks.

[2020-01-03 20:23] jywarren commented on #94
Aha! Already exists! https://github.com/publiclab/infragram/issues/7

[2020-01-03 20:23] #94 closed

[2020-01-10 17:07] govindgoel commented on #87
@pydevsg @jywarren I found out that by changing the data toggle attribute value to "buttons" ,The upload a image button is working,Can you please help me out in these.

[2020-01-11 15:47] pydevsg commented on #87
Yeah @govindgoel . Please make a commit from your local branch and make a PR so that we can review and fix the bug. If you need any help feel free to ask :)

[2020-01-12 12:55] govindgoel commented on #87
@pydevsg  I have done that,thanks for the guidance.

[2020-01-13 09:38] blyatruski opened #96 "Upload image button is not working"
after the latest update on https://infragram.org/sandbox/ the "UPLOAD IMAGE " button has stopeed working .... it used to work fine bfore this update ...
<img width="1230" alt="Screenshot 2020-01-13 at 3 06 34 PM" src="https://user-images.githubusercontent.com/56097019/72245359-65018400-3616-11ea-81be-507cb11cad9a.png">

PLS FIX

[2020-01-13 22:08] jywarren commented on #96
Hi, if you drag your image onto the button it will work. We are working on
a broader fix for this as well, thank you for reporting.

On Mon, Jan 13, 2020 at 4:38 AM blyatruski <notifications@github.com> wrote:

[2020-01-13 22:42] jywarren commented on #87
Can you link us to your PR from here? Thank you! This is a critical fix!!!

On Sun, Jan 12, 2020 at 7:55 AM Govind Goel <notifications@github.com>
wrote:

[2020-01-13 22:47] jywarren commented on #96
Hi! I believe we've fixed this in https://github.com/publiclab/infragram/pull/95 -- thank you, we'll publish it shortly!

[2020-01-13 22:47] #96 closed

[2020-01-13 22:47] jywarren commented on #96
Can you confirm once we do? Thanks!

[2020-01-13 22:53] jywarren commented on #87
OH hm, I wasn't able to confirm that this worked in Chrome on a mac - it still doesn't open. I'm going to re-open, can others try this out? It's live at https://infragram.org/sandbox right now.

[2020-01-13 22:53] jywarren commented on #96
Actually i'm not sure that fixed it - we are tracking it over here - can you leave feedback there to help us narrow in on this? Thank you!

https://github.com/publiclab/infragram/issues/87

[2020-01-14 05:30] pydevsg commented on #87
@jywarren I would like to guve it a try.

[2020-01-16 00:29] jywarren commented on #87
please do! Thank you!

On Tue, Jan 14, 2020 at 12:30 AM Sudipto Ghosh <notifications@github.com>
wrote:

[2020-02-05 17:41] Ole2rup commented on #87
This problem still exists, it's quite annoying.

[2020-02-20 16:16] publiclab-mimi opened #99 "Unable to upload an image"
When trying to upload an image to Infragram nothing happens. I'm able to view through the camera fine. No dialog box opens or pop up is blocked when I press "upload image" in the toolbar. Same bug in safari and chrome.

[2020-02-20 16:17] publiclab-mimi commented on #99
This appears to be related to #87, merging.

[2020-02-20 16:19] publiclab-mimi commented on #87
Can confirm that this problem still exists. Unable to drag and drop an image or upload from Safari or Chrome.

[2020-02-20 16:19] #99 closed

[2020-02-20 16:26] govindgoel commented on #49
@gauravano  Code of conduct is still not added should i make a PR and close this issue.

[2020-02-27 19:02] steviepubliclab opened #100 "Upload image not working"
Hello,
I heard a report today that the "upload image" button in infragram isn't currently working

[2020-02-27 19:15] icarito commented on #100
Confirmed! It's as if the click event is not registered, nothing in the logs triggers when clicking.

[2020-03-10 16:34] cesswairimu opened #102 "Weekly community Check-In #51 - GSoC and Outreachy applications are open"
We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about their current week's

[2020-03-10 18:32] cesswairimu commented on #102
@Nevenem, @chirag-wadhwa, @Tlazypanda, @yogeshjdeshmukh, @omizrahi99, @cesswairimu, @theOpetunde, @sailahonkanen, @robin-natale, @avidler, @nstjean, @keshavsethi, @NitinBhasneria, @ccyccyccy, @sssash18, @JordanTFite, @krsudhanshu, @3ng7n33r, @Odisseuss, @imajit, @VladimirMikulic, @rehasantiago, @urvashigupta7, @HashTalmiz, @vinitshahdeo, @dragonwarp, @z-arnott, @JanviMahajan14, @mantinone, @Dougla

[2020-03-10 18:32] cesswairimu commented on #102
@Rishabh570 @sashadev-sky @vaibhavmatta @shubhscoder @aSquare14 @sidntrivedi012 @stefannibrasil @ViditChitkara @tech4GT @mridulnagpal @CoderJolly @namangupta01 @sagarpreet-chadha @Souravirus @MayankKashyap @siaw23 @ryzokuken @icarito @steviepubliclab, @ebarry, @jywarren, @sagarpreet-chadha, @JonathanXu1 @rexagod, @divyabaid16, @dinaelhanan, @oorjitchowdhary @publiclab/mentors @publiclab/image-sequ

[2020-03-10 18:33] cesswairimu commented on #102
stevenalila, @Digiox, @NitinBhasneria, @yandu31, @milosv1, @jamescapps, @Tlazypanda, @Nevenem, @chirag-wadhwa, @yogeshjdeshmukh, @omizrahi99, @cesswairimu, @theOpetunde, @sailahonkanen, @robin-natale, @avidler, @nstjean, @keshavsethi, @ccyccyccy, @sssash18, @JordanTFite, @krsudhanshu, @3ng7n33r, @Odisseuss

[2020-03-16 14:32] alaxalves opened #105 "Create containerized environment to develop"
Create a sample docker yaml in order to get an isolated Infragram environment to work on.

[2020-03-16 14:32] alaxalves commented on #105
I'd like to work on that

[2020-03-16 20:37] publiclab-mimi commented on #100
This issue should be linked to #87

[2020-03-17 14:35] jywarren commented on #87
Hi all, I was able to upload on Mac OS Safari/Chrome by dragging an image onto the Upload button as shown here:

![image](https://user-images.githubusercontent.com/24359/76866747-f4a3f880-683a-11ea-9906-3ec505354127.png)

There is still definitely a bug in image selection but this particular workaround seemed to work for me. Is this not precisely what you're seeing? Thanks for helping to debug.

[2020-03-17 14:43] jywarren commented on #100
Let's merge these and collect info there, thank you!

[2020-03-17 14:43] #100 closed

[2020-03-17 15:28] jywarren commented on #87
Awesome. I think i fixed this. Can folks test it out at https://publiclab.github.io/infragram/

And if it works we'll publish this to infragram.org/sandbox too.

[2020-03-17 15:31] jywarren commented on #87
confirmed on Safari

[2020-03-17 15:38] jywarren commented on #87
This is now live on https://infragram.org/sandbox/ -- I'm going to close this! You should now be able to click the upload file button and select a file in the OS dialogue.

Thank you, and if you find other instances or variants or just new bugs, please be in touch!

[2020-03-17 15:39] #87 closed

[2020-03-23 20:07] cesswairimu commented on #102
Moved to https://github.com/publiclab/plots2/issues/7711

[2020-03-23 20:07] #102 closed

[2020-05-14 15:25] cesswairimu opened #109 "Wrong tag link to PL infragram uploads page"
On home page there is this  link "browse them here"

![Screenshot from 2020-05-14 18-19-09](https://user-images.githubusercontent.com/17081074/81952916-b430e300-960f-11ea-9e6b-aec174b6453d.png)

that links to https://publiclab.org/tag/infragram-uploads but there are no posts with that tag...but I believe the link should be https://publiclab.org/tag/infragram-upload that has posts

[2020-05-14 15:30] cesswairimu commented on #109
Actually seems like this is the more popular tag https://publiclab.org/tag/infragram

[2020-05-17 16:42] rimow commented on #109
hello @cesswairimu i am a first timer can I give this one a try? Thanks !

[2020-05-17 18:21] cesswairimu commented on #109
Hi @rimow sure...go ahead..Thanks

[2020-05-19 00:32] rimow commented on #109
hello @cesswairimu can i get a little help please ? i cloned this repo https://github.com/publiclab/infragram and searched everywhere to find the html code for the home page you mentionned but could not find it. Am I looking at the right place ? Thanks

[2020-05-22 23:34] Tlazypanda commented on #109
Hey rimow! did some digging and the best I could find was here https://raw.githubusercontent.com/p-v-o-s/infragram-js/master/views/index.jade but then again the alert message is not visible here too maybe @cesswairimu can help out :sweat_smile:

[2020-05-25 16:18] cesswairimu commented on #109
Thanks all..I tried checking too and I couldn't find it in this repo...not sure if we are using another source code for the live code...sorry about that
@rimow if you would like to work on another issue on any of our other repos let me know and I can find a first-timer-issue elsewhere. Thanks everyone again

[2020-05-25 21:48] rimow commented on #109
hello thanks @Tlazypanda and @cesswairimu for checking. I could not find any other unassigned first timer issue, if you have one i would be glad to work on it.

[2020-07-07 15:56] jywarren commented on #109
Ah, i think this is a static fix to a front page we aren't tracking in Git any more! But, I just made the change, thanks for catching it!!!

[2020-07-07 15:56] #109 closed

[2020-08-31 14:38] ebarry opened #121 "Request for feature: be able to stretch the NIR channel while processing"
Bringing over a user request from https://publiclab.org/questions/agentnightingale/08-26-2020/infragram-and-pi-noir-camera-ndvi-not-working

"The NIR channel was stretched while processing, something that cannot be done at Infragram." by @chrisfastie.

I'm sharing this here because poweruser Chris Fastie is one of the primary community support people on publiclab.org and frequently points our that

[2020-09-07 21:09] Colin-Fredericks opened #122 "Error while running HSV"
To replicate error:
Load https://infragram.org/sandbox/index.html in Firefox, Chrome, or Safari on Mac.
Open any image.
Switch the Analysis dropdown to HSV.
Click "Run"

Error in Firefox 80.0.1:
[code]

Error in Chrome 85.0.4183.83:
[code]

Error in Safari 13.0.5:
[code]

All running on MacOS 10.14.6

[2020-09-07 21:14] Colin-Fredericks opened #123 "Can only select an image once"
Steps to replicate:
* Open https://infragram.org/sandbox/index.html on Safari, Firefox, or Chrome on MacOS
* Click under "Source" to upload an image.
* At any later point, click the upload button again to pick a new image. Nothing will happen. No message is shown to the user, and nothing is printed to the console.

If the button is not intended to function twice, it should probably be set to disab

[2020-09-07 21:23] Colin-Fredericks opened #124 "Instructions do not match interactive"
I realize this is not strictly a programming issue, but the instruction video at https://publiclab.org/wiki/infragram-sandbox does not match the functionality or the interface of the interactive at https://infragram.org/sandbox/index.html , and that makes it awful hard to figure out what's going on. Infragram keeps giving me black, red, or blue boxes instead of usefully colored images, and I can't

[2020-09-08 13:25] Colin-Fredericks commented on #122
Helpful places to put a template:

* Auto-filled in the submission box.
* In the "Helpful resources" section
* Somewhere on the list of issues or the submission page
* In the root directory or in README.md

Unhelpful places to put a template:

* Wherever it is now.

[2020-11-06 23:12] jywarren commented on #39
Noting this was done in spectral-workbench.js here -- using Temasys - https://github.com/publiclab/spectral-workbench.js/pull/173

Also noting: https://github.com/webrtcHacks/WebRTC-Camera-Resolution

[2020-11-06 23:18] jywarren commented on #93
This should work with the regular Pixel 4 too, but not the 4a or 5: https://newatlas.com/mobile-technology/google-pixel-comparison4-4xl-4a-4a5g-5/

[2020-11-18 00:12] jywarren opened #130 "Allow different camera resolutions"
Building on https://github.com/publiclab/spectral-workbench.js/pull/173

[2021-04-03 04:21] reapedjuggler commented on #49
Can I work on this issue?

[2021-04-03 05:01] grvsachdeva commented on #49
Hi @govindgoel, sorry for missing your comment. I see you have already solved some issues at Public Lab so @reapedjuggler can take this one as their first-time contribution. Normally, we welcome collaboration on solving issues but this one is a small one 😄.

@reapedjuggler there is a PR already open for solving this issue - https://github.com/publiclab/infragram/pull/53 though that need more chang

[2021-04-03 06:11] reapedjuggler commented on #49
Thank you @grvsachdeva for assigning me this issue, Looking forward to contribute more in@publiclab :smiley:

[2021-04-03 06:55] reapedjuggler commented on #49
@grvsachdeva about the later point

Can it be solved by this [https://stackoverflow.com/questions/33902158/is-it-possible-to-continue-a-pull-request-opened-by-someone-else-on-github#:~:text=2%20Answers&text=The%20only%20way%20to%20update,amend%20the%20PR%2C%20by%20default.](url)

Or am I missing something over here ??
Thank you for your guidance :)

[2021-04-03 09:51] grvsachdeva commented on #49
You can pull the @RS357 's PR branch, make commits and try to push the commits and that should reflect on the existing PR. There is a possibility that you may not able to push on @RS357 's branch but check once.

[2021-04-03 14:02] reapedjuggler commented on #49
@grvsachdeva setting up the remote to @RS357 repo worked I have continued the PR of the same :smiley:

[2021-04-03 15:43] grvsachdeva commented on #49
Saw the PR. Good job 👍 . Please close your PR, and let's get #148 to merging. Thanks!

[2021-04-03 15:47] grvsachdeva commented on #49
Oops, just saw that Infragram readme has a Code of conduct section point to the website, in which case, I believe we don't want this anymore. @jywarren @cesswairimu please confirm regarding the same. Thanks!

[2021-04-03 21:36] cesswairimu commented on #49
Oh yeah I see...I think it may be nice to have it as a file too and it shouldn't contradict since they both point to the same place...not so sure about this @jywarren @RuthNjeri  what do you think?

[2021-04-06 16:02] #49 closed

[2021-12-17 11:23] RaviAnand111 commented on #7
Is this issue still open ?

[2022-02-25 17:15] first-timers[bot] opened #179 "Toggle overlay controls on only when using grid overlay"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy to wa

[2022-02-25 17:19] first-timers[bot] opened #180 "Add extra explanation to Presets menu"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy to wa

[2022-02-26 02:10] yuktea commented on #180
I'm interested in working on this

[2022-02-26 06:10] Syed-Ansar commented on #180
I'm interested

[2022-02-26 06:16] janvi01 commented on #123
Hey, I would like to work on this.

[2022-02-26 09:26] select-case commented on #179
I'm interested

[2022-02-26 09:39] TildaDares commented on #179
Assigned to @select-case

[2022-02-26 10:43] Syed-Ansar commented on #180
I have disabled my linter/formatters as @TildaDares suggested and again made a new pull request please check it out. Thank you

[2022-02-26 22:51] jywarren commented on #180
Hello all, thank you for your interest! You can find some more issues at https://code.publiclab.org or ask for one in https://github.com/publiclab/plots2/issues/10153 - thanks!!

[2022-02-28 06:38] madhhuurrii opened #187 "Broken Link in Infragram title"
On clicking the below title it redirects to a 404 page.
![image](https://user-images.githubusercontent.com/64744084/155935329-c50a798b-5d06-466a-ad45-424658e76964.png)

Possible Solution:
In the footer section, Infragram redirects to the following link: https://publiclab.org/wiki/infragram

[2022-02-28 07:54] TildaDares commented on #187
Hi @madhhuurrii, thanks for catching this. Are you interested in working on this?

[2022-02-28 08:12] madhhuurrii commented on #187
Yes!

[2022-02-28 10:42] Syed-Ansar opened #188 "Padding left of container is unset"
Padding to the left is unset i.e., 0

![Mobile View](https://user-images.githubusercontent.com/82027712/155968428-a6f57675-019f-4703-9aaf-22b2e0cc6c9f.jpeg)

Solution is : Container padding should be removed.

<img width="1440" alt="Screenshot 2022-02-28 at 4 12 08 PM" src="https://user-images.githubusercontent.com/82027712/155969343-852b1944-6931-4895-9b4b-2bd360a8feaa.png">

[2022-02-28 10:43] Syed-Ansar commented on #188
I am working on this issue.

[2022-02-28 11:26] TildaDares commented on #188
@Syed-Ansar Sure

[2022-02-28 11:30] Syed-Ansar commented on #188
Thank you @TildaDares

[2022-02-28 18:46] #179 closed

[2022-02-28 18:47] jywarren commented on #180
Solved in https://github.com/publiclab/infragram/pull/184 - thank you!!!

[2022-02-28 18:47] #180 closed

[2022-03-01 08:55] janvi01 opened #191 "Tooltip message "Upload an image" isn't visible and on clicking once it remains there."
Steps to reproduce:
1. Go to https://infragram.org/sandbox/index.html.
2. Hover over the upload icon in Source.
3. Tooltip message "Upload an image" isn't visible but while hovering around its corner it is visible. (it should be the same as the camera button tooltip message)
4. on clicking once tooltip message remains there.

<img width="439" alt="Screenshot 2022-03-01 at 2 27 53 PM" src="https://

[2022-03-01 08:58] janvi01 commented on #191
Hey, I would like to work on this.

[2022-03-01 21:11] AbihaFatima opened #192 "Unable to hover over COLORIZE dropdown items"
While trying to select the colorize dropdown items, the mouse cursor fails to hover over ‘Default colormap’ and ‘Stretched colormap’.
![GIF](https://user-images.githubusercontent.com/70844041/156249123-77946611-8123-43c7-8c5f-f6077ba8e75c.gif)

[2022-03-01 21:15] AbihaFatima commented on #192
@TildaDares
Can I work on this?

[2022-03-01 21:37] TildaDares commented on #192
Sure @AbihaFatima

[2022-03-02 05:36] madhhuurrii opened #193 "Favicon is not linked"
While running the website, I came across this error

![image](https://user-images.githubusercontent.com/64744084/156301597-df1b39a2-58dc-4b35-bacc-9d41eaba40bc.png)
Though the favicon is present in the assets folder it is not linked to the page.

Solution:
link the favicon to the page.

[2022-03-02 07:11] Syed-Ansar commented on #193
Can I work on this ?

[2022-03-02 07:31] Syed-Ansar opened #194 "Modal Links are broken."
##Modal Links are broken and takes to 404 page.

<img width="1440" alt="Screenshot 2022-03-02 at 12 51 03 PM" src="https://user-images.githubusercontent.com/82027712/156314053-c6550839-27bb-49c1-82a9-23e3d3b0f05f.png">

Solution :
These can be linked by
1) Infragram filter packs : https://store.publiclab.org/collections/featured-kits/products/infragram-diy-filter-pack?variant=1058088684
2) Webcam

[2022-03-02 07:58] Syed-Ansar commented on #194
###Yes, It is true, we have to change Names also. Then I will be waiting for the approval of @jywarren on this. Thank you Tilda.

[2022-03-02 08:08] janvi01 commented on #191
Thanks, @TildaDares I have linked a PR.

[2022-03-02 16:40] shubhangi013 opened #197 "Q&A are clustered"
QnA should be in a panel for ease of the user.

[2022-03-03 00:00] jywarren commented on #194
Hi, this sounds great, thank you. Yes, let's switch to the most recent still-in-stock items. Thank you!!!

[2022-03-03 04:33] Syed-Ansar commented on #194
Thank you @jywarren I will change the items and links which are available in the public store.

[2022-03-03 10:29] #192 closed

[2022-03-03 10:35] janvi01 opened #201 "Adjust position of toolbar elements"
Currently, the toolbar looks a little odd in mobile view with no margin, display, padding around buttons.

current view
<img width="369" alt="Screenshot 2022-03-03 at 1 39 44 PM" src="https://user-images.githubusercontent.com/34344234/156546650-65613396-431c-4e94-a4c5-714fd825a109.png">

# Expected solution

- adjust the position of elements

[2022-03-03 10:39] janvi01 commented on #201
Hey, @TildaDares I would like to work on this . Thanks!

[2022-03-03 11:07] #191 closed

[2022-03-03 11:09] #188 closed

[2022-03-03 11:14] TildaDares commented on #193
Hi @madhhuurrii, is this issue available for @Syed-Ansar to work on?

[2022-03-03 11:15] madhhuurrii commented on #193
Yes,Sure!

[2022-03-03 11:17] TildaDares commented on #193
Hi @Syed-Ansar, you can work on this.

[2022-03-03 11:20] #187 closed

[2022-03-03 13:20] Syed-Ansar commented on #193
Okay @TildaDares I will work on this. Thank you.

[2022-03-03 16:37] #193 closed

[2022-03-07 08:09] shubhangi013 opened #208 "Redesigning the footer"
The footer can be redesigned without any additional dependencies. The contents should also be center-aligned of the footer because the rest of the UI has the same structure.

![Screenshot from 2022-03-07 13-38-13](https://user-images.githubusercontent.com/78342516/156992112-1438b604-37ab-4cae-b5c0-4999d4237c3f.png)

I'd like to work on this issue.

[2022-03-07 09:20] TildaDares commented on #208
Hi @shubhangi013, this issue is on hold because we plan on redesigning the Infragram homepage as an Outreachy project https://publiclab.org/wiki/gsoc-ideas#Outreachy:+Infragram.org+full-screen+UI+design. You can open an issue that lists all of the things you plan to change/redesign along with wireframes/sketches if you want to work on this project. This list/note will serve as your proposal to wor

[2022-03-07 09:27] TildaDares commented on #201
Hi @janvi01 , this issue is on hold because we plan on redesigning the Infragram homepage as an Outreachy project https://publiclab.org/wiki/gsoc-ideas#Outreachy:+Infragram.org+full-screen+UI+design. You can open an issue that lists all of the things you plan to change/redesign along with wireframes/sketches if you want to work on this project. This list/note will serve as your proposal to work on

[2022-03-07 09:27] TildaDares commented on #197
Hi @shubhangi013, this issue is on hold because we plan on redesigning the Infragram homepage as an Outreachy project https://publiclab.org/wiki/gsoc-ideas#Outreachy:+Infragram.org+full-screen+UI+design. You can open an issue that lists all of the things you plan to change/redesign along with wireframes/sketches if you want to work on this project. This list/note will serve as your proposal to wor

[2022-03-07 09:59] janvi01 commented on #201
Thanks, @TildaDares I am interested in this outreachy project.

[2022-03-07 11:02] shubhangi013 commented on #208
Thank you @TildaDares ! I'm very much interested in the outreachy project. I have ideas for infragram and I'll open an issue for that. Thanks again.

[2022-03-08 08:37] ShwetKhatri2001 commented on #123
I'd like to work on this issue.

[2022-03-08 09:52] shubhangi013 opened #210 "Proposal for changes to the Infragram UI"
This is the issue that would contain all the changes I propose for Infragram  w.r.t : https://publiclab.org/wiki/gsoc-ideas#Outreachy:+Infragram.org+full-screen+UI+design.
I have experience with both designing and implementing wireframes. Since I’ve been working with Figma for over a year now, it is my go-to tool and via this issue, I’ll be updating all the changes I feel should be implemented in

[2022-03-08 10:26] TildaDares commented on #123
Hi @ShwetKhatri2001, you can take this up.

[2022-03-08 15:37] garimavs opened #211 "UI enhancement for Infragram"
Greetings!

I would like to contribute to Public Lab by working on the **UI enhancement for Infragram.**
Currently, I can observe the issue of _improper padding, margins, and font color/size_.
![Frame 1](https://user-images.githubusercontent.com/77723358/157270008-dda7d317-392d-47ec-b1ad-1e260b5b7059.png)

I also see the _unresponsiveness of the site_ to be a major UI challenge.
![Frame 2](https:/

[2022-03-08 17:05] jywarren commented on #123
Hi, thank you for documenting this bug. I think we need to trace the path of this -- it starts with the file selection element here:

https://github.com/publiclab/infragram/blob/80f3de4ddd96c2d5b452462d74076eab73ea0376/index.html#L92-L95

That changing then triggers the `updateImage()` function from the currently selected processor (webgl is default, i believe?)

https://github.com/publiclab/infra

[2022-03-08 17:33] jywarren opened #212 "Old code to document and/or deprecate/remove"
Let's talk through these possible areas to trim code. Once we agree on it, we can break out separate issues for each.

- [x] Socket upload: We used to send the image up to a Python server [using sockets](https://github.com/publiclab/infragram/blob/80f3de4ddd96c2d5b452462d74076eab73ea0376/src/file-upload.js#L54-L66). This code can be removed. Done in https://github.com/publiclab/infragram/pull/214

[2022-03-08 19:43] jywarren commented on #211
Hi, I appreciate the brainstorming! Would it be possible to break out your suggestions into separate issues so each can be discussed and refined? I appreciate the screenshots too!

[2022-03-08 19:44] jywarren commented on #211
I think you're right on a lot of this. However, a full-screen layout, maybe like https://photopea.com, could help a lot, what do you think?

[2022-03-08 19:45] jywarren commented on #210
Hi, I appreciate the brainstorming! Would a full-screen layout, maybe like https://photopea.com/, help a lot? What do you think?

[2022-03-08 19:46] jywarren commented on #201
Hi, I appreciate the brainstorming! Would a full-screen layout, maybe like https://photopea.com/, help a lot? What do you think? It could be tough on mobile, but at least full-screen could help us organize things in a much more limited amount of space. How does photopea.com work on mobile... does it? Should we ensure our project does too?

[2022-03-08 19:58] garimavs commented on #211
Will surely do!

[2022-03-08 20:13] garimavs commented on #211
How should I use the mentioned site under this issue? For UI design purposes?

[2022-03-08 20:22] garimavs opened #213 "Responsiveness for Infragram page"
Greetings!

As mentioned in issue #211, I would like to further dedicate this issue to make the _UI more responsive._
The current view in different aspects is as given below:

![Frame 2](https://user-images.githubusercontent.com/77723358/157318505-e2b5deb2-21bc-4a69-bcc9-a433a6f9b5e3.png)

[2022-03-08 21:07] Forchapeatl commented on #213
Hello I  appluad the direction of the Infragram project. I wish to participate in [https://publiclab.org/wiki/gsoc-ideas#Infragram.org+full-screen+UI+and+video+upload](https://publiclab.org/wiki/gsoc-ideas#Infragram.org+full-screen+UI+and+video+upload). May I start with this issue ?
I had a look at the "help wanted " issue tags but they seem to be already implemented as they of (2019 -2018)

[2022-03-09 04:25] garimavs commented on #213
Hello @Forchapeatl, I'm not the mentor/owner of this project, but I too am participating in the [Outreachy Project](https://publiclab.org/wiki/gsoc-ideas#Outreachy:+Infragram.org+full-screen+UI+design). I would love to collab with you on this if that's a possibility.

[2022-03-09 07:10] Forchapeatl commented on #213
Sounds good

[2022-03-09 07:37] janvi01 commented on #201
Hey @jywarren, definitely a full-screen layout would be better in my point of view.
Currently, we have to scroll up to work with tools in canvas in mobile view.

A full-screen ui along with toolbar and canvas on a single page (as seen on https://photopea.com/) will
- make user experience ease
- increase user efficiency
- organize things in limited space

I would like to continue this discussion an

[2022-03-09 07:45] janvi01 commented on #201
Hey @jywarren, definitely a full-screen layout would be better in my point of view.
Currently, we have to scroll up to work with tools in canvas in mobile view.

A full-screen ui along with toolbar and canvas on a single page (as seen on https://photopea.com/) will
- make user experience ease
- increase user efficiency
- organize things in limited space

if we want, we can make the toolbar a hidde

[2022-03-09 07:47] janvi01 commented on #201
Should I continue this issue as my proposal or create a new one as mentioned by @TildaDares ?

[2022-03-09 07:57] shubhangi013 commented on #210
Yeah, it certainly looks better.  All the utilities can be shifted to a sidebar or a topbar.

[2022-03-09 08:17] TildaDares commented on #213
Hi @Forchapeatl @garimavs, I love that you're both collaborating with each other. Right now, we're putting all design/UI related issues on hold so that we work on that during the GSOC/Outreachy programs. What you can do is create a proposal of how you plan on fixing the problems with the project you choose. It's fine if you continue to update it as you have more understanding of the problem. Rough

[2022-03-09 08:26] TildaDares commented on #201
Hi @janvi01, your proposal doesn't have to be in one issue only. If you'd like to spread it across several issues, that's fine but just make sure each issue you create is linked to a parent issue so that we can find all of the issues you've created for the project.

[2022-03-09 09:35] garimavs commented on #213
Thanks, @TildaDares, would love to suggest and contribute to the Outreachy project.

[2022-03-09 14:22] janvi01 commented on #201
Thanks for clearing it out, I will spread my ideas across several issues.

[2022-03-09 14:40] jywarren commented on #211
Ah, well, you could! But I mentioned it as an example of a design layout which goes full screen with toolbars along the edges. Thanks!

[2022-03-09 19:13] Forchapeatl commented on #130
I would love to work on this issue, May I ?

[2022-03-09 21:26] mehul89 commented on #213
hello, @TildaDares I am a beginner in open-source contribution so in GSOC I would like to start contributing to this project
pls tell me how to start and how to join this project discussion group so help me, madam? 🙂🙂

[2022-03-10 09:59] anushkachauhxn opened #220 "Infragram UI Redesign [Outreachy]"
I've applied to the Outreachy program and would like to work on the [Infragram UI Project](https://publiclab.org/wiki/gsoc-ideas#Outreachy:+Infragram.org+full-screen+UI+design) if I'm selected.

I wanted to get some feedback/supervision on the design aspect. @TildaDares

#### Presentation
- I've recently done a UI/UX study on the DishTV website. I was wondering if I could do something similar with

[2022-03-10 10:03] TildaDares commented on #220
Hi @anushkachauhxn, these sound like wonderful ideas.

That's okay. Would you like to use Behance to create your proposal? If you are, then that's perfectly fine. Just make sure that the link to the proposal is added to this issue so that we can easily find it.

[2022-03-10 10:15] Forchapeatl opened #221 "Provide Option to Close Webcam Input [GSOC 2022]"
![image](https://user-images.githubusercontent.com/24577149/157638941-8f984ec8-fa5b-4647-90e6-fa7aacae01e6.png)
There is no avaiable option to turn off the Infragram Web page Camera. Hence the Camera is Left on After User photo has been saved. for as long as the browser the user browser.

[2022-03-10 10:27] anushkachauhxn commented on #220
Yes, I'd like to use Behance. Thank you!

[2022-03-10 10:31] TildaDares commented on #221
Hi @Forchapeatl, great catch! Is this a part of your proposal?

[2022-03-10 10:33] Forchapeatl commented on #221
Thank You. Yes It is.

[2022-03-10 11:41] Forchapeatl opened #222 "Horizontally Flipping Infragram Webcam Image Stream. [GSOC 2022]"
I have been having fun with the Infragram .getusermedia's web cam input
What it does is activate your webcam and lets you analyze directly from the stream, but the video stream is flipped and I want to mirror the video stream so it feels better.
Please have a look at the screen shot below.
![image](https://user-images.githubusercontent.com/24577149/157654718-95310b6f-3dc0-41da-a3c3-b1039910e10b.pn

[2022-03-10 13:00] Syed-Ansar commented on #220
@anushkachauhxn I am also interested in this project. I was also researching and understanding the project. And successfully merged 4-5 pull request. I had applied to outreachy. I don't know if I get accepted or not but if you like to collaborate with me. I would love to collaborate with you. Thank you.

[2022-03-10 15:33] TildaDares commented on #213
Hi @mehul89, you can start by working on a first-timers only issue. You can leave a comment in publiclab/plots#10153 and one will be assigned to you when available. Thanks!

[2022-03-11 03:04] mehul89 commented on #213
@TildaDares  ok thank you

[2022-03-11 04:26] mehul89 commented on #213
ok thank you

On Thu, Mar 10, 2022 at 9:03 PM Tilda Udufo ***@***.***>
wrote:

[2022-03-11 18:25] Forchapeatl opened #223 "Proposal for Infragram.org full-screen UI and video upload"
This is the issue that would contain all the changes I propose for Infragram w.r.t  [https://publiclab.org/wiki/gsoc-ideas#Infragram.org+full-screen+UI+and+video+upload](https://publiclab.org/wiki/gsoc-ideas#Infragram.org+full-screen+UI+and+video+upload)

I wanted to get some feedback/supervision on the design aspect. While I dig up new ideas I will continue to update this issue  to fit the entire

[2022-03-13 14:39] Syed-Ansar commented on #220
@anushkachauhxn I have searched for your profile on Element[matrix] but i didn't find you. Then how would you like to connect. For collaboration on this project.

[2022-03-15 15:26] first-timers[bot] opened #224 "Change ANALYZE to CONVERT/ANALYZE in help text"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy to wa

[2022-03-15 15:30] jywarren commented on #224
This is reserved for @alice-ndeh! Thanks!

[2022-03-15 15:31] alicendeh commented on #224
Thanks for assigning this to me

[2022-03-15 15:37] alicendeh commented on #224
@jywarren  the step that says  Accept our invitation, will i receive an invite through my mail box? Or should i clone repo?

[2022-03-15 15:40] first-timers[bot] opened #225 "Add link to learn about which type filter you have"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy to wa

[2022-03-15 15:54] jywarren opened #226 "Consider (discuss/mockup) example images to help people choose the right filter"
This page shows examples of the two filter types (red or blue): https://publiclab.org/wiki/infragram#Conversion+types

But maybe it's helpful to have those example images on the presets modal itself:

![Screen Shot 2022-03-15 at 11 42 45 AM](https://user-images.githubusercontent.com/24359/158415823-4c9ae0b0-0ad0-4ee0-9fa9-7048f390034a.png)

The two images are:

Red filter (more common, more recent

[2022-03-15 16:01] jywarren commented on #226
So maybe this image could be useful?

![Screen Shot 2022-03-15 at 12 00 05 PM](https://user-images.githubusercontent.com/24359/158419721-e71382ef-db37-4be9-b640-4f8b1b459696.png)

[2022-03-15 16:01] jywarren commented on #226
I think we should do some sketches/mockups and discuss here to figure out what would be the clearest way to present this!

[2022-03-15 16:35] jywarren commented on #224
Ah, i'm sorry - you can skip that step! We actually need to update our template. Sorry!

[2022-03-15 16:43] jywarren opened #227 "Copy in our improved First-Timers-Only template from the plots2 repository"
Our customized workflow for the first-timers bot is a little different from the default, so we need to copy in our custom template (see example here of the default: https://github.com/publiclab/infragram/issues/224 vs. the custom one here: https://github.com/publiclab/plots2/issues/10784)

Here's the template:

https://github.com/publiclab/plots2/blob/main/.github/first-timers-issue-template.md

W

[2022-03-15 17:09] mehul89 commented on #224
this is my first contribution in opensource for GSoC 😄

[2022-03-15 17:41] Ash-KODES commented on #225
Can  I work on this?

[2022-03-15 17:46] jywarren commented on #225
Hi @Ash-KODES I wanted to see if @mehul89 wanted to try this one. Would you like to try #227?

[2022-03-15 17:47] jywarren commented on #224
Hi @mehul89 actually @alicendeh has claimed this one. I'm sorry but would you like to try https://github.com/publiclab/infragram/issues/225 ?

[2022-03-15 17:50] Ash-KODES commented on #227
I am taking this issue:)

[2022-03-15 17:55] jywarren commented on #225
I may have made a mistake, sorry if I added any confusion!

[2022-03-15 17:55] jywarren commented on #227
Yes please, we'd love that!

[2022-03-15 18:34] mehul89 commented on #224
ok, @jywarren not a problem 🤗

[2022-03-16 09:14] #224 closed

[2022-03-16 15:20] Ash-KODES commented on #226
Hello @jywarren,
I have a suggestion. We can provide two images for each filter in their respective rows. One image would be same for all the filters in each row(which would be the original image), and other image would be the filtered version of the original, based on the filter row in which it is shown.

So if it is blue filter row of the presets modal, then two images would be shown in it's row

[2022-03-17 10:37] nikhil12377 commented on #225
Hey! can i work on this issue?

[2022-03-17 12:44] TildaDares commented on #225
Hi @nikhil12377, go ahead. Thanks!

[2022-03-17 13:30] janvi01 commented on #123
Hey, @jywarren I am willing to work on this issue but I am not able to produce this issue locally, the image can be uploaded several times on clicking upload image, Please if you can check on your side. Thanks!

However , the issue can be replicated as mentioned.

[2022-03-17 22:08] ishumi007 commented on #225
hey @TildaDares with the help of the detailed instruction give above I created a pull request with the asked changes to the \index.html. Being new to Open source and GitHub this task was very helpful for me as I got to learn about the workings of the standard fork -> clone -> edit -> pull request workflow. Please let me know if I made any error in doing the same. Thank You

[2022-03-18 14:23] #227 closed

[2022-03-18 14:25] jywarren commented on #225
Hi @nikhil12377 let us know if you need any help, and be sure to link to your PR from here (or from there to here) so we can see them connected!

@ishumi007 that's great, however i believe @nikhil12377 is working on this one. If someone has claimed it please let them have enough time to try! We'd love your help with another issue however. I'll try to open a new "first timers only" issue in a momen

[2022-03-18 14:34] first-timers[bot] opened #234 "Add link for "colorize" to docs"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy to wa

[2022-03-18 14:57] ishumi007 commented on #225
Hey @jywarren @nikhil12377 , I am so sorry I wasn't aware about @nikhil12377 being already assigned to this task. I am taking back my PR for this one.

[2022-03-18 14:59] ishumi007 commented on #234
Hey @jywarren  thanks for creating this issue. Can I take this one please?

[2022-03-18 15:33] TildaDares commented on #225
Hi @ishumi007, would you like me to add your name to our first-timers list so that we can ping when there’s an issue for you to work on?

[2022-03-18 15:35] TildaDares commented on #234
Hi @ishumi007, go ahead. Thanks!

[2022-03-18 15:35] ishumi007 commented on #225
Yeah please do that, I'd love to be of any help.

[2022-03-18 15:39] ishumi007 commented on #234
thank you so much @TildaDares, I'll do my best.

[2022-03-18 16:24] nikhil12377 commented on #225
@jywarren Thanks for asking, i'd let you know if i'll need any help.

[2022-03-18 17:43] ishumi007 commented on #234
gh pr checkout 1

[2022-03-18 17:52] ishumi007 commented on #234
=`gh pr checkout 235`

[2022-03-18 17:54] ishumi007 commented on #234
[https://github.com/publiclab/infragram/pull/235](url)

[2022-03-18 19:07] Yavnikaa commented on #225
Can my name also be added to the list? I am quite excited to work together in this community :))

[2022-03-18 19:28] ishumi007 commented on #234
Hey @TildaDares and @jywarren I just created the Pull Request with desired changes, can you please check it out?

[2022-03-18 19:46] TildaDares commented on #225
Hi @Yavnikaa, I’ve added your name.

[2022-03-23 06:27] TildaDares commented on #225
Hi @nikhil12377, I can see you’ve pushed the commit to your fork but you haven’t pushed it to publiclab/plots2. Do you need help with this?

[2022-03-25 22:29] #234 closed

[2022-03-25 22:45] PythonCoderUnicorn commented on #226
Hello Public Labs !

This is my first issue on this repo, I am new and from the Outreachy program.

Using your image uploader and step 2 analytics section, I tried 2 images and this image is the second one (as the first one did not render in any scale option). The HSV function does not work either from the grayscale or original color format. The slider above save has no effect.

![Screen Shot 2022

[2022-03-26 15:25] AbihaFatima opened #238 "No space between `Ask a question` button and horizontal scroll bar"
While navigating through the [infagram](https://infragram.org/sandbox/) website, found that the `Ask a question` button appears just below the horizontal scroll bar.

![image](https://user-images.githubusercontent.com/70844041/160245942-79cba8e8-5f26-42d3-b66c-e3c49e675a22.png)

[2022-03-26 15:25] AbihaFatima commented on #238
@TildaDares
Can I work on this?

[2022-03-26 15:40] divyangana009 commented on #238
@TildaDares  can I work on this?(outreachy applicant)

[2022-03-26 15:46] divyangana009 commented on #7
Is this issue still open ?

[2022-03-26 17:35] TildaDares commented on #238
Hi @AbihaFatima, this is a really great catch but right now we’re suspending all UI related issues because of the Outreachy project. But this can serve as a proposal which includes the adjustments/improvements you want to make on the site.

Would you like me to mark it as part of your proposal?

[2022-03-26 19:21] AbihaFatima commented on #238
Thank you @TildaDares!
Yes, it is a part of my proposal.

[2022-03-27 03:59] arpit-maurya commented on #225
Hi @TildaDares , I like contribute in this community, please add me as contributor in that List. (Excited to Contribute in Repo)

[2022-03-27 06:23] TildaDares commented on #225
Hi @codeamic, @nikhil12377 has already opened a pull request for this issue. You can leave a comment in publiclab/plots2#10153 and we'll ping when there's an issue for you to work on.

[2022-03-27 06:24] TildaDares commented on #225
Hi @arpit-maurya, you can also leave a comment in https://github.com/publiclab/plots2/issues/10153. Thank you!

[2022-03-27 07:08] JosueKinda commented on #82
I will like to work on this

[2022-03-27 07:09] JosueKinda commented on #7
Can I work on this !?

[2022-03-27 07:27] TildaDares commented on #7
Hi @JosueKinda, we’re suspending all UI related issues because of the Outreachy project. If you're an Outreachy applicant you can create a proposal issue that details the improvements you intend to make to the Infragram home page. An issue like this https://github.com/publiclab/infragram/issues/213. Thank you!

[2022-03-27 07:31] JosueKinda commented on #7
On Sun, 27 Mar 2022 at 8:27 AM Tilda Udufo ***@***.***> wrote:

So, I can build it using. Bootstrap!?

[2022-03-27 07:35] Prakashh21 commented on #225
Hi @TildaDares , I am looking forward to contribute to this Project , can you please add me to the list. Thankyou !

[2022-03-27 08:57] TildaDares commented on #7
Hi @JosueKinda, yes we use Bootstrap.

[2022-03-27 09:53] JosueKinda commented on #7
Okay then I will design the responsive page and sends it to the repository.
I will need the logo

On Sun, 27 Mar 2022 at 9:57 AM Tilda Udufo ***@***.***> wrote:

[2022-03-27 10:59] girija0707 opened #239 "To make website mobile friendly for users"
The website at the moment does not fit the screen size perfectly
![Screenshot_2022-03-27-16-08-58-12_40deb401b9ffe8e1df2f1cc5ba480b12](https://user-images.githubusercontent.com/63583646/160278043-12ec5dee-7080-4efa-a9fd-e7013de7460b.jpg)
would love working on website to make it fit for any screen size

[2022-03-27 11:02] girija0707 commented on #239
Would like to know can this issue be a part of proposal @TildaDares

[2022-03-27 11:25] TildaDares commented on #239
Hi @girija0707, yes this can be a part of your proposal.

[2022-03-27 11:32] girija0707 commented on #239
Ok , glad to know that will be working on it

[2022-03-27 18:39] AmenuveveDordor commented on #225
Hi, I'm an Outreachy 22' applicant and I was wondering if I could work on this

[2022-03-28 00:04] Somya-Singhal commented on #225
Hi @TildaDares, can my name also be added to the first-timers list? I am very much excited to contribute.

[2022-03-28 05:43] Beta-test-initiation commented on #238
Hi Tilda! Can I make a contribution here?

[2022-03-28 05:58] TildaDares commented on #225
Hi @Somya-Singhal, leave a comment in https://github.com/publiclab/plots2/issues/10153 and I’ll add your name. Thank you!

[2022-03-28 07:48] siddhi-244 opened #242 "Add padding above the button [GSOC2022]"
![Screenshot_20220328-131704_Chrome](https://user-images.githubusercontent.com/69195262/160350993-f0378d80-fc9b-40a5-8ca3-f33468fcead2.jpg)

Hey I would like to add some padding here to improve the ui. Myself, Siddhi Bhanushali and I am participating in GSOC 2022 and would love to solve this issue !

[2022-03-28 07:49] siddhi-244 commented on #242
@TildaDares I would love to work on this issue !

[2022-03-28 08:14] girija0707 commented on #239
Hey @TildaDares can you help me with this doubt, should I start working on resolving this issue or look for few more issues to add them in the proposal and finally start working on resolving them  if and when  the proposal is accepted

[2022-03-28 08:26] Arup-Deb commented on #238
@TildaDares
Can I work on this and contribute here?

[2022-03-28 09:00] Arup-Deb opened #243 "To make the whole website responsive for users and add some margin ,padding to looks better"
![responsiveness](https://user-images.githubusercontent.com/84396596/160361061-83fa69c3-e1ec-47ac-aebc-a7807d0f4b98.jpeg)
*The camera, analysis, and other sections are not designed properly..it shows in a shuffling way through mobile. Want to update and contribute to this.*

![fotter section](https://user-images.githubusercontent.com/84396596/160362271-a45d0b25-3345-4cf8-a854-220ce4e0e6e2.jpeg)
th

[2022-03-28 09:57] shubhangi013 commented on #212
Hey! I went through the code. Could you elaborate on how is the org handling the thumbnail? I am afraid I couldn't figure it out despite going through the repository and rummaging through the documentation :sweat_smile:
I did find the file and function saving the uploaded thumbnail.
This looks interesting and I would like to work on it.

[2022-03-28 11:19] SHIVANGISINGH1 commented on #243
@TildaDares I was facing the same issue. There should be padding in the many areas of website and we also have to improve the user experience. I would love to work on this, kindly assign this to me and I'll raise a PR asap.

[2022-03-28 11:29] SHIVANGISINGH1 commented on #220
@TildaDares I am outreachy applicant and I would like work on this issue. I'll be asking my doubts here.

@Syed-Ansar @anushkachauhxn are you still working on this project? would you like to collab with me?

[2022-03-28 14:22] TildaDares opened #244 "Update Merged PR Message"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-03-28 14:39] girija0707 commented on #239
Hello @TildaDares would love to know should I start working on resolving this issue now or explore and find more issues to write them in proposal and start working on them after the proposal is accepted

[2022-03-28 15:02] NastehaAbdulhakim commented on #244
Hi @TildaDares , am Nasteha Outreachy applicant summer 2022 , am new to open source contribution and want you to help me assign a first-time issue.

[2022-03-28 15:05] wisdomekpotu commented on #244
hey @NastehaAbdulhakim head over here https://github.com/publiclab/plots2/issues/10153

[2022-03-28 18:45] TildaDares commented on #243
Hi @Arup-Deb @SHIVANGISINGH1, this issue is on hold because we plan on redesigning the Infragram homepage as an Outreachy project https://publiclab.org/wiki/gsoc-ideas#Outreachy:+Infragram.org+full-screen+UI+design. You can open issues to discuss the things you plan to change/redesign along with wireframes/sketches if you want to work on this project. But UI implementations are suspended until the

[2022-03-28 18:45] TildaDares commented on #242
Hi @SHIVANGISINGH1, this issue is on hold because we plan on redesigning the Infragram homepage as an Outreachy project https://publiclab.org/wiki/gsoc-ideas#Outreachy:+Infragram.org+full-screen+UI+design. You can open issues to discuss the things you plan to change/redesign along with wireframes/sketches if you want to work on this project. But UI implementations are suspended until the start of

[2022-03-28 21:04] girija0707 opened #248 "Proposal to add navigation bar at the top [Outreachy]"
![Screenshot_2022-03-29-02-30-02-47_6012fa4d4ddec268fc5c7112cbb265e7](https://user-images.githubusercontent.com/63583646/160486328-5251e25d-744c-4b8d-aaed-97784c63d1d6.jpg)
Adding Nav bar at the top to include learn more and buy camera links over there, this will help the UI look more clean

[2022-03-29 00:37] siddhi-244 commented on #242
Hey. I am a gsoc applicant.  So while writing a proposal do I have to link this issue ? Or do I have to create more such issues ?

[2022-03-29 04:24] SHIVANGISINGH1 commented on #242
Okay, @TildaDares I'll work on my designing ideas and raise an issue about how I'll proceed with the changes in the UI. I hope it will help with my proposal.☺🎉

Thank you

[2022-03-29 04:32] falyne commented on #244
Hi @TildaDares , i'm Falyne an Outreachy Applicant , am new to open source contribution, i wish that you assign me a first timer issue. Thanks

[2022-03-29 04:44] ginabeki commented on #244
Hi @TildaDares , I'm a first timer, and i would appreciate if you assign me a first time issue

[2022-03-29 07:08] TildaDares commented on #242
Hi @siddhi-244, you can create more issues to discuss different aspects of the page you want to change.

[2022-03-29 07:10] siddhi-244 commented on #242
And can we add that in our gsoc proposal or creating issues is enough ?

[2022-03-29 07:35] ShivraniAJ commented on #93
Hi, I am Shivrani, Outreachy initial applicant, Please can you assign this issue to me ?

[2022-03-29 07:47] ShivraniAJ opened #251 "Camera Full Screen issue"
![Infragram _ by Public Lab - Home - Google Chrome 29-03-2022 13_10_05 (2)](https://user-images.githubusercontent.com/86149243/160560564-4c5365a3-0b47-4355-b553-31a86187d6ee.png)

When the camera is on full screen, I am still able to scroll the window and information is visible at the bottom of the screen.

[2022-03-29 07:48] ShivraniAJ commented on #251
I am outreachy initial applicant, I would like work on this issue.

[2022-03-29 08:30] BeeBombshell opened #252 "Redesigning the UI and Adding New Appealing Features [Outreachy'22 Proposal]"
The idea behind this proposal is centered around providing user accessibility on Infragram. Further, I'd like to improve the previously existing features and implement a few new features to enhance the user interface and make the website easy to use.

- **Fixed Header, New Design** - The improved header would overlay the top part of the screen even when the page is scrolled.
- **Mouseover Text** -

[2022-03-29 09:05] iMohsinali commented on #244
@TildaDares thank you for reserved an issue for me

[2022-03-29 09:07] iMohsinali commented on #244
As mention in above step I change  the config.yml file and add my Twitter handle

[2022-03-29 10:50] PeculiarE commented on #244
Hiya @falyne and @ginabeki....please head over [here](https://github.com/publiclab/plots2/issues/10153) to request for a first-timer issue.

@iMohsinali. I don't think you're supposed to add your Twitter handle. The proposed change, I believe, is to delete the line referring to Twitter handle.

[2022-03-29 12:12] girija0707 commented on #248
Hello @TildaDares these are few more changes I thought of can be implemented after going through the website, kindly reviews this 😊

[2022-03-29 12:15] TildaDares commented on #248
Hi @girija0707, you can go ahead and open issues for those changes. We’ll review them together. Thanks!

[2022-03-29 12:16] shubhangi013 opened #253 "Full screen message does not stand out"
The anchor tag that leads to full-screen mode isn't that visible. On hovering, it just fades into the background. This can be solved right away and hence, I didn't include it in my proposal issue.

Current behaviour:

https://user-images.githubusercontent.com/78342516/160608135-b3da2c7d-431a-413b-add6-2196f9032ddd.mp4

Expected behaviour:

https://user-images.githubusercontent.com/78342516/1606082

[2022-03-29 12:24] girija0707 commented on #248
Glad to hear that 😄, sure will start working on it

[2022-03-29 12:38] girija0707 opened #255 "Positioning the alert message for save button"
Aligning the alert message which is displayed after clicking the save button
![Screenshot_2022-03-29-17-04-23-40_6012fa4d4ddec268fc5c7112cbb265e7](https://user-images.githubusercontent.com/63583646/160612832-bce355bf-a39f-4836-ad9d-435f377d4d48.jpg)

[2022-03-29 12:39] girija0707 commented on #255
Do let me know if I can start wo with this one @TildaDares

[2022-03-29 12:44] shubhangi013 commented on #253
I am closing this issue because it refers to an older version of the application :sweat_smile:

[2022-03-29 14:57] jywarren commented on #123
That's odd - so locally it doesn't happen but on the website it does? I
wonder if we fixed it without realizing and the website just needs to be
updated to the latest version?

On Thu, Mar 17, 2022 at 9:31 AM Janvi Bajoria ***@***.***>
wrote:

[2022-03-29 14:58] Ifetakuro commented on #255
Hello please can I work on this?

[2022-03-29 16:25] on2onyekachi commented on #252
Hi @BeeBombshell. I really like how you mapped out the changes you tend to make. Though the project is on hold for now as a new design is to be implemented for this project.  cc https://github.com/publiclab/infragram/issues/242#issuecomment-1081013045

[2022-03-29 17:22] jywarren commented on #212
Hi, so, before, we would generate a thumbnail using this, and upload it. But now we don't do that, and this code isn't called from anywhere. I think you can simply delete everything highlighted above!

But if you want to be sure you could search the codebase for instances of `uploadThumbnail`. Thank you!!

[2022-03-29 17:24] shubhangi013 commented on #212
Cool! I'd love to work on this issue.

[2022-03-29 17:39] BeeBombshell commented on #252
Hi @on2onyekachi, thank you for the appreciation! 😊 I went through https://github.com/publiclab/infragram/issues/242#issuecomment-1081013045 and found out that the proposed ideas can only be implemented after the internship period begins. Just wanted to confirm whether I need to enhance my proposal with more details or does this work?

[2022-03-29 17:47] girija0707 commented on #255
Oh yeah actually I got a little confused, I thought I can include this in my proposal since the page is on hold now but Tilda said in her earlier comment on my proposal to open an issue 😅

[2022-03-29 17:53] on2onyekachi commented on #255
oh okay, cool. Does that mean we could make changes to the existing design?

[2022-03-29 18:01] girija0707 commented on #255
I guess so @TildaDares @jywarren can you help us with this query

[2022-03-29 18:07] TildaDares commented on #255
Hi @girija0707, @on2onyekachi I meant you can open issues to discuss the problems with the UI and how you intend to solve it. Implementation is suspended until the start of the internship.

[2022-03-29 18:08] TildaDares commented on #252
Hi @BeeBombshell, if you think the UI still needs work, you can go ahead to open more issues to discuss these problems. Thank you!

[2022-03-29 18:28] shubhangi013 commented on #212
I guess the file doesn't exist on the main branch :sweat_smile:
should I compare my changes with another branch?
@jywarren

[2022-03-29 18:48] TildaDares commented on #244
Closed in #256

[2022-03-29 18:48] #244 closed

[2022-03-29 19:10] akanbifatimah opened #257 "Remove empty style attribute on line 128 in vr/index.html"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either haven't contributed to our codebase before, or even folks who haven't contributed to open source before.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially int

[2022-03-29 19:16] TildaDares commented on #257
Hi @akanbifatimah, this looks really great but I thought you already resolved this in #240

[2022-03-29 19:18] jywarren opened #258 "Hide "grid overlay""

[2022-03-29 19:22] jywarren commented on #212
I just searched in GitHub for contents inside of files -- and found one:

https://github.com/publiclab/infragram/search?q=uploadThumbnail

It's used in this block of code:

https://github.com/publiclab/infragram/blob/f15add6ae6057bd99b4b1b930449f75ca974270e/src/ui/saving.js#L10-L34

However, I suspect that we don't use that either. It is initialized here:

https://github.com/publiclab/infragram/bl

[2022-03-29 19:28] akanbifatimah commented on #257
Its the same issue but in different folders @TildaDares

[2022-03-29 19:32] akanbifatimah commented on #257
#240 is in pi folder but @257 is in vr folder

[2022-03-29 19:35] TildaDares commented on #257
Reserved for @KemiFrank

[2022-03-29 19:38] girija0707 commented on #255
Oh ok got would love to collaborate with everyone and discuss

[2022-03-29 19:45] #258 closed

[2022-03-29 19:46] first-timers[bot] opened #259 "hide grid overlay controls on initial display"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy to wa

[2022-03-29 19:47] first-timers[bot] opened #260 "change grid overlay button style to default"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy to wa

[2022-03-29 19:48] jywarren commented on #259
This change will make the slider and "save" button next to the Grid Overlay button hidden until the button is pressed!

<img width="374" alt="image" src="https://user-images.githubusercontent.com/24359/160695049-c8b04c7a-6271-4f81-8e85-5603d78cd3c9.png">

[2022-03-29 19:49] jywarren commented on #260
This change will make the grid overlay button white like the "colorize" button next to it.

<img width="374" alt="image" src="https://user-images.githubusercontent.com/24359/160695049-c8b04c7a-6271-4f81-8e85-5603d78cd3c9.png">

[2022-03-29 19:55] jywarren commented on #123
Hi, i realize this was fixed after all and i just republished the latest version of the code! Try it now! Thank you!!

[2022-03-29 19:55] #123 closed

[2022-03-29 19:58] wisdomekpotu commented on #260
@jywarren @TildaDares i will like to work on this

[2022-03-29 20:01] Kemifrank commented on #260
Thank you for assigning me this issue please kindly add me as a contributor

[2022-03-29 20:04] jywarren opened #261 "HSV mode doesn't work in default mode (webgl)"
Switching the Convert/Analyze menu to HSV mode doesn't work; this is because we only have an HSV handler for javascript processing mode, not webgl, and our default startup mode is webgl.

The mode runs this function:

`options.processor.save_expressions_hsv`

And as you can see, in the JavaScript mode we have that just below the "regular" `save_expressions` function:

https://github.com/publiclab/

[2022-03-29 20:05] barcha47 commented on #260
if this issue isn't assign to anyone then please assigned it to me i will work on it.

[2022-03-29 20:22] wisdomekpotu commented on #261
@jywarren can i go ahead and submit a PR

[2022-03-29 20:43] wisdomekpotu commented on #261
@jywarren i have made a PR for this here https://github.com/publiclab/infragram/pull/263 Plz review

[2022-03-29 21:49] jywarren commented on #226
Hi @Ash-KODES i'm interested... but it's a little hard to follow, do you think you'd be able to try doing a mockup, even using Google Presentions to show what you mean?

[2022-03-29 21:51] jywarren commented on #226
Hi @PythonCoderUnicorn welcome!!! Thank you -- I filed a bug for the HSV issue here: https://github.com/publiclab/infragram/issues/261

I also made this issue to try to address the slider problem: https://github.com/publiclab/infragram/issues/259

Thank you for highlighting these... if you find more, would you mind making new issues for them?

[2022-03-30 04:32] ShivraniAJ commented on #93
I am sorry, I dont have access to a pixel 4XL phone.

[2022-03-30 04:49] steph237 commented on #239
Greetings @TildaDares I will like to know if i can work on this issue for outreachy application

[2022-03-30 05:04] govindgoel commented on #260
This is assigned to @Kemifrank

[2022-03-30 05:07] govindgoel commented on #257
@TildaDares #260 is already reserved for @Kemifrank.

[2022-03-30 06:27] mehul89 commented on #213
.....................................

mehul would like to stay in touch on LinkedIn.

mehul chapaneri
--
Ahmedabad Area, India

View profile https://www.linkedin.com/comm/in/mehul-chapaneri-126129211?trk=eml-guest-invite-pprofile-link-cta&trkEmail=eml-email_m2g_invite_single_01-null-373-null-null-%7E3v57l3%7El1d6rigg%7Ejp-null-neptune%2Fprofile%7Evanity%2Eview&lipi=urn%3Ali%3Apage%3Aemail_email_m

[2022-03-30 07:06] girija0707 opened #264 "Beautifying the README.md for infragram"
At present the following two lines, **let the code be with you and happy open sourcing** don't go with the structure of readme.md

![b9cda5e0-b6b3-4427-976b-dac479be67da](https://user-images.githubusercontent.com/63583646/160771584-79404420-01da-446f-b24f-aecba3b713db.jpg)

Would love to make a slight change in the lines to maintain the uniformity of the readme

![b5a50674-6844-494b-96c2-3865dfe3f

[2022-03-30 07:06] girija0707 commented on #264
do let me know if I can go ahead with this and work on it @TildaDares  @jywarren

[2022-03-30 07:16] romasinha commented on #251
If this issue is still available, I'd like to work on this.

[2022-03-30 07:34] shubhangi013 opened #265 "Images in readme should be center aligned"
the images are by default left-aligned. They should be center-aligned.

[2022-03-30 08:05] TildaDares commented on #257
Thanks @govindgoel I’ll assign it to someone else

[2022-03-30 08:05] TildaDares commented on #257
Reserved for @Arup-Dep for 24 hours.

[2022-03-30 08:25] steph237 commented on #239
@TildaDares  greetings I cloned the project but when I use the command http-serve , this is what I have on my browser. I am wondering if I missed something. will be waiting on your reply. Thank you
![30 03 2022_09 21 47_REC](https://user-images.githubusercontent.com/43364084/160786507-cad69ac3-1218-45c0-a621-82526aecd1d6.png)

[2022-03-30 08:54] kunmi02 commented on #265
@TildaDares

I will like to work on this issue

[2022-03-30 09:00] shubhangi013 commented on #265
Hey! I've already opened a PR regarding this.

[2022-03-30 09:13] steph237 commented on #239
Yes @TildaDares I have restarted the server multiple times but i have the same output

[2022-03-30 09:38] shubhangi013 commented on #212
Yes I'll get started! Thankyou for explaining!

[2022-03-30 09:42] 17neelam commented on #265
hello!
I am Neelam from IIT Roorkee . I will like to work on this issue.

[2022-03-30 09:45] 17neelam commented on #265
@TildaDares
hello!
I am Neelam from IIT Roorkee . I will like to work on this issue.

[2022-03-30 09:51] 17neelam commented on #208
hi!
I am Neelam.
I like to work on this issue.

[2022-03-30 09:54] 17neelam commented on #264
@TildaDares @jywarren
I am Neelam. I will like to work on this issue.

[2022-03-30 12:14] tatiPFernandes commented on #82
Hi, does this issue still need to be worked on?

[2022-03-30 12:55] AsmaIbrahimButt opened #269 "Redesign the footer section"
The content on the footer should be aligned centered .The UI experience is bad because it is hard to recognized that it is a footer or it serves as other element on a page.

![footer](https://user-images.githubusercontent.com/89297894/160837893-46ac5cdb-8037-41bc-b6ad-36d1de31c23a.png)

[2022-03-30 13:05] AsmaIbrahimButt opened #270 "Enhance the UI of Question & Answer section"
The heading of question Answer have not good user interface and the Table under the header of Question Answer should be redesign for better user interface and also for user experience.

![ques](https://user-images.githubusercontent.com/89297894/160840522-122538fa-3f9c-4eed-989b-5f8244816010.png)

[2022-03-30 13:08] AsmaIbrahimButt opened #271 "Improve the alignment of topbar elements and user interface"
The topbar of the infragram is not so eye catchy because of there is some misalignment ,It should be improve with better user interface too.

![header](https://user-images.githubusercontent.com/89297894/160841453-91de7f81-ace9-4b39-af40-24e842e409ba.png)

[2022-03-30 14:10] steph237 commented on #239
hello Tilda i resolved the issue it was with the link to my directories
![30 03 2022_15 06 05_REC](https://user-images.githubusercontent.com/43364084/160854854-646351d9-92c7-41cc-9a2c-a7251ae6b593.png)

[2022-03-30 14:47] jywarren commented on #261
thank you!! solved in https://github.com/publiclab/infragram/pull/263

[2022-03-30 14:47] #261 closed

[2022-03-30 15:30] Somya-Singhal opened #272 "Positioning the Q&A section when image is enlarged"
When this button will be clicked to enlarge the image, the page will display as shown in the below screenshot.

<img width="629" alt="pl-1" src="https://user-images.githubusercontent.com/88088520/160872254-58992560-c704-4247-afff-edfe0e813602.PNG">

<img width="938" alt="pl-2" src="https://user-images.githubusercontent.com/88088520/160872414-58a36163-4e8e-46a4-b511-d097a4483d0e.PNG">

But the prob

[2022-03-30 16:09] Arup-Deb commented on #257
Thanks, @TildaDares  For assigning me.

[2022-03-30 16:15] Somya-Singhal opened #274 "Fixing typos in .github/config.yml"
<img width="649" alt="pl-3" src="https://user-images.githubusercontent.com/88088520/160880724-390a6874-fff3-4223-97ec-fb2b07e5e38c.PNG">

In lines 5,11 and 17 in .github/config.yml, there is extra to in the comments

[2022-03-30 16:41] TildaDares commented on #260
Hi @Arup-Deb, you were assigned to #257 and not this issue.

[2022-03-30 16:45] Somya-Singhal commented on #274
Hi @TildaDares , I found a small typo issue in the .github/config.yml file and created a PR. Could you check once if it works fine.

[2022-03-30 16:55] #274 closed

[2022-03-30 18:32] ubaxeeycabdullaahi commented on #271
I would to assign me this

[2022-03-30 18:41] ubaxeeycabdullaahi commented on #270
I would like to work this

[2022-03-30 18:44] Zinkeng commented on #272
I will like to work on this issue. Can you please assign to me ?

[2022-03-30 18:50] on2onyekachi opened #276 "Move style tag rule from vr/index.html to infragram.css"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-03-30 19:14] TildaDares commented on #276
This looks great @on2onyekachi. Thank you!

Also, I was wondering since [infragram.css](https://github.com/publiclab/infragram/blob/main/dist/infragram.css#L43) already has a `#toolbar` styling, will we have to override it? Can you check just to make sure everything is fine?

[2022-03-30 19:22] on2onyekachi commented on #276
Yeah, I have checked on it.

It has no same property as the existing `#toolbar`. it works perfectly fine.

[2022-03-30 19:22] on2onyekachi commented on #276
@TildaDares Can I work on this?

[2022-03-30 19:23] TildaDares commented on #276
So instead of creating a new style for `#toolbar`, I think we should just merge them.

[2022-03-30 19:24] TildaDares commented on #276
Also, FTO templates are usually used to create issues for first-timers. If you're the one that's going to be working on the issue, it'd be better if you just created a normal issue. Thanks!

[2022-03-30 19:26] Somya-Singhal commented on #272
@Zinkeng, I am not the mentor, I am also an outreachy applicant. But you can ask @TildaDares to assign this issue to you if this issue is fine.

[2022-03-30 19:34] on2onyekachi commented on #276
Oh, okay. Thanks for the explanation. I know better now.

[2022-03-30 19:40] on2onyekachi commented on #276
@TildaDares It will be much better this way. Are you assigning someone to work on this or i can carry on?

[2022-03-30 19:53] aashimawadhwa opened #277 "Building a 'walk-through' tutorial ."
Building a 'walk-through' tutorial, which dives deeper by letting the user interact along with the tutorial.Build a descriptive tutorial, going through all the main sections, options and Interface one at a time, briefly describing them.

[2022-03-30 20:00] akanbifatimah opened #278 "Change typo error ('ru') on line 176 to 'run' in the README.md file."
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either haven't contributed to our codebase before, or even folks who haven't contributed to open source before.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially int

[2022-03-30 20:04] TildaDares commented on #276
@on2onyekachi The choice is yours 😅

[2022-03-30 20:09] aashimawadhwa opened #279 "minimizing the picture display full screen using ESC button"
currently on tapping on the maximized picture itself the picture gets minimized can we do the same with ESC button
![ezgif com-gif-maker](https://user-images.githubusercontent.com/73706697/160921961-70a8a7a4-ea0d-40f5-ad23-4d3b9b6b3b85.gif)

[2022-03-30 20:27] VictoriaAjala commented on #279
I'd like to solve this probelm

[2022-03-30 20:29] aashimawadhwa commented on #279
I'm working on it as I'm also a fellow contributor i cannot assign it to you.

[2022-03-30 20:30] wisdomekpotu commented on #276
@on2onyekachi can i work on this

[2022-03-30 20:31] VictoriaAjala commented on #278
Can I work on this issue?

[2022-03-30 20:34] akanbifatimah commented on #278
Hi @VictoriaAjala , Please hold on , @TildaDares would have to review this issue to kno if its fit for a first time only issue

[2022-03-30 20:43] VictoriaAjala commented on #279
Okay.

[2022-03-30 21:18] TildaDares commented on #278
Hi @akanbifatimah, great catch but this issue has been resolved in #247. You can view the [updated README](https://github.com/publiclab/infragram#export-to-image-sequencer) now.

[2022-03-30 21:26] akanbifatimah commented on #278
@TildaDares,oh I didn't see that earlier. Thank you for pointing it out. I will close this issue now

[2022-03-30 21:26] #278 closed

[2022-03-30 21:27] VictoriaAjala commented on #278
Thanks @TildaDares for the update, I'd look around for other open issues while waiting for you to assign me one. 🙂

[2022-03-30 21:35] VictoriaAjala commented on #269
I'd like to solve this issue

[2022-03-30 22:17] on2onyekachi commented on #276
Yeah, @TildaDares  You're right. it actually overrides the existing `#toolbar` style. I had to clear my cache file to notice this. thought this can still be fixed to maintain separation of concern and to organize the code.

[2022-03-30 22:24] VictoriaAjala opened #283 "Make header texts more visible by using a solid color."
The texts in the header are not visible enough.

What it looks like currently:
![Screenshot 2022-03-30 at 15-12-18 Infragram by Public Lab - Home](https://user-images.githubusercontent.com/102407780/160940885-67a42875-9125-4b36-85c8-e7d6d6235ec7.png)

What it should look like:
![Screenshot 2022-03-30 at 23-23-36 Infragram by Public Lab - Home](https://user-images.githubusercontent.com/102407780/16

[2022-03-30 22:25] VictoriaAjala commented on #283
I would like to create a PR for this issue as I have already fixed it @TildaDares @jywarren

[2022-03-30 23:05] TildaDares opened #284 "Update new PR Welcome Message"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-03-30 23:14] TildaDares opened #285 "Update CODE_OF_CONDUCT.md"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-03-30 23:14] TildaDares commented on #285
Reserved for @Prakashh21 for 24 hours!

[2022-03-31 01:49] on2onyekachi opened #286 "Add quotes to font-names containing whitespaces in infragram.css."
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-03-31 05:13] AsmaIbrahimButt commented on #270
@TildaDares @jywarren Kindly assign me this issue .I want to contribute.Thanks

[2022-03-31 05:15] AsmaIbrahimButt commented on #269
@TildaDares Kindly assign me this issue I want to work on it.Thanks

[2022-03-31 05:17] AsmaIbrahimButt commented on #271
@TildaDares @jywarren Kindly assign me this issue I would like to  work on this.Thanks

[2022-03-31 05:58] daluclemas commented on #284
Thanks a lot

[2022-03-31 06:00] shubhangi013 opened #288 "vague message in the modal for quick start"
The message in the modal is pretty vague and can be elaborated further or phrased better because it aims at beginners .
![Screenshot from 2022-03-31 11-22-26](https://user-images.githubusercontent.com/78342516/160986131-1cdb1f8b-2b33-42ec-a817-60d63bd19818.png)

I went through the repository and as far as I could gather from understanding infragram, in my opinion, it should be phrased to :
'The pr

[2022-03-31 06:04] shubhangi013 commented on #288
@TildaDares
I would like to work on this.

[2022-03-31 06:17] shubhangi013 opened #289 "Cleaning of unecessary logs"
There are a lot of very unnecessary logs throughout the code. For example :

https://github.com/publiclab/infragram/blob/ed49410ea322a4e09f0b670efa5d606a0f9cf57b/dist/infragram.js#L487

and
https://github.com/publiclab/infragram/blob/ed49410ea322a4e09f0b670efa5d606a0f9cf57b/dist/infragram.js#L1497

Can we remove these? there are other helpful ones that actually help the developers while contributi

[2022-03-31 06:29] 17neelam commented on #260
Hi!  @jywarren  @TildaDares
I like to work on this issue. can u assign me this issue?

[2022-03-31 06:33] 17neelam commented on #285
hi!   @TildaDares
I like to work on this issue. can u assign me this issue?

[2022-03-31 06:44] ubaxeeycabdullaahi commented on #269
@TildaDares assign me please

[2022-03-31 06:50] daluclemas commented on #284
good morning @TildaDares , please i'd like a review . Thanks.

[2022-03-31 07:30] wisdomekpotu commented on #286
@on2onyekachi I will like to work on this

[2022-03-31 07:35] on2onyekachi commented on #286
@wisdomekpotu, @TildaDares  is yet to preview.

[2022-03-31 07:39] TildaDares commented on #286
Hi @wisdomekpotu, go ahead!

[2022-03-31 07:39] TildaDares commented on #286
Thank you @on2onyekachi

[2022-03-31 07:40] wisdomekpotu commented on #286
Okay , thanks!

[2022-03-31 07:45] TildaDares commented on #257
Resolved in #273.

[2022-03-31 07:45] #257 closed

[2022-03-31 07:46] TildaDares commented on #289
Hi @shubhangi013, go ahead. Thanks!

[2022-03-31 08:10] Zinkeng commented on #272
okay thanks

[2022-03-31 08:16] wisdomekpotu commented on #286
@TildaDares I am done with this https://github.com/publiclab/infragram/pull/291

[2022-03-31 09:21] Zinkeng opened #292 "Adding a filter option on the Q&N section"
Users might want to filter questions according to some keywords so. I wish to add this field, that is just the frontend and not the complete functionality. @TildaDares  can I proceed with this issue ?

[2022-03-31 09:27] Zinkeng commented on #292
![git](https://user-images.githubusercontent.com/67858889/161023358-18530883-4857-49b2-b99f-f299e4e1ed22.jpg)
filtering will come here

[2022-03-31 10:22] girija0707 commented on #264
Hey @TildaDares can I go ahead with this

[2022-03-31 12:47] VictoriaAjala opened #294 "Unaligned texts on clicking the picture display"
After selecting the blank section of the texts are not aligned.

![Screenshot 2022-03-31 at 13-36-31 Infragram by Public Lab - Home](https://user-images.githubusercontent.com/102407780/161057719-c787f7c5-7d22-4785-8558-f9294f2e61f6.png)

[2022-03-31 12:49] govindgoel commented on #289
@shubhangi013 yeah, you can remove the redundant logs and maybe comment out those which might help in debugging sometime.

[2022-03-31 13:12] sarxxt opened #295 ""Show less" option in Q&A section not functioning"
![Screenshot (98)](https://user-images.githubusercontent.com/83841462/161062036-ee9eab09-cf80-420b-b455-1f6271893ad2.png)

[2022-03-31 14:48] VictoriaAjala opened #297 "The page is not user friendly"
i tried setting the display size to that of an Iphone 11 and it was not working fine
![Screenshot from 2022-03-31 15-39-26](https://user-images.githubusercontent.com/102407780/161083872-343fd541-b62e-4170-b317-9300afd95c1d.png)
![Screenshot from 2022-03-31 15-38-50](https://user-images.githubusercontent.com/102407780/161083877-0766c44c-fea9-4b3d-aa39-665b86867b5c.png)
![Screenshot from 2022-03-31

[2022-03-31 15:01] BeeBombshell commented on #294
Hi @VictoriaAjala and @TildaDares, I tried manipulating the CSS of the text container and set the text to the center of the screen when the blank space is clicked. Here is a screenshot of how it looks:

<img width="959" alt="image" src="https://user-images.githubusercontent.com/53828745/161086665-b6fd8e12-a462-40b1-ba76-fdcf17507796.png">

Would you like me to file a PR for the same? 😄

[2022-03-31 15:15] ShrutiKoli19 commented on #295
Hi, I would like to work on this issue.

[2022-03-31 15:47] preeti-14-7 opened #298 "Fix Button"
![image](https://user-images.githubusercontent.com/73853439/161095846-15309208-5ae2-45da-b2c9-bd43f884ba80.png)

The >> button is not under the button and also ASK the question is crossing the button I want to fix that
please assign this to me @TildaDares

[2022-03-31 16:16] TildaDares commented on #295
Hi @sarxxt, thank you for opening this. This issue is a problem with the plots2 repo and not Infragram. We have an issue open to resolve this in https://github.com/publiclab/plots2/issues/10817. Thanks!

[2022-03-31 16:16] #295 closed

[2022-03-31 16:16] sarxxt commented on #295
hi @TildaDares can you mark this issue as proposal?

[2022-03-31 16:19] TildaDares commented on #298
Hi @preeti-14-7, we're suspending all Infragram UI design implementation until the start of the internship. What you can do is create issues to discuss the improvements you plan to make along with sketches or wireframes.

Also, have you requested for a first-timers-only issue in publiclab/plots2#10153?

[2022-03-31 16:41] TildaDares commented on #295
Infragram embedded a plots2 iframe in its own site. You were not on the wrong page.

[2022-03-31 17:43] kabuur commented on #297
claim me I will solve

[2022-03-31 17:45] kabuur commented on #297
assign me

[2022-03-31 17:52] kabuur commented on #297
@VictoriaAjala claim me

[2022-03-31 18:24] sarxxt commented on #295
Hi @TildaDares, I am an outreachy applicant.  Since the Infragram project is not accepting pull requests due to outreachy project, could you tell me how can we submit our contributions then?

[2022-03-31 18:26] kabuur commented on #297
@dependabot-bot claim

[2022-03-31 18:32] FonyaBrandone commented on #295
Hello Mrs @TildaDares, I am an outreachy applicant and am excited about open source and contributing. Please I would like to know how to go about the contributions. Thank You!

[2022-03-31 18:41] sarxxt opened #299 "making an arrow down option for monochrome values"
![Screenshot (107)](https://user-images.githubusercontent.com/83841462/161126814-fab0fc3a-7676-453d-b618-095553815579.png)

[2022-03-31 18:44] sarxxt commented on #299
@TildaDares what you prefer should I open one issue and suggest all changes in it or open new issue for each suggestion.

[2022-03-31 19:05] FonyaBrandone commented on #285
Hello Mrs @TildaDares, I am an outreachy applicant and would like to work on the UI Redesign project with great Design features. For the mean time I would like to contribute to this open issue if possible. Thanks!

[2022-03-31 19:15] FonyaBrandone commented on #299
Hi @sarxxt I would like to assist you on this if stuck

[2022-03-31 19:37] Somya-Singhal opened #300 "How to make a successful PR?🤔"
### To help beginners who have started their journey to open source, I am writing few steps to create a successful PR.
1. Click on the fork icon present at the top right corner of the repository.
    Here is the link of the repository (https://github.com/publiclab/infragram)

    This step will create a copy of the main repository so that you can modify it.
<img width="942" alt="pl-4" src="https:/

[2022-03-31 19:39] Somya-Singhal commented on #300
Hi @TildaDares , I created an issue to help beginners to make a PR. Can you suggest changes if any needed?

[2022-04-01 02:31] Somya-Singhal commented on #300
Thanks @TildaDares @on2onyekachi for encouraging me. I have updated the issue @TildaDares. Can you please review it and suggest further changes if it's needed?

[2022-04-01 04:19] TildaDares commented on #300
Amazing work @Somya-Singhal!! You can share this in the chatroom so that other applicants know about it. Thanks!

[2022-04-01 06:33] kabuur commented on #298
@Preeti Yadav claim

[2022-04-01 07:08] daluclemas commented on #284
Hi @TildaDares please what is the next step? Good morning,lol.

[2022-04-01 08:13] VictoriaAjala commented on #297
I'm working on it as I'm also a fellow contributor i cannot assign it to you.

[2022-04-01 08:18] komal3120 opened #301 "Place Ask a Question button"
![Screenshot from 2022-04-01 13-31-01](https://user-images.githubusercontent.com/48469729/161222031-2a24c360-3e09-4d1d-b97e-ae61aa265b7f.png)

- Currently **Ask a Question or help answer future questions on this topic** placed at bottom of scroll bar and we have to scroll then we will find it. This is not visible to user all the time.

- This is little unclear. This should be always visible to use

[2022-04-01 08:26] VictoriaAjala commented on #297
@kabuur I would be working on this issue as my proposal for the project. You can request for an FTO issue here https://github.com/publiclab/plots2/issues/10153

[2022-04-01 10:03] vincent-simon commented on #301
Actually I find the whole Q&A section and its behavior a little bit funny. I think that as @komal3120 mentioned the Ask Question button should be strategically placed on the top right corner of the page so that it is used much more.

Further I feel that after pressing on the button it should hyperlink to the page in a new tab instead of the Q&A section itself.

@jywarren @TildaDares please share y

[2022-04-01 10:06] vincent-simon commented on #292
By filtering do u mean some kind of search box?

[2022-04-01 10:44] Zinkeng commented on #292
Yes, a reactive one

[2022-04-01 11:57] Somya-Singhal commented on #300
Thanks @TildaDares for giving me an opportunity to help others, I will share this in the chatroom.

[2022-04-01 13:16] shubhangi013 commented on #289
Right! Thankyou 😊

[2022-04-01 18:34] ydv-sahitya opened #302 "changing color for text"
I will be changing the color of the text. it is not very visible.

![image](https://user-images.githubusercontent.com/37513489/161322125-3676c170-a74f-42f2-b5ad-5ccbff1e8ba3.png)

[2022-04-01 19:28] girija0707 opened #303 "Enhancing the design of Q&A section"
I would love to open a discussion on enhancing this section, I think of adding a border or displaying this section in other page specially designed for Q&A.

![Screenshot (80)](https://user-images.githubusercontent.com/63583646/161329052-90835446-f0a4-4281-b780-1cdce45a1b9d.png)

[2022-04-01 19:29] girija0707 commented on #303
@TildaDares would love to know your views and further discuss with my fellow peers about it 😊

[2022-04-01 22:50] TildaDares commented on #303
Hi @girija0707, this is a really great suggestion but the code for the Q&A section exists in plots2 not Infragram. An iframe was used to embed it into the Infragram page.

[2022-04-02 00:15] Zinkeng opened #304 "Beautifying the image-container"
Beautifying the image-container by creating a border around it from the narvbar to the Q&A section.
![SharedScreenshot](https://user-images.githubusercontent.com/67858889/161356253-619b7d91-9b6a-48e5-a6a0-4ceaaa0c848a.jpg)

[2022-04-02 00:17] Zinkeng commented on #304
@TildaDares Please I wish you could review this and assign to me if it is okay. Thank you

[2022-04-02 07:04] TildaDares commented on #304
Hi @Zinkeng, we’re suspending all UI-related issues because we plan on redesigning the Infragram homepage as an Outreachy project https://publiclab.org/wiki/gsoc-ideas#Outreachy:+Infragram.org+full-screen+UI+design. You can open issues to discuss all of the things you plan to change/redesign along with wireframes/sketches if you want to work on this project. These issues will serve as your proposa

[2022-04-02 07:18] TildaDares commented on #285
Hi @17neelam, go ahead! Thanks.

[2022-04-02 08:26] AsmaIbrahimButt opened #305 "Removing White space and setting the items with proper alignment"
There is white space to the right side of header section.This white space should be remove ans setting thing with proper alignment and space between each items should be equally set.I would like to fix this issue.

![WhatsApp Image 2022-04-02 at 1 15 59 PM](https://user-images.githubusercontent.com/89297894/161374352-f488d16b-2eeb-40d9-8b73-cdeeb9279d32.jpeg)

[2022-04-02 08:46] Bhawna-Sharma-9903 commented on #259
hello can I work on this issue?

[2022-04-02 09:04] girija0707 commented on #303
so to make major changes one needs to do that in plots2?

[2022-04-02 09:29] TildaDares commented on #303
No I'm just saying this particular functionality can only be corrected in plots2.

[2022-04-02 09:30] TildaDares commented on #303
This can be done in Infragram

[2022-04-02 10:41] mehul89 commented on #302
that's great

[2022-04-02 12:55] girija0707 opened #307 "Empty ruleset"
The  style attribute is empty is it fine to remove it
 ![Screenshot (84)](https://user-images.githubusercontent.com/63583646/161384133-8a826092-01c2-4057-ad59-b974667f4ca1.png)

[code]

[2022-04-02 13:01] girija0707 commented on #303
That's great to know, would love to know your views on creating a separate page for Q&A

[2022-04-02 13:03] girija0707 commented on #307
@TildaDares is it fine to remove this style attribute as it is empty

[2022-04-02 13:41] Hydriah commented on #259
@jywarren @TildaDares  just created a pull request on this issue

[2022-04-02 14:20] TildaDares commented on #307
Hi @girija0707, yes go ahead

[2022-04-02 14:22] girija0707 commented on #307
Su

Thank you 😊

[2022-04-02 14:46] Zinkeng commented on #304
Alright, thank you @TildaDares but please can you assign me an issue so I can start contributing?

[2022-04-02 19:11] soumyag123 opened #310 "Enhancing design for Quick Start section"
![Screenshot (339)_LI](https://user-images.githubusercontent.com/78379539/161397754-3b9a3a9f-be77-4f2c-93a0-6266b0a6c062.jpg)
Some text starts in lowercase letters.
The cancel button can be improved.

[2022-04-02 19:12] soumyag123 commented on #310
Hii @TildaDares can I continue working on this issue?

[2022-04-02 19:18] girija0707 commented on #307
hey @TildaDares  there was some mess while trying to create pull request hence I had to delete my fork repository  and again fork and clone the repository but now I don't see this error in the code that I had seen earlier

[2022-04-02 19:34] girija0707 commented on #307
would you please review the issue I had opened earlier regarding readme.md file #264

[2022-04-02 23:17] FonyaBrandone opened #312 "Export index.html internal script to infragram.js"
For faster page loading and easier code maintenance, moving the internal script in <b>index.html</b> below:
![Screenshot (63)](https://user-images.githubusercontent.com/100780969/161404417-6c773f0a-3835-472b-a95a-77fb16184c36.png)

To <b>src/infragram.js</b>, as shown below:
![Screenshot (64)](https://user-images.githubusercontent.com/100780969/161404487-d6d0a15b-c726-4bbc-8b02-fdb40851a12f.png)

[2022-04-02 23:19] FonyaBrandone commented on #312
Hello Mrs. @TildaDares can i work on this issue ?

[2022-04-03 00:45] Somya-Singhal commented on #212
If this issue is still open or any help is needed, can I collaborate with you @shubhangi013 ?

[2022-04-03 05:33] Somya-Singhal opened #313 "Issues in webglColormapGenerator.js file"
<img width="863" alt="pl-6" src="https://user-images.githubusercontent.com/88088520/161407029-568b570f-1bd0-4f8f-a6ff-eedcbd727751.PNG">

I found there are some bugs in this file like fn function is declared inside if statement but used outside it also and some issues with opening and closing of paranthesis.

[2022-04-03 05:34] Somya-Singhal commented on #313
Hello @TildaDares , Can I work on this issue to improve the code?

[2022-04-03 13:20] #259 closed

[2022-04-03 13:21] #260 closed

[2022-04-03 13:23] TildaDares commented on #289
Resolved in #293

[2022-04-03 13:23] #289 closed

[2022-04-03 19:32] girija0707 opened #314 "Empty paragraph tag in index.html"
The paragraph tag is empty and hence can also be removed
![Screenshot_2022-04-04-00-54-20-33_6012fa4d4ddec268fc5c7112cbb265e7](https://user-images.githubusercontent.com/63583646/161444830-e74c57e3-a2b5-45e3-98f6-5b22cb6ca2aa.jpg)

[2022-04-03 19:32] girija0707 commented on #314
@TildaDares would like to remove it to make make the code cleaner

[2022-04-03 20:28] TildaDares commented on #314
Hi @girija0707, go ahead! Thanks

[2022-04-04 02:09] Somya-Singhal opened #315 "Use of initMouseEvent is deprecated"
In infragram.js, initMouseEvent is used, but as the use of initMouseEvent has been deprecated, so I can be fixed by the below modification

Here is the code snippet where the issue exists:
` event = document.createEvent("MouseEvents");
event.initMouseEvent("click", true, true, window, 0, 0, 0, 0, 0, false, false, false, false, 0, null);
lnk.dispatchEvent(event);`

Can be fixed by below modificatio

[2022-04-04 02:10] Somya-Singhal commented on #315
@TildaDares , if my above solution is fine can I work on this issue? Please correct me if I am wrong!

[2022-04-04 06:27] Somya-Singhal commented on #39
Hello @jywarren, I am an outreachy applicant. I would like to work on this issue.

[2022-04-04 07:52] Somya-Singhal commented on #3
Is this issue still there? Because I had seen the files and not found where it's been used😅.

[2022-04-04 08:29] AsmaIbrahimButt opened #317 "Theme Color of Tooltip"
When we click on the image upload button and on camera button tool tip appears black whereas when we click on the colorize button the todown menu display in white theme.I would like to fix it.
![tooltip](https://user-images.githubusercontent.com/89297894/161504528-e265648b-e7b4-4766-b75b-cad9f7a703e8.png)
![WhatsApp Image 2022-04-04 at 1 23 22 PM](https://user-images.githubusercontent.com/89297894

[2022-04-04 10:15] shubhangi013 opened #318 "collapsible table of contents bar to make navigation easier"
To enhance both user and developer experience, we can have a collapsible table of contents that can make navigating through the various headings easier.

one can take reference from: https://github.com/othneildrew/Best-README-Template
This is a beginner-friendly issue. You'd need to know a bit about the syntax followed by GitHub.
one can read about it here: https://docs.github.com/en/get-started/w

[2022-04-04 13:07] simransia opened #319 "Proposal for designing new interface using Bootstrap 4 for Infragram [Outreachy2022]"
Hello Everyone ! 👋

As Infragram has to be redesigned using bootstrap 4, I have created a mockup designs for it's user interface. I have divided the whole  UI interface into 3 parts in order to describe each part more clearly :

### Section (I) :  UI design for the Navbar and Image Editing section:

-  Bootstrap 4 provides various templates for making **_responsive navigation bars_**. The header w

[2022-04-04 13:57] simransia commented on #319
Hello @TildaDares @jywarren. I am really excited to know your views about this mockup design which I have created for Infragram. I would like to know if this design is meeting the expectations or not, and if not then which areas/sections needs improvement.

 I want to add two more things:
1) While I was going through the links present in the Infragram's page then I found out a feedback given by a

[2022-04-04 14:02] shubhangi013 commented on #318
It is for the Readme

[2022-04-04 14:13] shubhangi013 commented on #318
Oh, I meant it in a sense that we can have a table of contents fro the readme with headings like 'Contributing' and 'First time?' so that it's easier for developers and users to navigate through the instructions of the readme. Just like the reference I've linked. It has a table of contents.

[2022-04-04 14:15] TildaDares commented on #318
Is this the Table of Contents you're talking about?

<img width="404" alt="Screenshot 2022-04-04 at 15 14 36" src="https://user-images.githubusercontent.com/63427719/161563190-ec24e41b-a2a2-4ef7-b2e0-936cbe360379.png">

[2022-04-04 14:16] shubhangi013 commented on #318
Yes!

https://user-images.githubusercontent.com/78342516/161563391-8e5bd3f4-b891-4d30-8b11-6f881557b2c4.mp4

It makes it easy to navigate

[2022-04-04 14:19] TildaDares commented on #318
I like where the idea is coming from but wouldn't a second Table of Contents be redundant. Also Github's ToC is easier to navigate because the user will always see it as they scroll.

[2022-04-04 14:24] #318 closed

[2022-04-04 14:31] TildaDares commented on #318
On second thought @shubhangi013, I think we can add one. I checked other Public Lab repos and they have a second Table of Contents. If you want, you can reopen this and create an FTO for it.

[2022-04-04 14:32] TildaDares commented on #318
But instead of the ToC being a dropdown, can it be like the one in the plots2 repo? https://github.com/publiclab/plots2#table-of-contents

[2022-04-04 14:33] shubhangi013 commented on #318
Yes it would be better. GitHub already has a collapsible one. I will reopen this!

[2022-04-04 14:46] shubhangi013 commented on #318
Thankyou! :heart:

[2022-04-04 18:19] sarxxt commented on #299
@TildaDares

[2022-04-04 18:47] TildaDares commented on #299
Hi @sarxxt, sorry for the late reply. You can open new issues for each suggestion.

[2022-04-05 09:02] Bhawna-Sharma-9903 opened #320 "Enhancing the design by imporving the designs and font style"
![issue1 publiclab](https://user-images.githubusercontent.com/79350994/161718912-9312c10a-7dbb-4a61-b5d5-ae1705bd41f4.jpg)

[2022-04-05 09:07] shubhangi013 commented on #265
Closing this via #266

[2022-04-05 09:08] #265 closed

[2022-04-05 09:44] kunlefash opened #399 "Adding margin and border-radius to the Run button @publiclab/plots2-reviewers"

[2022-04-05 15:25] BhavyaT-135 opened #321 "Infragram Full-Screen UI and Video Upload [GSoC'22]"
The following proposal is regarding the GSoC'22 application. The changes suggested in this issue are open to updates and modifications. I aim to improve the UI of the entire website and incorporate it within a common theme. In addition, I am planning to work on and implement the cross-browser video drag feature.

To begin with, I'd like to redesign the header section under a decided theme. Further

[2022-04-05 15:28] BhavyaT-135 commented on #321
Hi, @jywarren @TildaDares @cesswairimu I went through the project and have shared the ideas that I would like to implement as part of the GSoC program. Could you kindly take a look and suggest any changes. 😃

[2022-04-05 15:32] stylebytemi opened #322 "Non-functionality section #infragram"
Zone-last of the toolbar Div is non-functional. Kindly debug.
![Infragram FTO Issue by Temiloluwa Adewale](https://user-images.githubusercontent.com/98469754/161790477-c48f7c03-bee8-4489-9dee-450fa8308a91.PNG)
![2 Infragram FTO Issue by Temiloluwa Adewale](https://user-images.githubusercontent.com/98469754/161790563-5a351cd9-fc69-43ff-8092-be98e1eaf102.PNG)

[2022-04-05 15:34] stylebytemi commented on #322
@TildaDares Can I fix an issue created by me? If yes, kindly preview.

[2022-04-05 16:12] stylebytemi commented on #322
The class of the div in question is "zone last" @TildaDares

[2022-04-05 16:56] TildaDares commented on #322
@stylebytemi The command is `git push --set-upstream origin <branch name>`

[2022-04-05 18:04] nuilewis opened #323 "Infragram UI redesign proposal [Outreachy 2022 Proposal]"
Hello, I went through the Infragram website and here are some suggestions I have for the UI.
I did a full redesign of the UI

### Issues

Some of the issues I noticed with the original website were;

- The home page felt dated
- Lacks structure
- Lacks proper hierarchy
- Feels overwhelming to a new user
- Feels too tight and doesn't have room to breathe.

I also worked on the Analyze images page,

[2022-04-05 18:28] nuilewis commented on #323
Hello, @TildaDares , this is my proposal for the Infragram UI project, please I would love some feedback, thanks!

[2022-04-05 18:55] jywarren commented on #270
Hello! @AsmaIbrahimButt, this issue is on hold because we plan on redesigning the Infragram homepage as an Outreachy project https://publiclab.org/wiki/gsoc-ideas#Outreachy:+Infragram.org+full-screen+UI+design. You can open an issue that lists all of the things you plan to change/redesign along with wireframes/sketches if you want to work on this project. This list/note will serve as your proposal

[2022-04-05 18:55] jywarren commented on #271
Hi @AsmaIbrahimButt, this issue is on hold because we plan on redesigning the Infragram homepage as an Outreachy project https://publiclab.org/wiki/gsoc-ideas#Outreachy:+Infragram.org+full-screen+UI+design. You can open an issue that lists all of the things you plan to change/redesign along with wireframes/sketches if you want to work on this project. This list/note will serve as your proposal to

[2022-04-05 19:20] jywarren commented on #3
Thank you, i believe this is long fixed, apologies!!!

[2022-04-05 19:20] #3 closed

[2022-04-05 19:25] jywarren commented on #212
Hi @shubhangi013 i see this is now complete, so I'm closing this! Thank you!!

@Somya-Singhal i'm sorry this was already solved. I'm hoping to open some additional opportunities for contribution if I have time today! Thank you!

[2022-04-05 19:25] #212 closed

[2022-04-05 19:26] jywarren commented on #307
No problem @girija0707 thank you for your help here!

[2022-04-05 19:26] #307 closed

[2022-04-05 19:27] jywarren commented on #264
Hi @girija0707 this looks like a nice contribution to make, either yourself if it's your first time, or if you have made a contribution already, you could try creating a "first-timers-only" issue for someone else! I'll leave some information about that below:

****

This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https:

[2022-04-05 19:37] jywarren commented on #301
Hi @vincent-simon the button is placed at the bottom because it uses the design from PublicLab.org (it's actually an iframe) as you can see at https://publiclab.org/wiki/infragram#Questions

The question button could go on top, but we might have to add our own custom button in addition to the one at the bottom. But one advantage to having it at the bottom is to encourage people to skim through oth

[2022-04-05 19:45] jywarren commented on #318
Hi @shubhangi013 thank you for the ideas!

If we make a copy of the existing first-timers issue template (for the bot) which is at https://github.com/publiclab/infragram/blob/main/.github/first-timers-issue-template.md

And we put it in the corresponding folder as we have in the plots2 repository: https://github.com/publiclab/plots2/tree/main/.github/ISSUE_TEMPLATE/

We should be able to use it as

[2022-04-05 20:24] on2onyekachi commented on #321
@BhavyaT-135  Awesome!.

[2022-04-05 20:28] on2onyekachi commented on #323
@nuilewis Really Awesome!

[2022-04-05 20:31] on2onyekachi commented on #323
But I think it would be nice to include an instructional modal that would guide users on the basic step of how to use it.

[2022-04-05 20:39] jywarren commented on #300
Hi @Somya-Singhal i love this! Perhaps you'd like to add a link to this from the README? That itself could be a first-timers-only issue if you'd like to create it?

[2022-04-05 20:41] jywarren commented on #303
Hi @girija0707 for some context, the Q&A table is shown in an iframe from publiclab.org -- i put some hints on how we can change it in this comment! https://github.com/publiclab/infragram/issues/301#issuecomment-1089241511

[2022-04-05 20:44] jywarren commented on #312
Hi @FonyaBrandone this seems like a good idea -- you could for example make the `openInPl()` function a public method of the Infragram object, by including it in this block:

https://github.com/publiclab/infragram/blob/577ff122edd6918891a84ea9d9df221585fdc901/src/Infragram.js#L55-L64

However, you'd then have to be sure that this line read something like `infragram.openInPl()` instead of just `ope

[2022-04-05 20:45] jywarren commented on #313
Hi @Somya-Singhal sure, if you'd like to open a PR that would be great! Thank you!

[2022-04-05 20:45] jywarren commented on #315
Hi @Somya-Singhal either way would be great, thank you!!

[2022-04-05 21:31] jywarren commented on #322
Hi @stylebytemi i believe that's the area that the various "Save" options are supposed to appear in. Try uploading an image and then the buttons should appear.

However when we redesign this for a full-width layout, it'll be easier to show this, and the extra buttons will be less likely to wrap onto the next line. But do you think perhaps we should show a non-enabled "Save" button? I had thought p

[2022-04-05 21:32] jywarren commented on #320
Hi! I believe there's an issue with the display on your device... or perhaps a stylesheet didn't completely load? Can you try refreshing and uploading a new screenshot? It should look like this:

<img width="1521" alt="image" src="https://user-images.githubusercontent.com/24359/161853328-247b33d5-241b-4fae-bb86-a509146edc4a.png">

[2022-04-05 21:34] jywarren commented on #317
Hi @AsmaIbrahimButt it's a very good observation, however, the two types of popups have different functions. One is called a "tooltip" and is described at https://getbootstrap.com/docs/4.6/components/tooltips/

The white one is a dropdown and described at https://getbootstrap.com/docs/4.6/components/dropdowns/

Does that make sense? Thanks!

[2022-04-05 21:51] jywarren commented on #314
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://code.publiclab.org/#r=all), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting it as a first-timers-only

[2022-04-05 21:52] jywarren commented on #310
Hi @soumyag123 yes please go ahead, we would love a contribution for this, especially the cancel button. Please consider using a button from Bootstrap 3 styles: https://getbootstrap.com/docs/3.3/components/

Thank you!

[2022-04-05 21:53] jywarren commented on #305
Hi @AsmaIbrahimButt thank you for this proposal! This may have some helpful context and if we could merge these issues and the discussion that would be great, how does that sound?

https://github.com/publiclab/infragram/issues/322

[2022-04-05 21:54] jywarren commented on #304
Hi @Zinkeng if you could sign up at https://github.com/publiclab/plots2/issues/10153 and request an infragram-specific issue that would be great. Thank you!

[2022-04-05 21:55] jywarren commented on #299
Hi @sarxxt this sounds interesting, what do you suggest would be the options available here? Thanks!

[2022-04-05 21:57] jywarren commented on #288
Hi, @shubhangi013 how about something like "The presets will auto-fill values for the Conversion/Analysis and Colorize steps for common use cases." ?

[2022-04-05 21:59] jywarren commented on #292
Hi @Zinkeng i like this idea, however it might be quite difficult because this whole Q&A box is loaded in an iframe from https://publiclab.org, at the url https://publiclab.org/embed/grid/question:infragram.

What we could do is to have a note at the bottom like "to sort questions and find other resources, visit https://publiclab.org/tag/infragram" or something, just below the Q&A section. What do

[2022-04-05 22:01] jywarren commented on #318
Also for background, the TOC at plots2 was created before GitHub added the TOC feature. But i'm not strongly for or against adding another TOC!

[2022-04-05 22:02] jywarren commented on #283
Hi @VictoriaAjala this sounds nice -- could we make them a solid color but not blue, so that the links are still distinguishable from unlinked text? Maybe just make the text a darker grey instead of a blue color? But yes this sounds nice! Thank you!

[2022-04-05 22:03] jywarren commented on #279
Hi! This does sound nice; how do you think you could achieve this? Perhaps with a jQuery keypress event listener? Thank you!

[2022-04-05 22:08] jywarren commented on #277
This sounds really nice. We have one at https://publiclab.org/notes/warren/10-20-2017/getting-started-with-infrared-photography-on-infragram-org but this will have to be updated once the new design is developed. So I wonder if we should put a hold on this but not forget it once the redesign is complete? Thank you @aashimawadhwa !!

[2022-04-05 22:18] jywarren commented on #251
Hi @ShivraniAJ @romasinha, thank you, this sounds like a good idea! This issue is on hold because we plan on redesigning the Infragram homepage as an Outreachy project https://publiclab.org/wiki/gsoc-ideas#Outreachy:+Infragram.org+full-screen+UI+design. You can open issues to discuss the things you plan to change/redesign along with wireframes/sketches if you want to work on this project. But UI i

[2022-04-05 22:21] jywarren commented on #269
Hi! We are redesigning the whole page, so perhaps we can discuss what should be in the footer, or because we will likely have a full-screen layout (i.e. no scrolling) we may not have a footer? Thanks!

[2022-04-05 22:38] jywarren commented on #319
Hi @simransia this is really lovely and I like your process and labeling and presentation a lot! I have plenty of feedback and want to be sure you know I like a lot of what you're proposing, so my questions are just to try out different ideas.

One is that i see your "Image Editing" layout still kind of looks like it's not full screen, like it is on this example site: https://www.photopea.com/ (al

[2022-04-05 22:43] jywarren commented on #319
Ah, one more, about the front page! Take a look at https://mapknitter.org/ - that page has a "showcase map" plus a 3-column guide to the "idea of the site" and then at the bottom it shows tables with more content (they take a while to load). We could do something similar on Infragram -- make a really long front page:

<img width="424" alt="Screen Shot 2022-04-05 at 6 42 23 PM" src="https://user-im

[2022-04-05 22:59] stylebytemi commented on #322
Thank you for your time @TildaDares I will push soon. @jywarren Thanks for your reply. Leaving it blank keeps user's eyes off as there's a probability a user won't notice the popup when an image is uploaded. I have made it easy for the buttons to fit in, I will post a screenshot here after submission.

Do have a good night.

[2022-04-06 00:38] Somya-Singhal commented on #315
Thanks @jywarren , for reviewing the issue. I have linked the PR #324 . Can you please review it and inform me if any changes are required?

[2022-04-06 00:39] Somya-Singhal commented on #313
Sure, I will do it shortly.

[2022-04-06 00:40] Somya-Singhal commented on #300
Ya sure @jywarren, I will create an FTO issue and update you!

[2022-04-06 01:46] Somya-Singhal opened #325 "Update README"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-04-06 01:48] Somya-Singhal commented on #325
Hello @TildaDares @jywarren, I created a FTO issue to add link to the README file. Can you please review it and suggest the changes if any needed?

[2022-04-06 02:10] Somya-Singhal commented on #212
Sure @jywarren, I would be happy to work on fixing those issues.

[2022-04-06 02:53] ShivraniAJ commented on #251
Yaa sure

Yaa sure

[2022-04-06 03:07] Zinkeng commented on #292
Hello @jywarren yes, that will be great

[2022-04-06 03:08] shubhangi013 commented on #318
Yeah, I'd love to! Thanks!

[2022-04-06 03:09] shubhangi013 commented on #288
Yepp sounds more apt and comprehensive

[2022-04-06 03:09] Zinkeng commented on #304
hello @jywarren thank you, have already been assigned an issue on plots2

[2022-04-06 04:52] mehul89 commented on #213
Hi ,

mehul would like to connect on LinkedIn. How would you like to respond?

Accept: https://www.linkedin.com/e/v2?e=-3v57l3-l1n3ge7b-lo&lipi=urn%3Ali%3Apage%3Aemail_email_first_guest_reminder_03%3BGp9wS%2BrNRgGrDi7Y5dLuIA%3D%3D&t=suwj&ek=email_first_guest_reminder_03&li=20&m=hero&ts=accept_text

View mehul’s profile: https://www.linkedin.com/comm/in/mehul-chapaneri-126129211?trk=eml-email_first

[2022-04-06 08:08] TildaDares commented on #325
@Somya-Singhal This looks really great. I was thinking maybe we could add it under the `Developers` heading instead https://github.com/publiclab/infragram#developers. What do you think?

[2022-04-06 10:05] Somya-Singhal commented on #325
I have updated @TildaDares @jywarren, Can you please review it?

[2022-04-06 10:06] TildaDares commented on #325
Great work @Somya-Singhal. Thank you!!!!

[2022-04-06 10:07] TildaDares commented on #325
Reserved for @ShrutiKoli19 for 24 hours!!

[2022-04-06 11:25] BhavyaT-135 commented on #321
@on2onyekachi Thank you for your review! I wish to write a proposal for GSoC'22 . I'd appreciate any suggestions or improvements from your side. Also, I wanted to ask how to proceed further with the proposal. 😊

[2022-04-06 12:44] shubhangi013 commented on #210
@TildaDares @jywarren
Could you review this design? I will elaborate further on every window ASAP

[2022-04-06 12:58] shubhangi013 opened #329 "does the repository still need travis.yml?"
does infragram still use Travis ci for testing?
if it is unnecessary, we can remove travis.yml?

[2022-04-06 18:21] Somya-Singhal commented on #313
Hello @jywarren , I linked a pull request. Can you please review it and suggest the changes if any needed?

[2022-04-06 18:23] ankittt20 opened #331 "Improving Quick Start Design"
![Issue-01](https://user-images.githubusercontent.com/92395053/162042495-151ccb12-81ee-4c37-9fb8-d7bec6721035.png)

Spacing can be improved, container can also be vertically centered and buttons can be improved.

[2022-04-06 18:23] ankittt20 commented on #331
Hey @TildaDares can I continue working on this issue?

[2022-04-06 20:52] jywarren commented on #130
Hi @Forchapeatl - yes you're welcome to try, but I think it may be a big project, which is why we put it down for the main Outreachy/GSoC program. I think it will involve factoring in the Temasys wrapper mentioned in the linked issue, and switching to that instead of the current getUserMedia Webcam API currently used!

[2022-04-06 21:24] Ifetakuro commented on #323
@nuilewis this is really nice

[2022-04-06 22:18] Ifetakuro commented on #331
@TildaDares please do we all have to propose wire-frames or new UI designs? Will discussions on how to improve the UI be accepted without a wireframe or Lo-fi?

[2022-04-07 02:15] ankittt20 opened #332 "Removing style.styl file"
![Screenshot (106)](https://user-images.githubusercontent.com/92395053/162106832-46b0b6c8-c49c-48ac-a4a3-bee7a37fef22.png)
Deleting this file to make the code better.

[2022-04-07 02:16] ankittt20 commented on #332
Hey @TildaDares can I work on this issue?

[2022-04-07 03:12] Pragati1419 commented on #7
Hello Everyone! I am Pragati from India.I am good in HTML, CSS, JavaScript, and UI. and looking forward to Contributing to InDesign a new full-screen user interface for Infragram.org.I would like to continue with this issue if it's not assigned to anyone.

[2022-04-07 03:17] ShrutiKoli19 commented on #325
Thankyou @TildaDares for assigning me the issue.

[2022-04-07 03:56] simransia commented on #319
Hello @jywarren sir ! I am really happy to know that you like my presentation and thankyou very much for providing a valuable feedback.

 I have tried answering all of your questions with the best of my knowledge in as detail as possible. They are as follows:

1. Yes we can make "Image editing section" edge-to-edge horizontally. We could use "container-fluid class" in order to do that.

2. Bootstr

[2022-04-07 07:06] TildaDares commented on #331
@Ifetakuro We need to see how you’ll improve the design and to do that you’ll need to provide visuals such as wireframes or sketches.

[2022-04-07 07:10] sarxxt commented on #299
hello @jywarren I think we can add color picker to make it more user friendly. I am attaching some pictures these are the ideas I took from adobe illustrator. Once user selects the color mode we can show these options
![Screenshot (115)](https://user-images.githubusercontent.com/83841462/162140734-a1984896-883f-47ad-bf4e-cdd064cf8163.png)
![Screenshot (114)](https://user-images.githubusercontent.c

[2022-04-07 07:10] TildaDares commented on #332
@ankittt20 Go ahead! Thanks

[2022-04-07 07:20] sarxxt opened #333 "converting feedback option to block element"
![more blocks](https://user-images.githubusercontent.com/83841462/162142572-7d5f23d3-5e1b-40c0-b3a5-15e288a981d9.jpg)

[2022-04-07 07:55] Ifetakuro commented on #331
@TildaDares thank you, I would learn how to work with wireframes. I’ll send in my proposal soon. Do you have any issues you suggests I can work on for the time being?
Do you have any preference of website for where I can learn how to work with wireframes best? Thank you for your input and time

[2022-04-07 08:05] Bhawna-Sharma-9903 commented on #320
Thankyou for mentioning I tried cloning the repo again still index.html runs with the same layout as in the screenshot.
can you please suggest me others ways.

[2022-04-07 08:39] nuilewis commented on #323
Thanks @on2onyekachi , thats a good idea.

[2022-04-07 08:40] nuilewis commented on #323
Thank you @Ifetakuro

[2022-04-07 19:49] TildaDares commented on #314
Hi @girija0707, would you like to make a first-timers issue from this? I can help with that if you're interested.

[2022-04-07 19:50] TildaDares commented on #285
Hi @17neelam, do you need help with this?

[2022-04-07 19:52] 17neelam commented on #285
yes @TildaDares  I am not able to understand how to initiate.

[2022-04-07 19:54] TildaDares commented on #285
Hi @17neelam, have you gone through the guide on how to contribute in the description above?

[2022-04-07 19:55] 17neelam commented on #285
yes i did that but not getting the code file on which i have to work.

[2022-04-07 19:58] TildaDares commented on #285
@17neelam This is the file https://github.com/publiclab/infragram/blob/main/CODE_OF_CONDUCT.md

[2022-04-07 20:06] 17neelam commented on #285
@TildaDares can you please tell me in short what I have to do in this issue. please help me to understand the issue.

[2022-04-07 20:11] TildaDares commented on #285
@17neelam You need to go to https://github.com/publiclab/infragram/blob/main/CODE_OF_CONDUCT.md and then follow the instructions in this article https://docs.github.com/en/repositories/working-with-files/managing-files/editing-files.

The lines in red should be deleted and the ones in green added.

[2022-04-08 08:04] shubhangi013 commented on #288
@jywarren and @TildaDares  should I work on this issue?

[2022-04-08 14:43] girija0707 commented on #314
yes @TildaDares ,would love to do that, will you please help with the template

[2022-04-08 14:46] girija0707 commented on #303
ok sure I would do that

[2022-04-08 15:05] girija0707 commented on #301
hello @jywarren  can we open the Q&A in new tab using javascript with the help of window.open function

[2022-04-08 15:14] girija0707 commented on #264
It's great if this can be made into a FTO , since I've completed mine a few days ago I would love newbies working on it 😄

[2022-04-08 15:15] Ishhha commented on #305
Hello @AsmaIbrahimButt and @jywarren, I want to work on this issue, Can u please assign this issue to me?

[2022-04-08 16:51] ashutoshdhande opened #337 "No rear camera access on mobile devices."
If a user opens the app on a mobile device, by default front camera is used. It will be good if we add a toggle switch so it can access both the cams according to the needs of the user.

[2022-04-08 16:52] ashutoshdhande commented on #337
ma'am @TildaDares, may I start working on it?

[2022-04-08 16:52] TildaDares commented on #314
@girija0707 All you have to do is find the New Issue button and click it. After clicking you’ll find FTO template,

[2022-04-08 16:55] girija0707 commented on #314
Ok thank you

[2022-04-08 19:38] 17neelam commented on #285
@TildaDares  after doing the changes. How I Creating a commit with multiple co-authors. from where I find required co-author information.
help me in this pleases.

[2022-04-08 19:57] 17neelam commented on #285
@TildaDares  in creating the commit with authors do have to mention only you or there are other authors too?

[2022-04-08 20:08] TildaDares commented on #285
@17neelam You're the only author that should be added. No one else.

[2022-04-08 20:31] #332 closed

[2022-04-08 20:44] 17neelam commented on #285
@TildaDares  what I have to do after creating the pull request?

[2022-04-08 20:47] 17neelam commented on #285
@TildaDares  as this is my first time working in open source i don't know if I going right or not. please correct me if I am getting wrong.
Thank you

[2022-04-08 20:49] #285 closed

[2022-04-08 20:50] TildaDares commented on #285
@17neelam I've merged the pull request. Thanks for working on this!!

[2022-04-08 21:15] Ifetakuro opened #339 "Double Scrollbar in the Q&A section"
In the Question Section, I propose that we eliminate the double scroll bar. Sticking to just one scroll bar, which is the table section itself.

As a result, the "ask a question" button will be outside, rather than inside table section. This would allow you to see it without having to scroll.

The embed tag should be a different color than the rest of the page so that the user is aware that it has

[2022-04-08 22:02] stephaniequintana opened #340 "Full Screen UI design of infragram.org [Outreachy]"
This is a working draft of my proposal for the Full Screen UI of infragram.org.

![Screen Shot 2022-04-08 at 4 16 21 PM](https://user-images.githubusercontent.com/81270711/162536772-ca68a124-44e4-4dff-89bf-6128fc91d1f8.png)

![Screen Shot 2022-04-08 at 4 23 31 PM](https://user-images.githubusercontent.com/81270711/162536742-f502a5fc-e04e-4627-be79-bab394bbdd2f.png)

In the following days to come I

[2022-04-08 22:06] stephaniequintana commented on #340
@TildaDares, @jywarren and @cesswairimu, I have created a draft proposal and will be woking on those mentioned issues in the next coming weeks. I would very much appreciate a review and any feedback you may have for me. Thank you in advance!

[2022-04-09 06:40] 17neelam commented on #225
@TildaDares can I work on this issue?

[2022-04-09 07:38] AsmaIbrahimButt commented on #317
@jywarren Yeah, I got it. Tool tip serve a different function whereas dropdown menu has different therefore, to recognized the functionality so that user would not confused.Thanks for sharing.

[2022-04-09 08:32] TildaDares commented on #225
@17neelam A PR has already been opened for this. Thanks!

[2022-04-09 10:35] AsmaIbrahimButt opened #341 "Infragram Redesign UI by using HTML,CSS and Bootstrap Proposal [Outreachy]"
Hi everyone!

I made this high fidelity mock up of infragram.I changed some design pattern of header footer and question answer section.I would like to work on the UI of infragram.

![headerss](https://user-images.githubusercontent.com/89297894/162568145-53a0b4d1-3e92-42c1-9696-0c28eb4d08ff.png)
![footers](https://user-images.githubusercontent.com/89297894/162568184-def6ed27-b9e0-47d4-a2fe-c97b362

[2022-04-09 10:38] AsmaIbrahimButt commented on #341
@jywarren @TildaDares I am soo excited to know your point of view about this high fidelity design for Infragram.I would like to know about the your feedback if there is any need of improvement or is matching with the excepting criteria or not if not then which area is needed to be improved more.

[2022-04-09 13:14] AbihaFatima opened #342 "Designing a new full-screen user interface for Infragram [Proposal] [Outreachy '22]"
I wish to redesign the existing user interface of the [Infragram](https://infragram.org/sandbox/index.html), to make it more user friendly along with improving the user experience. I'll be improving the existing features and adding new features in different parts.
#### 1. Designing the Front-page
- Having a front page will give an overview of what infragram is all about. It can include an ouline o

[2022-04-09 13:16] AbihaFatima commented on #342
@jywarren @cesswairimu @TildaDares Can you please review my draft proposal?
Your feedback will be highly appreciated!

[2022-04-09 16:56] girija0707 opened #343 "Removing the empty paragraph tag in infragram/index.html"
### 💡Format this Issue Into a First Timers Issue
This has been marked as a good candidate for becoming a [first-timers-only issue](https://code.publiclab.org/#r=all) like these, meaning that it's **simple, self-contained**, and with some extra formatting✍️, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider **reformatting it as a first-tim

[2022-04-09 16:57] girija0707 commented on #343
hey @TildaDares I created an FTO can you review it if it's correct

[2022-04-09 17:26] TildaDares commented on #343
@girija0707 This looks great. Can you add the filename and a link to it? Thanks!

[2022-04-09 17:56] girija0707 commented on #343
hello @TildaDares made the changes, kindly review it again

[2022-04-09 18:17] girija0707 opened #345 "Beautifying the Readme.md file for infragram"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-04-09 18:26] girija0707 commented on #342
Hey @AbihaFatima did you use Canva or other designing app/tool to design your structure of what you are intending to change in the website

[2022-04-09 18:58] girija0707 commented on #345
@TildaDares please review this fto too

[2022-04-10 05:58] AsmaIbrahimButt commented on #305
@jywarren Yeah,sure .

[2022-04-10 06:14] AsmaIbrahimButt opened #347 "Enhance the readme file"
### 💡Format this Issue Into a First Timers Issue
This has been marked as a good candidate for becoming a [first-timers-only issue](https://code.publiclab.org/#r=all) like these, meaning that it's **simple, self-contained**, and with some extra formatting✍️, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider **reformatting it as a first-tim

[2022-04-10 06:14] AsmaIbrahimButt commented on #347
@TildaDares kindly review this fto.

[2022-04-10 06:54] ankittt20 opened #348 "Delete urlParams.js"
![Screenshot (108)](https://user-images.githubusercontent.com/92395053/162606280-4ed3090f-0055-485c-9376-d2063dbaa466.png)
Delete this file with no code to make the overall code better.

[2022-04-10 06:56] ankittt20 commented on #348
Hey @TildaDares can I work on this?

[2022-04-10 07:17] TildaDares commented on #343
Thanks @girija0707. This looks great.

[2022-04-10 07:18] TildaDares commented on #343
Reserved for @komal3120 for 24 hours!

[2022-04-10 07:23] TildaDares commented on #345
@girija0707 There should be a space before the happy.

[2022-04-10 08:03] AbihaFatima commented on #342
Hi @girija0707! I used https://app.diagrams.net/ to create these.

[2022-04-10 08:08] TildaDares commented on #347
@AsmaIbrahimButt This looks really great but I think the heading is fine the way it is. Thanks!

[2022-04-10 08:18] TildaDares commented on #348
Hi @ankittt20, go ahead. Thanks!

[2022-04-10 09:21] girija0707 commented on #342
Okay.. I'll try with this 😄

[2022-04-10 11:32] girija0707 opened #351 "Correcting deprecated initMouseEvent"
The initMouseEvent in file.js is a deprecated one
![Screenshot (88)](https://user-images.githubusercontent.com/63583646/162615721-a1c4ae03-09f8-4623-bfb2-20d5800637c1.png)

Suggested changes
[code]

[2022-04-10 11:33] girija0707 commented on #351
@TildaDares if the suggested changes are correct I would like to work on it

[2022-04-10 11:36] girija0707 commented on #345
updated 👍

[2022-04-10 15:57] Ishhha commented on #333
@sarxxt I would like to work upon this. Can u please assign this issue to me?

[2022-04-10 16:13] TildaDares commented on #345
Reserved for @HarrietMwanza for 24 hours!

[2022-04-10 16:13] TildaDares commented on #345
Thanks @girija0707. Great work!

[2022-04-10 16:16] TildaDares commented on #351
Hi @girija0707, this issue is a duplicate of #315. Thanks!

[2022-04-10 16:20] HarrietMwanza commented on #345
@TildaDares Finally!
I am working on it

[2022-04-10 16:35] girija0707 commented on #351
Oh my bad 😅I'll close this issue

[2022-04-10 16:35] #351 closed

[2022-04-10 16:47] HarrietMwanza commented on #345
Done.
@TildaDares please review this PR [here](https://github.com/publiclab/infragram/pull/352)

[2022-04-10 17:17] #345 closed

[2022-04-10 17:20] #325 closed

[2022-04-10 19:49] steph237 opened #353 "Re-design of the Infragram landing page and responsive design on mobile"
I went through the Infragram website and here are some suggestions I have for the UI of the landing page of Infragram. I noticed some issues on the original landing page which are listed below;
•	There is a lack of proper hierarchy
•	Because of lack of sections, the page makes new users confused
•	The lack of a navigation bar
I also worked on the responsiveness and provided a proposed design for t

[2022-04-10 19:53] steph237 commented on #353
@jywarren and @TildaDares Please I will like you to check my proposed design as a proposal for the outreach contribution phase

[2022-04-10 19:53] steph237 commented on #353
@jywarren and @TildaDares Please I will like you to check my proposed design as a proposal for the outreachy contribution phase

[2022-04-10 20:02] on2onyekachi commented on #353
@steph237 Awsome!

[2022-04-11 00:06] Forchapeatl commented on #226
@jwarren , could we include a helper icon , which displays an image (before and after white balancing versions) tooltip on hover as shown  on the gif bellow.
![presets](https://user-images.githubusercontent.com/24577149/162645685-7e6275e5-f625-411c-b7c0-395aa6615c85.gif)

[2022-04-12 00:44] cesswairimu opened #354 "Weekly Community Check-In #137 - Call for GSoC Proposals!"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2022-04-12 07:10] TildaDares commented on #343
Reassigning

[2022-04-12 07:10] TildaDares commented on #343
Reserved for @riyaku11 for 24 hours!!

[2022-04-12 08:07] riyaku11 commented on #343
working on it

[2022-04-12 09:10] jyotirawat224 commented on #310
hey @TildaDares can i go with issue

[2022-04-12 09:53] Garimak1204 commented on #339
hi @TildaDares, Can I work on this ?

[2022-04-12 09:54] Garimak1204 commented on #333
hi @TildaDares, Can I work on this ?

[2022-04-12 10:00] Garimak1204 commented on #130
hi @jywarren. Can I please try to work on it?

[2022-04-12 10:13] Paridhicodes opened #357 "Disappearance of border radius on the right end of the camera button upon hovering under source(cameras)"
### 💡Format this Issue Into a First Timers Issue
This has been marked as a good candidate for becoming a [first-timers-only issue](https://code.publiclab.org/#r=all) like these, meaning that it's **simple, self-contained**, and with some extra formatting✍️, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider **reformatting it as a first-tim

[2022-04-12 10:13] Paridhicodes commented on #357
@TildaDares may I work for this issue?

[2022-04-12 10:24] Paridhicodes commented on #357
A video highlighting the issue:

[https://drive.google.com/file/d/1ItjX6vxP5d2xhgyh8zb8iVV16gy2w7Wc/view?usp=sharing](url)

[2022-04-12 11:13] TildaDares commented on #357
Hi @Paridhicodes, we only use the FTO template for creating issues for first timers.

[2022-04-12 11:14] TildaDares commented on #357
Hi @Paridhicodes, we’re putting all UI related issues on hold because we plan on redesigning the Infragram homepage as an Outreachy project https://publiclab.org/wiki/gsoc-ideas#Outreachy:+Infragram.org+full-screen+UI+design. You can open issues to discuss the things you plan to change/redesign along with wireframes/sketches if you want to work on this project. These issues will serve as your prop

[2022-04-12 11:15] nobiaya commented on #329
@shubhangi013 yes its does

[2022-04-12 12:28] Paridhicodes commented on #357
Is there any finalized UI so that I can start working on its implementation?

[2022-04-12 12:41] ikavyajain opened #360 "Proposing a New Logo"
I have a new design for the logo. The existing one seems a little simple, Let's make it more attractive. I would like to work on this issue. Kindly assign it to me!

[2022-04-12 14:12] ikavyajain commented on #360
Another Sample can be:
![Untitled design (1)](https://user-images.githubusercontent.com/89743157/162982069-63d5bbdc-1bf4-401c-9886-d28b4f609222.gif)

[2022-04-12 14:35] ikavyajain commented on #360
![NatureLeaf (2)](https://user-images.githubusercontent.com/89743157/162986401-c5ae2406-c740-4e6d-9703-bd101efc8738.png)
![NatureLeaf (3)](https://user-images.githubusercontent.com/89743157/162987094-d1853eaf-6a17-44f8-acda-6f3926ce6b34.png)

[2022-04-12 16:56] TildaDares commented on #333
Hi , we're suspending all UI-related issues because we plan on redesigning the Infragram homepage as an Outreachy project https://publiclab.org/wiki/gsoc-ideas#Outreachy:+Infragram.org+full-screen+UI+design. You can submit a proposal to discuss all the changes you plan to make to the Infragram UI in publiclab.org. The call for proposals is [here](https://publiclab.org/notes/cess/04-04-2022/call-fo

[2022-04-12 17:13] #343 closed

[2022-04-12 17:18] TildaDares opened #361 "Create Bug Issue Template"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-04-12 17:20] TildaDares opened #362 "Create Feature Issue Template"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-04-12 17:24] TildaDares opened #363 "Create Pull Request Template"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-04-12 17:26] TildaDares commented on #363
Reserved for @adeolaadedeji for 24 hours!

[2022-04-12 17:27] TildaDares commented on #362
Reserved for @adeolaadedeji for 24 hours!

[2022-04-12 17:29] TildaDares commented on #361
Reserved for @asaayushisingh for 24 hours!

[2022-04-12 17:39] adeolaadedeji commented on #363
Thank you @TildaDares, I am on it.

[2022-04-12 17:39] adeolaadedeji commented on #363
Thank you @TildaDares, I am on it.

[2022-04-12 17:39] adeolaadedeji commented on #363
Thank you @TildaDares, I am on it.

[2022-04-12 18:06] mehul89 commented on #360
that's great 🤗

[2022-04-12 20:08] jywarren commented on #320
I wonder, have you run "npm install" after cloning it locally? Perhaps all the stylesheets in the dependent libraries haven't been downloaded... if that's the issue, this command should resolve it. Thanks!

[2022-04-12 20:30] jywarren commented on #288
Hi @shubhangi013 sure, we would be happy to take a PR on this. Thank you!

[2022-04-12 20:41] jywarren commented on #299
Hi, i think that sounds interesting. Maybe we could use the same module used in image-sequencer:

https://sequencer.publiclab.org/examples/#steps=paint-bucket{}

<img width="499" alt="image" src="https://user-images.githubusercontent.com/24359/163049821-c5c2a50d-d81d-4f1c-97e4-5ece3cf40000.png">

It's a bit complex but you can begin to see how it's integrated (from a library we found) on this line

[2022-04-12 20:42] jywarren commented on #299
However, what would the color picker be filling? I can't think of a specific need for a hex color value, what we are doing is kind of the opposite -- generating colors in the R, G, and B fields using some math expressions. Does that make sense?

[2022-04-12 20:51] jywarren commented on #301
Hi @komal3120 I think that's possible, can you test it out? The other solution is to use the `target="_blank"` attribute, described here; https://developer.mozilla.org/en-US/docs/Web/HTML/Element/a#attr-target

Thank you!

[2022-04-12 20:52] jywarren commented on #264
Hi, @girija0707 since you've completed yours, would you be interested in trying to create an FTO from this for someone else, if it hasn't yet been solved? Thanks!!!

[2022-04-12 20:55] jywarren commented on #340
Thank you! I'm catching up on issues first and hope to begin giving more in-depth feedback ASAP -- thanks a lot!

[2022-04-12 20:58] jywarren commented on #317
OK thank you @AsmaIbrahimButt I will close this now, then. Happy to discuss more issues too! Thanks!

[2022-04-12 20:58] #317 closed

[2022-04-12 21:01] jywarren commented on #353
Hello @steph237 thank you for your proposal! Please be sure to make an entry on https://publiclab.org/notes/cess/04-04-2022/call-for-proposals-outreachy-summer-2022 (or https://publiclab.org/notes/cess/04-11-2022/call-for-proposals-google-summer-of-code-2022 if GSoC) and link here too. You don't have to duplicate the content but just so we can see everyone's proposals together! We'll be reviewing

[2022-04-12 21:07] jywarren commented on #305
Hello, I think theres is already a PR and discussion ongoing on this at https://github.com/publiclab/infragram/pull/328/files#r848863818 -- thank you!!

[2022-04-12 21:12] jywarren commented on #226
Oh, this is interesting! Thank you! What if instead of on hover, we used a
details element?
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/details
Thank you!!

On Sun, Apr 10, 2022 at 8:06 PM FORCHA ***@***.***> wrote:

[2022-04-12 21:13] sarxxt commented on #299
yeah. Can we use slider then? like can we translate slider values to math expression, so user wont have to write values?

[2022-04-12 21:26] jywarren commented on #299
I wonder, maybe we can offer a menu of different expressions and
descriptions of what they do. But I think a slider can't quite offer the
specific math expressions we'd need!

On Tue, Apr 12, 2022 at 5:13 PM sarxxt ***@***.***> wrote:

[2022-04-12 21:46] Forchapeatl commented on #226
![presets2](https://user-images.githubusercontent.com/24577149/163059631-0aa64038-7b9d-46b6-a30e-c5049976f1af.gif)

[2022-04-13 01:37] nobiaya opened #366 "having an issue locating the index page on browser"
i will like to write on documentation on accessing infragram clone repro on local machine to view on your browser @TildaDares please assign to me

[2022-04-13 05:12] mehul89 commented on #213
https://www.linkedin.com/e/v2?e=-3v57l3-l1x48tar-ip&lipi=urn%3Ali%3Apage%3Aemail_email_second_guest_reminder_03%3BoSEXCHyrQFqz%2BjaBgvV%2FMw%3D%3D&t=suwj&ek=email_second_guest_reminder_03&li=11&m=hero&ts=accept_text

 https://www.linkedin.com/comm/in/mehul-chapaneri-126129211?trk=eml-email_second_guest_reminder_03-hero-2-prof%7Ename&trkEmail=eml-email_second_guest_reminder_03-hero-2-prof%7Ename-nu

[2022-04-13 05:27] asaayushisingh commented on #361
Thnak you !
 @TildaDares

[2022-04-13 06:30] TildaDares commented on #366
@nobiaya We have a [README](https://github.com/publiclab/infragram#quick-installation) for that. Is there something specific you'd like to add?

[2022-04-13 06:48] shubhangi013 commented on #354
I come from a region where crop and plant health, in general, is of extreme importance and while contributing to Infragram, it felt very good because I could resonate with the underlying purpose and also interact with ever-patient and helpful @TildaDares @jywarren and @cesswairimu.
I will soon submit my proposal for review and really look forward to contributing to Infragram!

[2022-04-13 07:41] lucky-chap commented on #363
@adeolaadedeji how is it going? How can I help?

[2022-04-13 08:39] adeolaadedeji commented on #363
Hi @lucky-chap  it's going well, thank you very much for the offer. The community has been great, i will reach out when i feel stuck..

[2022-04-13 10:32] komal3120 commented on #301
Yes, Can I start work on this issue?

[2022-04-13 11:39] Somya-Singhal commented on #300
Sorry for the delayed response, you have to first do `cd \plot2` and then do step-3. Hope it helps!

[2022-04-13 12:36] rajvidg commented on #300
Ok thank you I'll look into it.:)

[2022-04-13 12:43] rajvidg commented on #300
![Uploading plots2_Problem4.png…]()
Still facing some issues :( @Somya-Singhal

[2022-04-13 12:45] rajvidg commented on #300
<img width="781" alt="plots2_Problem4" src="https://user-images.githubusercontent.com/78178838/163182629-ba024f3a-d63d-4bb4-9175-034e56da1cd2.png">

@Somya-Singhal still facing some issues :(

[2022-04-13 13:10] Somya-Singhal commented on #300
type `cd\plots2`

[2022-04-13 16:28] rajvidg commented on #300
Thank you for your help, but it's still showing the same error. :'(

[2022-04-13 16:39] Somya-Singhal commented on #300
Can you show your folder structure once via screenshots if possible? Because you can directly right click in that directory and open the terminal also. May be this could help.

 1)
<img width="511" alt="image" src="https://user-images.githubusercontent.com/88088520/163228114-e9a033a8-2596-47d4-b195-374460f97058.png">

2)
<img width="464" alt="image" src="https://user-images.githubusercontent.com/8

[2022-04-13 17:39] #348 closed

[2022-04-13 17:41] TildaDares commented on #362
Hi @lucky-chap, go ahead. Thanks!!

[2022-04-13 17:53] lucky-chap commented on #362
@TildaDares please I am done

[2022-04-13 18:26] #363 closed

[2022-04-13 19:20] illyShelly commented on #300
Hi @rajvidg , you can use command in your terminal `ls` to list all folders and files. So, there you should see your plot2 folder. If not, you have located the repo somewhere else. Good luck.

[2022-04-13 19:21] BhavyaT-135 commented on #321
Hi, @TildaDares , @on2onyekachi , @cesswairimu , @jywarren Thank you for all the reviews on the issue. I have drafted my proposal on [Call for Google Summer of Code (GSoC) Proposals](https://publiclab.org/notes/cess/04-11-2022/call-for-proposals-google-summer-of-code-2022). Kindly approve the same and share your reviews! 😊

[2022-04-13 19:44] PeculiarE commented on #354
Thank you too @cesswairimu (and @jywarren and @TildaDares) for being patient and supportive ❤️ . I believe the collaboration  between we applicants is just a reflection of the Public Lab tradition and I, for one, am glad I chose this community to contribute to and be a part of.

This week, I am working on my proposal. and steadily reminding myself it doesn't have to be perfect before I submit it f

[2022-04-13 20:57] nobiaya commented on #366
yes
I will like to show how to solve this issue after running http-server on git and is showing list of files instead of the clone infragram page @TildaDares
![snappy](https://user-images.githubusercontent.com/47371418/163268992-3b83902c-ff46-4b98-8dcb-af21a33a9625.PNG)

[2022-04-14 06:08] rajvidg commented on #300
<img width="767" alt="plots2_Problem5" src="https://user-images.githubusercontent.com/78178838/163324198-4bf16d0b-c94d-45ca-ac68-a6e8bf62256a.png">
Ok thank you, I'll try that

[2022-04-14 06:09] rajvidg commented on #300
okay thank you!

[2022-04-14 06:15] rajvidg commented on #300
<img width="637" alt="plots2_Problem6" src="https://user-images.githubusercontent.com/78178838/163324920-4438ca60-52f9-45a3-bb55-f60b2bca4912.png">
So should I use this path or what? Can you please help? :(

[2022-04-14 11:37] Somya-Singhal commented on #300
Once can you try writing this command  `cd plots2/`

<img width="449" alt="image" src="https://user-images.githubusercontent.com/88088520/163383172-9e117ad3-70d8-4d50-859e-38a2ec4c9ebc.png">

[2022-04-14 11:54] illyShelly commented on #300
Hi @rajvidg , as @Somya-Singhal mentioned above. Write just `cd plots2`. I can see you have written there
**backslash** ` \`.
Or just I hope it works in Windows as well.
Write `cd `and hit `tab key `and **it offers you** folder/s inside of this `cloned_1` Good luck 🤞

[2022-04-14 12:04] Somya-Singhal commented on #354
Thank you @TildaDares @jywarren @cesswairimu for constantly helping us out and giving us regular feedback. It is a great experience to keep working with such a welcoming community.
I am working on my proposal and would be submitting it soon for review and feedback and also looking ahead to solve more issues. I am eagerly looking ahead to contributing to infragram repository.
Also interested to ope

[2022-04-14 13:14] Ishhha opened #375 "Infragram logo proposal"
### 💡Format this Issue Into a First Timers Issue
This has been marked as a good candidate for becoming a [first-timers-only issue](https://code.publiclab.org/#r=all) like these, meaning that it's **simple, self-contained**, and with some extra formatting✍️, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider **reformatting it as a first-tim

[2022-04-14 13:17] Ishhha commented on #375
Hello, @TildaDares and @jywarren, Hope you are in good health,
I want to work on this issue, Can u please assign this issue to me?
And also I want feedback from you about the design and theme of the logo.

[2022-04-14 14:49] steph237 commented on #353
Thank you @jywarren. Please do you mean i should create the proposal and drop the link here ?

[2022-04-14 16:16] #361 closed

[2022-04-14 16:26] TildaDares commented on #366
Hi @nobiaya, how were you able to resolve the issue?

[2022-04-14 18:25] mehul89 opened #376 "A new full-screen user interface Infragram UI proposal [GSOC '22 ]"
I wish to redesign the existing user interface of the [Infragram] to make it more user-friendly along with improving the user experience. I'll be improving the existing features and adding new features in different parts.

The following proposal is regarding the GSoC'22 application. The changes suggested in this issue are open to updates and modifications. I aim to improve the UI of the entire web

[2022-04-14 18:26] mehul89 commented on #376
@jywarren @cesswairimu @TildaDares Can you please review my draft proposal?
Your feedback will be highly appreciated!

[2022-04-14 18:40] TildaDares commented on #376
Hi @mehul89, thanks for opening this issue. You can go through the [call for proposals](https://publiclab.org/notes/cess/04-11-2022/call-for-proposals-google-summer-of-code-2022) to know how to post your proposal on Public Lab. Thanks!

[2022-04-14 18:43] mehul89 commented on #376
ok thanks

[2022-04-14 20:56] kunlefash opened #377 "Making the "Converter" dropdown more responsive"
### 💡Format this Issue Into a First Timers Issue
This has been marked as a good candidate for becoming a [first-timers-only issue](https://code.publiclab.org/#r=all) like these, meaning that it's **simple, self-contained**, and with some extra formatting✍️, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider **reformatting it as a first-tim

[2022-04-14 22:29] Ifetakuro opened #378 "UI Design of Infagram"
Hello, I was able to redesign the layout of the homepage. @TildaDares @jywarren please I would appreciate your feedbacks on this design so I can make corrections before I submit my final proposal.

The first image is the Modal. When the user opens the page the modal pops up after some seconds hinting the user on what to to

![www figma com_file_NPxEm0dDHU4XrskbIvUZ9i_Public-Lab---New-UI_node-id=3%

[2022-04-14 22:57] Ifetakuro commented on #339
@TildaDares Thank you for the information

[2022-04-15 12:01] tushmahe commented on #377
Hello @TildaDares, please review my PR for this issue.

[2022-04-15 12:21] TildaDares commented on #377
Hi , this issue is on hold because we plan on redesigning the Infragram homepage as an Outreachy project https://publiclab.org/wiki/gsoc-ideas#Outreachy:+Infragram.org+full-screen+UI+design. If you're an Outreachy applicant, you can visit this page to know how to make a proposal which is a document that contains changes you'd like to make https://publiclab.org/notes/cess/04-04-2022/call-for-propos

[2022-04-15 13:58] Yousiph1 opened #380 "Improve the 'How to use' instructions UI"
![Screenshot (2)](https://user-images.githubusercontent.com/49823605/163579724-c1e09f51-71f3-4ab7-a75f-9744fa0e70a7.png)

[2022-04-15 13:59] Yousiph1 commented on #380
I will like to try this!

[2022-04-15 14:23] rajvidg commented on #300
Oh, okay thank you!! :)

[2022-04-15 15:38] ikavyajain commented on #360
Hello @TildaDares and @jywarren, here are some more samples! 👍

[2022-04-15 15:39] ikavyajain commented on #360
Kindly review them!
![1](https://user-images.githubusercontent.com/89743157/163590875-cc4e7922-833a-492d-8de8-ac3b92fdb28a.png)
![2](https://user-images.githubusercontent.com/89743157/163590882-b411031e-52d0-4b9d-b0d4-0cb90d0b2b05.png)
![3](https://user-images.githubusercontent.com/89743157/163590887-db7d98e3-3fe2-4501-a312-c45ef2e6bd2b.png)
![4](https://user-images.githubusercontent.com/89743157/

[2022-04-15 17:29] girija0707 commented on #264
Hello @jywarren yes, I created an FTO out of it and I believe @TildaDares assigned it to a newbie too😊

[2022-04-15 17:36] girija0707 opened #382 "Further discussion on QnA section for Outreachy"
As discussed earlier in the issue #303 would like to know more on the qna section, if it is fine to link it in a new tab then will we still keep this part here as a preview for users ?
![IMG20220415230501](https://user-images.githubusercontent.com/63583646/163602649-8de682f3-ba26-4f4d-ad2b-9c28943647cc.jpg)

[2022-04-15 17:37] girija0707 commented on #382
@TildaDares @jywarren would like to know more on this

[2022-04-16 00:36] nobiaya commented on #366
@TildaDares  I resolve it's by locating the file from my Local Disk on my system  where it's was downloaded in my Users file .... please assign this  to me  showing steps and  diagram to  help anyone  who has such issue

[2022-04-16 05:38] vincent-simon opened #383 "Installing Infagram Locally"
### **Ubuntu PC:**
**Setting up git on your Local PC**
1. Open Terminal on your Ubuntu machine from the Show Applications menu or using the shortcut Ctrl + Alt + T.
Now as the Terminal is open we have to type some commands into it to install Git.
2. Firstly if this a new installation of Ubuntu for you then you can run the command sudo apt update. This updates the package index on your PC. If you h

[2022-04-16 05:41] vincent-simon commented on #383
@jywarren As you mentioned I have made this guide on how to setup Infragram on your Local PC for new contributors. As you can see the last step of the setup is not working for me as I am getting errors for the same.
That's why I tried with the Live Server extension. It would be great if you could share your thoughts on the same.
I am welcome to contribution to this document from others here and al

[2022-04-16 07:01] TildaDares commented on #366
Hi @nobiaya, that is the standard way of accessing a folder. I’m not sure we need documentation on that.

[2022-04-16 10:51] TildaDares commented on #382
As suggested in the [ideas list](https://publiclab.org/wiki/gsoc-ideas#:~:text=Suggestion%3A%20move%20Q%26A%20feature%20into%20a%20Help%20menu), you can move the Q&A section to a help menu.

[2022-04-16 20:39] simransia opened #384 "Proposal for the "Popup Modal Guide for Infragram" 🤍 🚀"
I have earlier created a [proposal](https://github.com/publiclab/infragram/issues/319#issue-1191762343) in which I have discuss few ideas about the UI design of Infragram. and also about it's [responsiveness](https://github.com/publiclab/infragram/issues/319#issuecomment-1091052456).

Now, I want to share few ideas about the **'Popup Modal Guide For Infragram'** which will guide the user about var

[2022-04-16 20:53] simransia commented on #384
Hello @TildaDares @jywarren @cesswairimu . Kindly review my mockup designs for the popup modal guide for the infragram users.

Most importantly please visit this link https://www.figma.com/proto/NKGSrf2EPgg6wRq1OajGFm/Infragram-UI?node-id=214%3A9&scaling=scale-down&page-id=0%3A1&starting-point-node-id=214%3A9 for watching all the popups explaining about all the features of Infragram.

I have not a

[2022-04-16 23:19] stephaniequintana commented on #354
I just wanted to drop a quick line to let everyone know how much I am enjoying (& appreciating) being a part of this community.

This past week I was able to participate in my second weekly community call. These have been so great and informative! I met Senior Program Director, Stevie Klass, and the Kits Fulfillment Manager, Alahna Morre. As with everyone else I've met and worked with in the commu

[2022-04-17 01:33] steph237 commented on #353
Greetings @jywarren here is the link to the proposal. Can I use it for my final application for outreachy?
https://publiclab.org/notes/S_mboyi/04-16-2022/outreachy-proposal-re-design-of-the-infragram-landing-page-and-responsive-design-on-mobile

[2022-04-17 02:44] sarxxt commented on #354
Its my first time contributing in open source and I am really enjoying it. Thanks @jywarren @TildaDares for being so supportive.
I am working on infragram proposal and really looking forward to work on this project.

[2022-04-17 02:47] sarxxt opened #385 "Designing a full Screen user-interface for infragram. ( Outreachy Applicant'22)"
### Please describe the problem (or idea)

### Please show us where to look

https://infragram.org/sandbox/ ...

### Browser, version, and operating system

****

## Thank you!

Your help makes Infragram better! We *deeply* appreciate your helping refine and improve this site.

To learn how to write really great issues, which increases the chances they'll be resolved, see:

https://publiclab.org/w

[2022-04-17 03:26] sarxxt commented on #385
@jywarren  @TildaDares  I will really appreciate if you check my proposal.

[2022-04-17 04:50] sarxxt commented on #385
@TildaDares can you change the label to proposal ?

[2022-04-17 06:09] 17neelam commented on #285
@TildaDares what do I have to do next?

[2022-04-17 07:52] SHIVANGISINGH1 opened #386 "Designing a whole new user interface for Infragram UI proposal Outreachy'22"
I wish to re-design the UI for Infragram. I went through the current UI and had some suggestions on how to improve and add some more features to it.

1. There is no proper navigation bar on the current site. I added a section for `Home` (the main page), `About`, `Learn` (this will include tutorials on how to get started and more), and a section for `QnA`.

![main screen](https://user-images.github

[2022-04-17 12:07] TildaDares commented on #385
Hi @sarxxt, we're currently accepting proposals on publiclab.org. It's a lot easier to review proposals when they're all in one place. The [call for proposals](https://github.com/publiclab/plots2/issues/10840) issue gives detailed info about how to write a proposal.

[2022-04-17 12:11] TildaDares commented on #285
Hi @17neelam, you can open a first-timers only issue for someone else or work on issues with the `bug` or `help wanted` labels. Thanks!

[2022-04-17 18:06] SHIVANGISINGH1 commented on #386
Hi @TildaDares, could you kindly have a look at my proposal and share your feedback. 😊😊

[2022-04-17 19:45] muskan2901 opened #387 "Created a Mock Up Design for Infragram.org"
Hello Everyone!
I have redesigned the existing user interface of the [Infragram](https://infragram.org/sandbox/index.html), to make it more fascinating and comfortable for users. I have enhance existing functions and add new functions in various parts.
**All components of this interface will be built-in using Bootstrap 4.**
### 1. Designed the home page of Infragram.
Homepage is extremely necessar

[2022-04-17 20:13] muskan2901 commented on #387
Hi @TildaDares @jywarren. Please review my mockup design for Infragram.
I am also working on the window pop-up. It is almost done and will be presenting it soon. I will be proposing it on the site of the Public Laboratory for Outreachy.
looking forward to hearing from you.

[2022-04-17 22:11] PeculiarE commented on #354
Hi @cesswairimu, I've created the next check-in [here](https://github.com/publiclab/mapknitter/issues/1659) in advance for tomorrow. Could you please review and lemme know if there any changes I need to make? Thank you!!!!

[2022-04-17 22:16] cesswairimu commented on #354
Hi @PeculiarE , I just saw it. Its looking good. Thanks

Moved to https://github.com/publiclab/mapknitter/issues/1659. Thanks all

[2022-04-17 22:16] #354 closed

[2022-04-17 22:20] PeculiarE commented on #354
Thank you 😄  @cesswairimu

[2022-04-18 00:43] guyinmanhattan2021 commented on #362
Hi @TildaDares, can I contribute to this?

[2022-04-18 08:00] TildaDares commented on #387
Hi @muskan2901, you can post it on the public lab site and we’ll review it there. Thanks!!

[2022-04-18 08:42] cesswairimu commented on #354
sure thing, done. Thanks

[2022-04-18 13:50] AbihaFatima commented on #342
@TildaDares @jywarren @cesswairimu
I have submitted my proposal on publiclab.org, https://publiclab.org/notes/abiha_fatima1908/04-15-2022/outreachy-proposal-design-a-new-full-screen-user-interface-for-infragram-org
Can you please review it. Thanks! :)

[2022-04-18 16:52] SHIVANGISINGH1 opened #389 "Broken link in the https://infragram.org/"
### Please describe the problem
I was going through the [Infragram website ](https://infragram.org/) and found a broken link

### Please show us where to look

![infragram1](https://user-images.githubusercontent.com/80265624/163842077-35c86471-ae54-439e-a30e-3067ad84e495.png)

### The link provided to the [pre-modified Point and Shoot Infragram Camera](http://store.publiclab.org/products/infragram

[2022-04-18 19:08] 17neelam commented on #285
@TildaDares  do I have to create a proposal? is it necessary for all?

[2022-04-18 19:50] 17neelam commented on #285
@TildaDares in the date of contribution started I have to write the date when the issue is assigned to me or when I start working?

[2022-04-18 20:31] TildaDares commented on #285
Hi @17neelam, you can add the day you were assigned the issue.

[2022-04-18 20:49] TildaDares commented on #389
Hi @SHIVANGISINGH1, thanks for noting these broken links. Would you like to open a PR for it?

[2022-04-19 05:48] SHIVANGISINGH1 commented on #389
Hello, @TildaDares thank you so much for your response.☺

Yes, I would like to open a PR for this issue. I am a little confused about the PR, will you provide me the correct links so that I can fix it or I just open a PR similar to this issue?

[2022-04-19 11:45] Ishhha opened #390 "Designing a full Screen user-interface for Infragram( Outreachy Applicant'22)"
I am Isha, an outreachy applicant and this is my first time contributing to open source.
After going through Infragarm.org, I observed many UI issues there. Because of its UI, users may have a bad experience with this website. To improve its UI, I have made a wireframe of the website homepage which shows how it will going to look if we improve it in certain ways.
![Infragram UI proposal](https://u

[2022-04-19 12:16] shubhangi013 opened #391 "table of contents bar to make navigation easier"
### 💡Format this Issue Into a First Timers Issue
This has been marked as a good candidate for becoming a [first-timers-only issue](https://code.publiclab.org/#r=all) like these, meaning that it's **simple, self-contained**, and with some extra formatting✍️, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider **reformatting it as a first-tim

[2022-04-19 12:17] sarxxt commented on #299
@jywarren  I tried adding menu of different expressions in my proposal. I would love to get your feedback on it

[2022-04-19 13:28] abhishekchauhan15 opened #392 "Fix indentation in new.html.erb"
### 💡Format this Issue Into a First Timers Issue
This has been marked as a good candidate for becoming a [first-timers-only issue](https://code.publiclab.org/#r=all) like these, meaning that it's **simple, self-contained**, and with some extra formatting✍️, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider **reformatting it as a first-tim

[2022-04-19 13:33] abhishekchauhan15 commented on #392
@TildaDares Kindly Review my FTO-issue

[2022-04-19 13:36] TildaDares commented on #389
1. https://store.publiclab.org/products/infragram-pi-camera
2. https://store.publiclab.org/products/infragram-diy-filter-pack
3. https://github.com/publiclab/infragram/issues/

[2022-04-19 13:55] TildaDares commented on #392
Hi @abhishekchauhan15, please add a link to the file. Thanks!

[2022-04-19 15:19] TildaDares commented on #391
Hi @shubhangi013, can you add indentation to the links? It'll be easier to know which headings are subheadings.

[2022-04-19 15:45] SHIVANGISINGH1 commented on #389
Thank you for providing the correct links 😊😊

I have opened a PR and fixed these links.

[2022-04-19 18:49] SHIVANGISINGH1 commented on #389
Hey @TildaDares sorry to bother you again but there is one more link on the website for [webcams](http://store.publiclab.org/product/infragram-webcam) which is broken.

![infra](https://user-images.githubusercontent.com/80265624/164074314-43863182-6ae9-485b-88b1-ef7e3e5679c0.png)

I searched for webcams in the Public lab store but did not find anything so I informed you.

Thank you

[2022-04-19 19:29] abhishekchauhan15 commented on #392
@TildaDares Updated!

[2022-04-19 20:11] muskan2901 commented on #392
I would like to work on this FTO-issue.

[2022-04-20 06:26] TildaDares commented on #392
Hi @abhishekchauhan15, the link doesn't work.

[2022-04-20 06:29] TildaDares commented on #389
@SHIVANGISINGH1 The broken links in the modal have been resolved in https://github.com/publiclab/infragram/pull/203

[2022-04-20 07:56] shubhangi013 commented on #391
Done! I've also updated the branch wherein one can find the adequately indented code if they get stuck.

[2022-04-20 08:37] SHIVANGISINGH1 commented on #389
Okay

[2022-04-20 09:23] Deepthi562 commented on #362
Hi @TildaDares, I am a beginner in open source and eagerly waiting to contribute. I want to start contributing to this. May? Can I get this assigned?
Thank you.

[2022-04-20 10:01] #392 closed

[2022-04-20 10:58] hvdoshi commented on #362
@TildaDares  Can I contribute to this isuue?

[2022-04-20 11:01] hvdoshi commented on #225
@TildaDares I want to work on this issue.

[2022-04-20 16:41] TildaDares commented on #375
Hi @Ishhha, if you're applying for Outreachy or GSOC you can add this to your proposal. Thanks!

[2022-04-20 16:42] #347 closed

[2022-04-20 16:45] TildaDares opened #394 "Move Contributing Guidelines to Bottom of README"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-04-20 16:46] TildaDares commented on #391
Hi @shubhangi013, I just noticed something weird in the readme I'd like to change #394. After that, we can move ahead with this one but you'll have to make some changes.

[2022-04-20 16:48] TildaDares commented on #394
Reserved for @komal3120 for 24 hours!

[2022-04-20 17:09] Ishhha commented on #375
Hello Ma'am, I'm an outreachy applicant and I have added these logos.

[2022-04-20 17:11] SAKSHI993 opened #395 "Full screen UI for Infragram & Proposing Additional Features (Oureachy Applicant'22)"
1. Added a header and footer with a simple look to create a **minimalist website**. **Two large buttons** focus on **buying or modifying cameras** and would attract the user's attention. **Fixed Social media icons** on the screen would enable users to easily open and explore links of Infragram pages on different social media platforms.

![image](https://user-images.githubusercontent.com/76905956/1

[2022-04-21 00:52] priyakumari02 opened #396 "Public Lab Issues"
![image](https://user-images.githubusercontent.com/77202746/164349919-ee785f0a-e749-45e4-9dc6-7792f398a086.png)

### Please describe the problem (or idea)
Upon clicking on public Lab issues,It is not directing to GitHub of Public Lab

As it is written Public Lab issues , after clicking on it it should be directed to public lab issues section of github

### Please show us where to look

https://inf

[2022-04-21 05:57] Deepthi562 commented on #396
@priyakumari02, could you please provide the correct link because the link you gave redirects to nothing as you mentioned. Thank you.

[2022-04-21 06:01] Deepthi562 commented on #396
![pic](https://user-images.githubusercontent.com/71760959/164384655-e9e16683-21d7-4693-b33b-14784c2524ec.png)

It is directed to this. Please clarify I want to work on this.

[2022-04-21 06:10] Deepthi562 commented on #389
@SHIVANGISINGH1 @TildaDares, is there anything else I can contribute to this issue. Please reply as soon as possible. Thank you.

[2022-04-21 06:13] Deepthi562 commented on #375
@Ishhha @TildaDares, is there anything else I can contribute here. Kindly let me know. Thank you.

[2022-04-21 06:18] SHIVANGISINGH1 commented on #389
Hello @Deepthi562 as you can see the modal links issue was solved, I created the issue for some broken links on the Infragram website. For now, I have fixed these links and raised a PR, you can go through the website and look for more broken links if present or any other bug and create an issue.

Feel free to ask for help. 😊❤

Thank you

[2022-04-21 06:49] Deepthi562 opened #397 "Links redirected incorrectly."
### Please describe the problem (or idea)

- I was going through the website (https://infragram.org/) and found that some of the links are not redirected as mentioned.
- The First one is the [buy a modded camera](http://store.publiclab.org/products/infragram-diy-filter-pack) which is redirecting to another link saying https://store.publiclab.org/products/infragram-diy-filter-pack (DIY filter pack)

[2022-04-21 06:54] Deepthi562 commented on #397
@TildaDares, Please review my issue so that I can work on this as early as possible. Thank you.

[2022-04-21 07:26] TildaDares commented on #397
Hi @Deepthi562, this issue is a duplicate of #389.

[2022-04-21 07:54] Deepthi562 commented on #397
Hi @TildaDares, sorry for not checking it properly. I found that two separate terms(buy a modded camera and DIY filter pack ) lead to the same link. Kindly check this. Meanwhile, i will work on the other ones. Thank you.

[2022-04-21 08:03] Ishhha commented on #375
Hello @Deepthi562, I'm sorry you can't work on this issue. As it is the part of my proposal.
You can go through the issues with FTO label, if you are a first time contributor.
Thank you for your interest😊.

[2022-04-21 08:14] ikavyajain opened #398 "Designing a New Interface with a New Logo along with Implementation of Light and Dark Mode [Outreachy Applicant'22]"
The existing interface is quite simple and regular!
Therefore, to improve it and make it look more fascinating:
- I have designed a New Interface referring to the existing one.
- I have added a Light and Dark Mode feature to it as per the user's convenience.
- I have even proposed a New Logo for Infragram.
- Added the steps through which an amateur can easily click, save and star their snapshots.

[2022-04-21 08:16] ikavyajain commented on #398
@jywarren @TildaDares @on2onyekachi I'll be very grateful if you can review it once so that I can move forward with my work!
@TildaDares can you change the tag to 'design' and 'proposal'.

Thank You so much for considering me as an applicable candidate to learn and work on such a great Tool.

[2022-04-21 08:19] TildaDares commented on #398
Hi @ikavyajain, we're accepting proposals on the Public Lab site. You can read through this [issue description](https://github.com/publiclab/plots2/issues/10840) to know how to submit your proposal there. Thank you!!

[2022-04-21 11:59] TildaDares commented on #396
This looks like an issue for the Community Toolbox repo.

[2022-04-21 13:20] Paridhicodes opened #400 "Full Screen UI for Infragram Tool and proposal for new logo design [ Outreachy Applicant'22 ]"
Hi, I have designed a full screen UI for the Infragram tool and proposed a new logo design.

### **I, hereby describe the UI designed by me:**

- The bottom left corner shows four options bulleted by a bulb icon. These options redirect the user to the respective web pages. The Q and A option scrolls down to the `Q and A section`.
- The top left corner beneath the infragram logo has options to `sav

[2022-04-21 13:54] TildaDares commented on #395
Hi @SAKSHI993, we're accepting proposals on the Public Lab site. You can read through this https://github.com/publiclab/plots2/issues/10840 to know how to submit your proposal there. Thank you!!

[2022-04-21 14:22] DokuaAsiedu commented on #390
Hey @Ishhha, this looks really good. Would you be adding some colour? I think that would make it pop out even more. Nevertheless, your design is really impressive :thumbsup:.

[2022-04-21 17:19] #394 closed

[2022-04-21 17:21] TildaDares commented on #391
Hi @shubhangi013, you can update your issue now.

[2022-04-21 18:06] Deepthi562 commented on #15
@jywarren is the issue open or closed? kindly close it if it's done.

[2022-04-21 18:10] Ishhha commented on #390
Thank you @DokuaAsiedu for the feedback. I will soon publish the colored-designed part of the Infragram.

[2022-04-21 19:23] DokuaAsiedu commented on #390
Nice

[2022-04-22 06:55] SHIVANGISINGH1 commented on #383
Hey @vincent-simon are you still getting the error?
I have runned the same commands on my window OS it worked fine. If you are still getting the error on ubuntu, I'll give it a try on my wsl.

[2022-04-22 10:05] shubhangi013 commented on #391
Hey @TildaDares ! I've done it. :smile:

[2022-04-22 10:41] TildaDares commented on #391
Thanks @shubhangi013!!

[2022-04-22 10:42] TildaDares commented on #391
Reserved for @Deepthi562

[2022-04-22 11:04] Deepthi562 commented on #391
Thanks, @TildaDares I'm working on it. I will get back to you as soon as possible.

[2022-04-22 11:24] TildaDares commented on #391
Hi @Deepthi562, you pushed to your fork instead of `publiclab/plots2`.

[2022-04-22 11:26] Deepthi562 commented on #391
@TildaDares i am a beginner sorry about that, im checking it.

[2022-04-22 11:41] Deepthi562 commented on #391
@TildaDares I actually haven't done anything specifically to push into my fork. I made sure that the head repo is publiclab. Correct me if anything is wrong or changes to be made with the attached screenshot.
![pic18](https://user-images.githubusercontent.com/71760959/164707442-12a9e91c-7488-4138-a445-d1a70b27b819.png)

[2022-04-22 13:53] #391 closed

[2022-04-22 15:11] ikavyajain commented on #398
@TildaDares Hello Mam,
Need your help into something!
I have posted my proposal on the Public Lab website but it has not been published till now! Can you help me through this, I have very little time left!
Kindly review it for me!
Thanks and Regards

[2022-04-22 15:13] ikavyajain commented on #398
@jywarren Kindly help Sir! I'll be very grateful.

[2022-04-24 09:59] SHIVANGISINGH1 opened #405 "Fix Indentation in webglColormapGenerator.js file"

[2022-04-24 11:42] TildaDares commented on #405
Hi @SHIVANGISINGH1, that file is a bit delicate for a first-timer to handle. It'd be better for someone more experienced to work on this. Thanks!

[2022-04-24 12:09] SHIVANGISINGH1 commented on #405
Okay thanks 😊

[2022-04-24 12:16] SHIVANGISINGH1 commented on #405
Oh okay, no worries. I'll open some other FTO.
And I have raised a PR for this same file, please review it, if no one takes this issue I'll fix the indentation 😅.

Thank you

[2022-04-24 14:02] Forchapeatl commented on #130
Hello @jywarren  Implementing multiple resolutions has been a success.
![multipleRes](https://user-images.githubusercontent.com/24577149/164980211-dc0d5697-5521-4009-8679-86e58c55d6eb.png)

[2022-04-26 08:16] Deepthi562 commented on #405
@TildaDares can i try this?

[2022-04-27 08:19] on2onyekachi opened #406 "Weekly Community Check-In #139 - Perseverance"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2022-04-27 09:18] akanbifatimah commented on #406
Thank you @on2onyekachi for this thoughtful message, "Success, despite popular belief, isn’t a one-way path or a straight line. It is a muddled road with various ups and downs, and you should navigate it with care."...so true, thank you again.

[2022-04-27 10:27] illyShelly commented on #406
@on2onyekachi this is awesome. I love it. The mud sometimes becomes even wetland 😅

[2022-04-27 13:26] girija0707 commented on #406
Beautifully written @on2onyekachi ♥️ This reminds me of a quote, 'things may seem colossal and we're small, yet if we persist', though I don't remember the exact words as this was from the chapters we had in school 😅
Also thank you for the mention, it's always a fun and great learning experience to work with wonderful mentors and peers 😊

[2022-04-27 13:46] SHIVANGISINGH1 commented on #406
@on2onyekachi such an amazing thought 👍❤. Thank you so much for motivating us to keep working hard ✌